.root {
  display: flex;
  flex: var(--preview-width-fraction);
}

.iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

.noComponentSelected {
  border: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
