.button-group {
  margin-top: 2.25rem;
  margin-bottom: 0;
}
.button-row {
  margin-left: 0;
}
@media only screen and (max-width: 640px) {
  .button-row {
    margin-right: -0.75rem;
  }
  .button-row span {
    width: 100%;
  }
  .button-row button {
    width: 100%;
  }
}
