.filterWrapper {
  display: flex;
  margin-bottom: 1rem;
}

.heading {
  display: flex;
  align-items: center;
  gap: var(--ds-size-4);
}

.h2 {
  font-size: 2rem;
  margin-top: var(--ds-size-6);
  margin-bottom: var(--ds-size-6);
}

.h3 {
  flex: 1;
  font-size: 1rem;
}

.select {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  margin: 0 !important;
  width: 70px !important;
}

.title {
  align-items: center;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  gap: var(--ds-size-8);
}

.errorDangerCount {
  color: var(--ds-color-danger-surface-default);
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: var(--ds-color-danger-border-default);
  border-radius: var(--ds-border-radius-md);
  padding: var(--ds-size-1) var(--ds-size-3);
}

.errorSuccessCount {
  color: var(--ds-color-success-surface-default);
  font-size: 1.2rem;
  background-color: var(--ds-color-success-border-default);
  border-radius: var(--ds-border-radius-md);
  padding: var(--ds-size-1) var(--ds-size-3);
  opacity: 0.7;
}

.chart {
  height: 125px;
  width: 250px;
}

.metricsContainer {
  display: flex;
  gap: var(--ds-size-12);
  flex-wrap: wrap;
}

.metric {
  background-color: #f5f6f6;
  border: 1px solid #efefef;
  padding: var(--ds-size-8);
}

.appMetrics {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-22);
}
