.data-element-field {
  margin-bottom: 1rem;
}

.data-element-label-wrapper {
  display: flex;
  justify-content: space-between;
}

.data-element-label-title {
  display: flex;
  align-items: 'center';
}

.data-element-icon {
  font-size: 22px;
}
