.info-wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

/* If card contains details anywhere it will set padding to 0 */
.cardFix {
  padding: var(--dsc-card-padding);
}

.data-elements {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.data-element-label-wrapper {
  display: flex;
  justify-content: space-between;
}

.data-element-label-title {
  display: flex;
  align-items: center;
}

.data-element-icon {
  font-size: 22px;
  margin-right: 0.25rem;
}

.data-element-details-wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
