.header {
    display: flex;
    align-items: center;
    gap: var(--fds-spacing-3);
    padding-inline: var(--fds-spacing-3);
    padding-block: var(--fds-spacing-2);
    background-color: var(--fds-semantic-surface-neutral-selected);
    border-bottom: 1px solid var(--fds-semantic-border-divider-default);
}

.changePageId {
    background-color: white;
}

.helpText {
    visibility: hidden;
}
