.configWarningWrapper {
  padding: var(--spacing-6) 0;
}

.configWarningHeader {
  align-items: center;
}

.configWarningHeader {
  background-color: var(--fds-semantic-surface-danger-subtle);
}

.configWarningContent {
  margin: var(--fds-spacing-2) var(--fds-spacing-4);
  padding: var(--fds-spacing-6) var(--fds-spacing-4);
  border: 1px solid var(--fds-semantic-border-neutral-subtle);
  border-radius: var(--ds-border-radius-md);
  background-color: var(--fds-semantic-surface-neutral-default);
}

.configWarningList {
  margin-top: var(--fds-spacing-2);
}

.duplicatedId {
  font-weight: bold;
}
