.wrapper {
  display: block;
  margin-top: var(--fds-spacing-3);
  width: 100%;
  margin-bottom: calc(-1 * var(--fds-spacing-4));
}

.navigateSubformButton {
  margin-left: var(--fds-spacing-5);
  margin-top: var(--fds-spacing-1);
  margin-bottom: var(--fds-spacing-2);
}
