.savingContainer {
  display: flex;
  align-items: center;
  gap: var(--fds-spacing-1);
  margin-top: var(--fds-spacing-4);
}

.savedIcon {
  font-size: var(--fds-sizing-8);
  color: var(--fds-semantic-text-neutral-subtle);
}
