@using AltinnCore.ServiceLibrary.ServiceMetadata;
@model TestMetadata

@{ViewBag.Title = "Universell utforming";}


<p>
    TODO: Informasjon om universell utforming.
    <ul>
        <li>Behov for testing</li>
        <li>Verktøy og ressurser</li>
        <li>Klarspråk</li>
        <li>...</li>
    </ul>
</p>
