@using AltinnCore.ServiceLibrary.ServiceMetadata;
@model TestMetadata

@{ViewBag.Title = "Ny test";}

<!--h3>Ny test</h3-->

<form method="POST" asp-route-action="Create">
    <fieldset>   
        <div class="form-group">
            <label asp-for="Name">Navn</label>
            <input asp-for="Name" type="text" required="required" minlength="3" maxlength="30" pattern="[a-zA-Z][a-zA-Z0-9_\-]{2,30}" 
                class="form-control" placeholder="Eksempel: Enhetstest-validering" onchange="$('#name').html(this.value);" autocomplete="off"  
                title="Må begynne med en bokstav og ikke inneholde mellomrom eller spesialtegn ('-' er tillatt)">
            <div>
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <small class="text-muted">Navnet vil også benyttes som filnavn for testen</small>
        </div>

        <div class="form-group">
            <label asp-for="Type">Type </label>
            <select asp-for="Type" class="form-control col-md-6">
                <option value="0">Enhetstest</option>         
                <option value="1">Ytelsestest</option>
                <option value="2">Selenium WebDriver</option>
            </select>
        </div>

        <input class="btn btn-primary" type="submit" value="Lag ny test">
    </fieldset>
</form>
