@using AltinnCore.ServiceLibrary.ServiceMetadata;
@model TestMetadata

@{ViewBag.Title = "Test - " + @Model.Name;}

<div class="text-center">
    TODO: @Model.Name

    <a class="btn btn-outline-secondary" asp-action="Index">
        Tilbake
    </a>

</div>
