.fileStatus {
  display: flex;
  align-items: center;
  gap: 3px;
}

.deleteLoader {
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  float: right;
}

.deleteButton {
  float: right;
  padding-right: 0;
}

.blueUnderlineDotted {
  border-bottom: 1px dotted #1eadf7;
}
