.createReleaseForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.releaseVersionInput {
  width: 50%;
}

.validationDialogTrigger {
  display: inline;
  padding: 0;
}

.validationDialogTrigger span {
  text-decoration: underline;
}
