.heading {
  margin-bottom: var(--ds-size-2);
}

.tableWrapper {
  max-height: 550px;
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: var(--ds-size-1);
}

.tableHeaderCell,
.tableCell {
  vertical-align: top;
  padding: var(--ds-size-2);
}

.tableCell {
  border: unset;
}

.tableIconCell {
  text-align: center;
  width: 1px;
}

.canceled {
  background-color: var(--ds-color-warning-surface-tinted);
}
.failed {
  background-color: var(--ds-color-danger-surface-tinted);
}
.none {
  background-color: var(--ds-color-info-surface-tinted);
}
.partiallySucceeded {
  background-color: var(--ds-color-warning-surface-tinted);
}
.succeeded {
  background-color: var(--ds-color-success-surface-tinted);
}

.icon {
  --icon-size: var(--ds-size-9);
  display: block;

  height: var(--icon-size);
  width: var(--icon-size);
}

.canceledIcon {
  color: var(--ds-color-warning-border-default);
}
.failedIcon {
  color: var(--ds-color-danger-border-default);
}
.noneIcon {
  color: var(--ds-color-info-border-default);
}
.partiallySucceededIcon {
  color: var(--ds-color-warning-border-default);
}
.succeededIcon {
  color: var(--ds-color-success-border-default);
}

.statusCell,
.versionCell,
.finishedDateCell,
.deployedByCell,
.buildLogCell {
  padding: var(--ds-size-4);
}

.versionCell,
.finishedDateCell,
.deployedByCell,
.buildLogCell {
  white-space: nowrap;
}

.statusCell {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
}

.eventsDetails {
  font-size: 0.9rem;
}

.events {
  margin: 0;
  padding: var(--ds-size-2) 0;
}

.event {
  display: flex;
  gap: var(--ds-size-4);
  padding: var(--ds-size-2) 0;
}

.eventCreatedDate {
  opacity: 0.7;
  white-space: nowrap;
}

.eventMessage {
  white-space: pre-line;
}
.eventCreatedDate,
.eventMessage {
  font-family: monospace;
  font-size: 0.8rem;
  margin: 0;
  word-wrap: break-word;
}
