.dataModelLink {
  display: flex;
  align-items: center;
}

.linkIcon {
  font-size: 1.5rem;
}

.selectDataModelComponent {
  width: 100%;
}

.linkedDataModelContainer {
  display: flex;
  align-items: center;
  gap: var(--ds-size-1);
  padding-block: 0.75rem;
}

.linkedDataModelIcon {
  height: var(--ds-size-4);
  width: var(--ds-size-4);
}

.selectedOption {
  gap: var(--ds-size-1);
  word-break: break-word;
}
