.landingDialog {
  background-color: #e3f7ff;
  border-radius: 0;
  box-shadow: 1px 1px 3px 2px rgb(0 0 0 / 25%);
  height: 229px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  padding: 3rem 3rem 3rem 96px;
  width: 783px;
}

.landingDialog h1 {
  font-size: 18px;
  font-weight: bold;
}

.background {
  background-color: #f7f7f7;
}
