.helpTextButton {
  background-color: transparent;
  border-radius: 50px;
  padding: 0;
  cursor: pointer;
  border: none;
}

@media print {
  .helpTextButton {
    display: none;
  }
}

.helpText-iconFilled {
  display: none;
}

.helpText-icon {
  color: var(--ds-color-accent-base-default);
  height: 26px;
  width: 26px;
}

.helpTextButton:where(:hover, :focus, [data-state^='open']) > .helpText-icon {
  display: none;
}

.helpTextButton:where(:hover, :focus, [data-state^='open']) > .helpText-iconFilled {
  display: inline-block;
}

.helpTextContent {
  font: var(--ds-typography-paragraph-md);
  font-family: inherit;
  width: fit-content;
  max-width: 700px;
}

.helpText-focus:focus-visible {
  outline: var(--ds-border-width-focus) solid var(--ds-color-neutral-text-default);
  outline-offset: var(--ds-border-width-focus);
  box-shadow: 0 0 0 var(--ds-border-width-focus) var(--ds-color-neutral-background-default);
}

.screenReaderOnly {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
