.container {
  width: 100%;
}

.alert,
.idInput {
  padding: var(--fds-spacing-5);
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 245px;
}

.duplicatedIdField {
  background-color: var(--fds-semantic-surface-danger-subtle) !important;
}
