.container {
  --page-max-width: 1056px;
  --page-padding-x: 12px;

  background-color: white;
  width: 100%;
  max-width: var(--page-max-width);
  padding: var(--page-padding-x);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
