.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  --gap-cards: var(--fds-spacing-2);
  gap: var(--gap-cards);
  --padding-cards: var(--fds-spacing-2);
  padding: var(--padding-cards);
}

.card {
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  object-fit: contain;
}

.fileName {
  --grid-template-columns: 6;
  --cards-paddings: 6;
  --number-of-cards: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(
    (var(--studio-image-library-modal-width) / var(--number-of-cards)) -
      var(--grid-template-columns) * var(--gap-cards) - var(--cards-paddings) * var(--padding-cards)
  );
}
