.transformArrowRight {
  transform: rotate(-90deg);
}

.transition {
  transition-duration: 0.1s;
  min-width: 0;
  flex-shrink: 0;
  display: inline-flex;
}

.container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}
