.popover {
  position: fixed !important;
  max-width: 25rem;
  padding: var(--fds-spacing-4);
  z-index: 1301;
}

.popover > *:first-child {
  margin-top: 0;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: var(--fds-spacing-2);
}

.popoverText {
  margin-bottom: var(--ds-size-4);
}
