.policyEditorTop {
  width: 450px;
  margin-bottom: 50px;
}

.selectAuthLevelWrapper {
  width: 100%;
}

.selectAuthLevel {
  width: 300px;
}

.addCardButtonWrapper {
  margin-block: 20px;
  width: 595px;
  min-width: 595px;
}

.space {
  margin-block: 20px;
}

.policyEditorHeader {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 30px;
}

.subHeader {
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 18px;
}

p, h1, h2 {
  margin: 0;
  line-height: 24px;
}
