.alertWrapper {
  width: 590px;
  min-width: 590px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.selectAuthLevelWrapper {
  width: 100%;
}

.selectAuthLevel {
  width: 300px;
}

.addCardButtonWrapper {
  margin-block: 20px;
  width: 595px;
  min-width: 595px;
}

.space {
  margin-block: 20px;
}

.policyEditorHeader {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 30px;
}

.subHeader {
  margin-top: 30px;
}
