.previewContainer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: var(--fds-spacing-2);
  align-items: center;
  margin: 0 var(--fds-spacing-5);
}

.fileIcon {
  font-size: var(--fds-sizing-5);
}
