.fileDescription,
.fileName {
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileName {
  font-weight: bold;
}

.missingFileDescription {
  font-style: italic;
}

.fileInfoContainer {
  overflow: hidden;
  text-overflow: ellipsis;
}
