.header {
  background-color: var(--fds-semantic-surface-action-subtle);
  font-weight: 400;
  border-bottom-color: var(--fds-semantic-border-action-hover);
}

.table tr td:last-child {
  width: 1%;
}
