.consentBlock {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-8);
  background-color: var(--ds-color-accent-background-default);
  padding: var(--ds-size-12);
  margin-bottom: 3px;
}

.expiration {
  font-weight: 500;
  margin-top: var(--ds-size-4);
}

.buttonRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--ds-size-4);
  margin-top: var(--ds-size-15);
  pointer-events: none;
}

.consentRight {
  display: flex;
  flex-direction: row;
  gap: var(--ds-size-4);
}
.consentRightIcon {
  font-size: 1.5rem;
}

.consentRightContent {
  flex: 1;
}

.previewControls {
  display: flex;
  align-items: flex-end;
  gap: var(--ds-size-4);
  margin-bottom: var(--ds-size-4);
}

.consentPreviewInner {
  background-color: var(--ds-color-neutral-background-tinted);
  position: sticky;
  height: 100vh;
  top: 0;
  right: 0;
  border: 1px solid var(--fds-semantic-border-divider-default);
  border-top: none;
  padding: var(--fds-spacing-5);
  overflow: auto;
}

.consentPreviewPanel {
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  width: 45%;
}

.mobileView {
  max-width: 25rem;
}

.mobileView h1 {
  font-size: 18px;
}
