.wrapper {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  flex: 2;
}

.active {
  border-bottom: 2px solid var(--ds-color-text-default);
}

.menu li a:hover {
  background-color: var(--studio-designer-header-background-secondary);
}
