:root {
  --primary-color-700: #022f51;
}

.container {
  background-color: var(--fds-colors-white);
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  font-family: var(--studio-font-family);
  position: relative;
  margin: var(--fds-spacing-10) auto;
  max-width: 1230px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-6);
  margin: var(--fds-spacing-12) var(--fds-spacing-8);
}

@media (min-width: 768px) {
  .content {
    margin: var(--fds-spacing-18);
  }
}
