.spinner {
  display: flex;
  gap: var(--fds-spacing-2);
  flex-direction: column;
}

.pageContainer {
  background-color: #e6eff8;
  flex: 1;
  position: relative;
}

.pageContainer::before {
  background-image: url('/designer/img/overview-background.svg');
  background-size: 768px auto;
  background-repeat: no-repeat;

  content: ' ';
  display: block;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
}

.container {
  margin: auto;
  padding: var(--fds-spacing-12);
  max-width: 1400px;
  position: relative;
}

.header {
  font-family: var(--studio-font-family);
  padding: var(--fds-spacing-6) 0 var(--fds-spacing-6) 0;
}

.header h1 {
  color: var(--primary-color-700);
}

.content {
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding: var(--fds-spacing-10);
  position: relative;
  gap: var(--fds-spacing-10);
}

.main,
.aside {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-10);
}

.main {
  flex: 5;
}

.aside {
  flex: 3;
}

@media (min-width: 1200px) {
  .main {
    flex: 1;
  }

  .aside {
    flex: unset;
    width: 350px;
  }
}

.mainBlock {
  background-color: #f4f5f6;
  border-radius: 4px;
  padding: var(--fds-spacing-4);
}

.asideBlock {
  background-color: #fbfbfc;
  border: solid 2px #efefef;
  border-radius: 4px;

  padding: var(--fds-spacing-4);
}

.divider {
  background-color: #efefef;
  border: none;
  display: none;
  height: 2px;
  opacity: 0.5;
  width: 100%;
}

@media (min-width: 768px) {
  .pageContainer::before {
    background-position: center 0;
    background-size: 100% auto;
  }
}

@media (min-width: 960px) {
  .content {
    flex-direction: row;
  }

  .divider {
    display: block;
  }
}
