.icon {
  font-size: 1.25rem;
}

.flip-vertical {
  transform: rotate(180deg);
}

.checkmark {
  margin-left: -4px;
}

.button {
  column-gap: 8px;
}

.button-active {
  background-color: var(--ds-color-accent-surface-hover);
  color: var(--ds-color-accent-base-active);
}
