.objectPropertyContainer {
  gap: 0.5rem;
  margin-inline: var(--ds-size-5);
}

.heading {
  margin: var(--fds-spacing-3);
  padding-left: var(--fds-spacing-3);
}

.button {
  margin: var(--fds-spacing-1);
  padding-left: 0;
}

.gridButton {
  padding: 0;
  margin-bottom: var(--fds-spacing-0);
}

.gridHeader {
  padding: 0;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--fds-spacing-4);
}
