version: "3.8"

networks:
  altinncore_network:
    external: false

volumes:
  designer-git-data:
  gitea-git-data:
  gitea-db-data:
  gitea-avatars-data:
  gitea-attachments-data:
  keys:

services:
  altinn_loadbalancer:
    container_name: altinn-loadbalancer
    image: loadbalancer:latest
    restart: always
    networks:
      - altinncore_network
    ports:
      - "80:80"
    environment:
      - NGINX_HOST=localhost
      - NGINX_PORT=80
    depends_on:
      - altinn_repositories
    build:
      context: ./src/load-balancer

  altinn_designer:
    container_name: altinn-designer
    image: designer:latest
    restart: always
    networks:
      - altinncore_network
    volumes:
      - "designer-git-data:/AltinnCore/Repos"
      - "keys:/mnt/keys"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
      - ServiceRepositorySettings:RepositoryLocation=/AltinnCore/Repos/
      - ServiceRepositorySettings:ApiEndPoint=http://altinn-repositories:3000/api/v1/
      - ServiceRepositorySettings:ApiEndPointHost=altinn-repositories
      - ServiceRepositorySettings:RepositoryBaseURL=http://altinn-repositories:3000
      - ServiceRepositorySettings:GiteaLoginUrl=http://altinn3.no/repos/user/login
      - GeneralSettings:TemplateLocation=/Templates
      - GeneralSettings:DeploymentLocation=/Templates/deployment
      - GeneralSettings:LanguageFilesLocation=Languages/
      - GeneralSettings:TemplateLocation=Templates/AspNet
      - GeneralSettings:DeploymentLocation=Templates/AspNet/deployment
      - GeneralSettings:AppLocation=Templates/AspNet/App
      - GeneralSettings:IntegrationTestsLocation=Templates/AspNet/App.IntegrationTests
      - GeneralSettings:AltinnStudioEndpoint=http://altinn3.no/
      - TestdataRepositorySettings:RepositoryLocation=/Testdata
    ports:
      - "5000:5000"
    depends_on:
      - altinn_repositories
    build:
      context: .
      dockerfile: ./src/designer/Dockerfile

  altinn_repositories:
    container_name: altinn-repositories
    image: repositories:latest
    restart: always
    networks:
      - altinncore_network
    volumes:
      - "gitea-git-data:/data/git"
      - "gitea-db-data:/data/gitea/db"
      - "gitea-avatars-data:/data/gitea/avatars"
      - "gitea-attachments-data:/data/gitea/attachments"
    ports:
      - "3000:3000"
      - "222:22"
    build:
      context: ./src/repositories/
      dockerfile: Dockerfile.local
