version: "3.8"

networks:
  altinncore_network:
    external: false

volumes:
  designer-git-data:
  gitea-git-data:
  gitea-db-data:
  gitea-avatars-data:
  gitea-attachments-data:
  keys:

services:
  altinn_loadbalancer:
    container_name: altinn-loadbalancer
    image: loadbalancer:latest
    restart: always
    networks:
      - altinncore_network
    ports:
      - "80:80"
    environment:
      - NGINX_HOST=localhost
      - NGINX_PORT=80
    depends_on:
      - altinn_repositories
    build:
      context: ./src/load-balancer

  altinn_designer:
    container_name: altinn-designer
    image: designer:latest
    restart: always
    networks:
      - altinncore_network
    volumes:
      - "designer-git-data:/AltinnCore/Repos"
      - "keys:/mnt/keys"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
      - ServiceRepositorySettings:RepositoryLocation=/AltinnCore/Repos/
      - ServiceRepositorySettings:ApiEndPoint=http://altinn-repositories:3000/api/v1/
      - ServiceRepositorySettings:ApiEndPointHost=altinn-repositories
      - ServiceRepositorySettings:RepositoryBaseURL=http://altinn-repositories:3000
      - ServiceRepositorySettings:GiteaLoginUrl=http://altinn3.no/repos/user/login
      - GeneralSettings:TemplateLocation=/Templates
      - GeneralSettings:DeploymentLocation=/Templates/deployment
      - GeneralSettings:LanguageFilesLocation=Languages/
      - GeneralSettings:TemplateLocation=Templates/AspNet
      - GeneralSettings:DeploymentLocation=Templates/AspNet/deployment
      - GeneralSettings:AppLocation=Templates/AspNet/App
      - GeneralSettings:IntegrationTestsLocation=Templates/AspNet/App.IntegrationTests
      - GeneralSettings:AltinnStudioEndpoint=http://altinn3.no/
      - TestdataRepositorySettings:RepositoryLocation=/Testdata
    ports:
      - "5000:5000"
    depends_on:
      - altinn_repositories
    build:
      context: .
      dockerfile: ./src/designer/Dockerfile

  altinn_repositories:
    container_name: altinn-repositories
    image: repositories:latest
    restart: always
    networks:
      - altinncore_network
    volumes:
      - "gitea-git-data:/var/lib/gitea/git"
      - "gitea-db-data:/var/lib/gitea/db"
      - "gitea-avatars-data:/var/lib/gitea/avatars"
      - "gitea-attachments-data:/var/lib/gitea/attachments"
    environment:
      - GITEA__RUN_MODE=prod
      - GITEA__server__SSH_DOMAIN=altinn3.no
      - GITEA__server__DOMAIN=altinn3.no
      - GITEA__server__ROOT_URL=http://altinn3.no/repos
      - GITEA__designer__LFS_JWT_SECRET=MRlYoCcrcHmcKzUoQwaK6vKO3o4FPEJ74em5JnPRii0
      - GITEA__database__DB_TYPE=sqlite3
      - GITEA__database__PATH=/var/lib/gitea/db/gitea.db
      - GITEA__database__HOST=172.18.0.2:5432
      - GITEA__database__NAME=gitea
      - GITEA__database__USER=root
      - GITEA__database__PASSWD=gitea
      - GITEA__database__SSL_MODE=
      - GITEA__security__SECRET_KEY=VCOEYZOz3vPZrm1vGBOL6paxSePtLUHc85LsK7QIqbPHRcohw72p5K8EQQJ7YrgA
      - GITEA__security__INTERNAL_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYmYiOjE1MjMyNjM2NTR9.nxb5jknOl-LnVxOvyu0McHglWoixrfOD0mLZ8Druerw
      - GITEA__mailer__ENABLED=false
      - GITEA__mailer__HOST=none
      - GITEA__mailer__SKIP_VERIFY=false
    ports:
      - "3000:3000"
      - "222:22"
    build:
      context: ./src/repositories/
      dockerfile: Dockerfile
