.wrapper {
  --field-spacing: var(--ds-size-6);

  padding-block: var(--field-spacing);
  width: 50%;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--field-spacing);
  margin-inline: var(--inline-spacing-size);
}
