.wrapper {
  --field-spacing: var(--ds-size-6);

  padding-block: var(--field-spacing);
  width: 40rem;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--field-spacing);
  margin-inline: var(--inline-spacing-size);
}

.inlineTextFieldWithIcon {
  display: flex;
  align-items: center;
  gap: var(--ds-size-3);
}

/* .inlineTextFieldWithIcon > *:first-child {
  flex: 1;
}

.emptyIcon {
  flex-shrink: 0;
} */
