.content {
  display: contents;
}

@media print {
  .hide-form {
    display: none;
  }
}

@media only screen {
  .hide-pdf {
    display: none;
  }
}

.navigationError {
  display: flex;
  margin-top: 35px;
  gap: 10px;
}
