.dialogMainContent {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
}

.buttons {
  display: flex;
  gap: var(--ds-size-2);
  margin-top: var(--ds-size-2);
  justify-content: flex-start;
}
