.container {
  color: #1f2c3d;
  display: flex;
  align-items: flex-start;
  font-family: var(--studio-font-family);

  margin: var(--fds-spacing-1);
  padding: var(--fds-spacing-5);
  gap: var(--fds-spacing-3);

  overflow-x: scroll;
  background-color: #e6eff8;
}
