.root {
  padding: var(--studio-legacy-property-button-vertical-spacing) var(--ds-size-5);
  gap: var(--ds-size-3);
}

.optionsHeading {
  font-size: medium;
}

.errorMessage {
  margin: var(--ds-size-5) var(--ds-size-5) 0;
}
