.buttons {
  display: flex;
  gap: var(--fds-spacing-3);
  padding-top: var(--fds-spacing-3);
}

.dataTypeSelect {
  flex: 1;
}

.root {
  display: flex;
  flex-direction: column;
}

.dataTypeSelectAndButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--fds-spacing-4);
  padding-inline: var(--fds-spacing-5);
  padding-bottom: var(--fds-spacing-3);
}
