.contextButton {
  border-radius: 60px;
  display: none;
  margin: 0;
  padding: 10px;
}

.contextButton :global(.MuiTreeItem-root) :hover * {
  display: block;
}

.propertiesLabel {
  align-items: center;
  display: flex;
  padding: 8px;
}

.label {
  flex: 1;
}

.iconContainer {
  background: #022f51;
  font-size: 10px;
  margin-right: 4px;
  padding: 5px 0;
  text-align: center;
}
.iconContainer {
  text-align: center;
  color: white;
}

.isArray .iconContainer {
  box-shadow: -3px -3px 0 0 darkgrey;
}
.isRef .iconContainer {
  background-color: darkslateblue;
}
.isRef .label {
  color: darkslateblue;
}

.referenceLabel {
  font-size: 10px;
  margin-left: 12px;
  color: gray;
  border-radius: 3px;
  border: solid 1px darkgrey;
  padding: 3px 6px;
}
.referenceLabel:hover {
  color: white;
  background-color: darkgrey;
}

.warning {
  margin-left: 10px;
  color: darkred;
  font-size: 10px;
}
.warning svg {
  margin-right: 10px;
}

.contextMenuLastItem {
  border-top: 1px #d3d4d5 solid !important;
}
