.toolbar {
  height: var(--subtoolbar-height);
  background: white;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--fds-semantic-border-neutral-subtle);
  padding-inline: var(--fds-spacing-6);
  gap: var(--fds-spacing-2);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.statusPopover {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.statusPopover.success {
  animation: fadeOut 1.5s;
}
