.spinner {
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  vertical-align: middle;
}

.spinnerText {
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  vertical-align: middle;
}
