.spinner {
  color: #0062ba;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
}

.spinnerText {
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  vertical-align: middle;
  margin-bottom: 25px;
}
