.headerContent {
  display: flex;
  flex-direction: column;
  background-color: var(--fds-semantic-surface-neutral-default);
  gap: var(--fds-spacing-2);
}

.alertWrapper {
  margin: var(--fds-spacing-3);
}
