.mainContent {
  display: flex;
  flex-direction: column;
  background-color: var(--fds-semantic-surface-neutral-default);
  gap: var(--fds-spacing-3);
  padding-bottom: var(--fds-spacing-3);
}

.alertWrapper {
  margin: var(--fds-spacing-3);
}
