version: '3.4'

networks:
  altinnplatform_network:
    external: false

services:
  altinn_platform_storage:
    container_name: altinn-platform-storage
    image: altinnplatformstorage:latest
    restart: always
    networks:
      - altinnplatform_network
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5010
      - PlatformStorageSettings:ApiEndPoint=http://altinn-platform-storage:5010/api/v1
      - PlatformStorageSettings:ApiEndPointHost=http://altinn-platform-storage:5010/
    ports:
      - "5010:5010"
    build:
      context: .
      dockerfile: Storage/Dockerfile

  altinn_platform_register:
    container_name: altinn-platform-register
    image: altinnplatformregister:latest
    restart: always
    networks:
      - altinnplatform_network
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5020
    ports:
      - "5020:5020"
    build:
      context: .
      dockerfile: Register/Dockerfile
