.wrapper {
  display: flex;
  justify-content: space-between;
  margin-block: 5px;
}

.inputWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}

.textfieldWrapper {
  width: 48%;
}
