/* breakpoints-xs */
@media only screen and (min-width: 0) {
  .componentWrapper {
    grid-template-areas: 'ssnLabel' 'ssn' 'nameLabel' 'name' 'submit' 'apiError';
    gap: var(--fds-spacing-2);
  }
}

/* breakpoints-md */
@media only screen and (min-width: 840px) {
  .componentWrapper {
    grid-template-columns: repeat(2, minmax(250px, 250px)) auto;
    grid-template-areas: 'ssnLabel nameLabel .' 'ssn name submit' 'apiError apiError .';
    align-items: end;
    column-gap: var(--fds-spacing-2);
  }
}

.componentWrapper {
  display: grid;

  .ssnLabel {
    grid-area: ssnLabel;
    align-self: start;
  }

  .ssn {
    grid-area: ssn;
    align-self: start;
  }

  .nameLabel {
    grid-area: nameLabel;
    align-self: start;
  }

  .name {
    grid-area: name;
    align-self: start;
  }

  .submit {
    grid-area: submit;
    align-self: start;
    white-space: nowrap;
  }
}
