.modalText {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.contentDivider {
  border: solid 1px var(--fds-semantic-border-neutral-divider);
  margin-block: 25px;
}

.modalTitle {
  font-size: 24px;
}


.closeButtonWrapper {
  margin-right: 10px;
}
