replicaCount: 1

environment: development

image:
  repository: altinntjenestercontainerregistry.azurecr.io/altinn-core
  containerPort: 5000
  imagePullSecret: acrsecret

hosts:
  development: dev.altinn.studio
  staging: staging.altinn.studio
  production: altinn.studio

service:
  externalPort: 3000

environmentVariables:
  development:
    - name: ASPNETCORE_ENVIRONMENT
      value: Development
    - name: ASPNETCORE_URLS
      value: http://+:5000
    - name: GeneralSettings__HostName
      value: dev.altinn.studio
    - name: GeneralSettings__AltinnPartyCookieName
      value: AltinnPartyId
    - name: GeneralSettings__LanguageFilesLocation
      value: Languages/ini/
    - name: GeneralSettings__TemplateLocation
      value: Templates/AspNet
    - name: GeneralSettings__DeploymentLocation
      value: Templates/AspNet/deployment
    - name: GeneralSettings__AppLocation
      value: Templates/AspNet/App
    - name: GeneralSettings__IntegrationTestsLocation
      value: Templates/AspNet/App.IntegrationTests
    - name: ServiceRepositorySettings__ApiEndPointHost
      value: altinn-repositories
    - name: ServiceRepositorySettings__ApiEndPoint
      value: http://altinn-repositories:3000/api/v1/
    - name: ServiceRepositorySettings__GiteaLoginUrl
      value: https://dev.altinn.studio/repos/user/login
    - name: ServiceRepositorySettings__RepositoryLocation
      value: /AltinnCore/Repos/
    - name: ServiceRepositorySettings__RepositoryBaseURL
      value: http://altinn-repositories:3000
    - name: PlatformSettings__SubscriptionKeyTT02
      value: Will Be Inserted
  staging:
    - name: ASPNETCORE_ENVIRONMENT
      value: Staging
    - name: ASPNETCORE_URLS
      value: http://+:5000
    - name: GeneralSettings__HostName
      value: staging.altinn.studio
    - name: GeneralSettings__AltinnPartyCookieName
      value: AltinnPartyId
    - name: GeneralSettings__LanguageFilesLocation
      value: Languages/ini/
    - name: GeneralSettings__TemplateLocation
      value: Templates/AspNet
    - name: GeneralSettings__DeploymentLocation
      value: Templates/AspNet/deployment
    - name: GeneralSettings__AppLocation
      value: Templates/AspNet/App
    - name: GeneralSettings__IntegrationTestsLocation
      value: Templates/AspNet/App.IntegrationTests
    - name: ServiceRepositorySettings__ApiEndPointHost
      value: altinn-repositories
    - name: ServiceRepositorySettings__ApiEndPoint
      value: http://altinn-repositories:3000/api/v1/
    - name: ServiceRepositorySettings__GiteaLoginUrl
      value: https://staging.altinn.studio/repos/user/login
    - name: ServiceRepositorySettings__RepositoryLocation
      value: /AltinnCore/Repos/
    - name: ServiceRepositorySettings__RepositoryBaseURL
      value: http://altinn-repositories:3000
    - name: PlatformSettings__SubscriptionKeyTT02
      value: Will Be Inserted
  production:
    - name: ASPNETCORE_ENVIRONMENT
      value: Production
    - name: ASPNETCORE_URLS
      value: http://+:5000
    - name: GeneralSettings__HostName
      value: altinn.studio
    - name: GeneralSettings__AltinnPartyCookieName
      value: AltinnPartyId
    - name: GeneralSettings__LanguageFilesLocation
      value: Languages/ini/
    - name: GeneralSettings__TemplateLocation
      value: Templates/AspNet
    - name: GeneralSettings__DeploymentLocation
      value: Templates/AspNet/deployment
    - name: GeneralSettings__AppLocation
      value: Templates/AspNet/App
    - name: GeneralSettings__IntegrationTestsLocation
      value: Templates/AspNet/App.IntegrationTests
    - name: ServiceRepositorySettings__ApiEndPointHost
      value: altinn-repositories
    - name: ServiceRepositorySettings__ApiEndPoint
      value: http://altinn-repositories:3000/api/v1/
    - name: ServiceRepositorySettings__GiteaLoginUrl
      value: https://altinn.studio/repos/user/login
    - name: ServiceRepositorySettings__RepositoryLocation
      value: /AltinnCore/Repos/
    - name: ServiceRepositorySettings__RepositoryBaseURL
      value: http://altinn-repositories:3000
    - name: PlatformSettings__SubscriptionKeyTT02
      value: Will Be Inserted

volumeMounts:
  - name: altinn-repo-storage
    mountPath: "/AltinnCore/Repos"
  - name: altinn-appsettings
    mountPath: "/altinn-appsettings"

volumes:
  - name: altinn-repo-storage
    persistentVolumeClaim:
      claimName: altinn-storage-repo-premium-volume-claim
  - name: altinn-appsettings
    secret:
      secretName: altinn-appsettings-secret

ingress:
  - metadata:
      name: altinn-designer-base-path
      annotations:
        traefik.ingress.kubernetes.io/rule-type: Path
        traefik.frontend.priority: "1000"
    paths:
      - path: /
  - metadata:
      name: altinn-designer-home-path
      annotations:
        traefik.frontend.priority: "800"
    paths:
      - path: /Home/
  - metadata:
      name: altinn-designer-designer-path
      annotations:
        traefik.frontend.priority: "700"
    paths:
      - path: /designer/
  - metadata:
      name: altinn-designer-designerapi-path
      annotations:
        traefik.frontend.priority: "600"
    paths:
      - path: /designerapi/
