.disabled-checkbox {
  color: #000;
  cursor: default !important;
}
.disabled-checkbox::before {
  content: '';
  border: 2px solid #6A6A6A !important;
  background: repeating-linear-gradient(
    135deg,
    #efefef,
    #efefef 2px,
    #fff 3px,
    #fff 5px
  );
  display: inline-block;
  cursor: default !important;
}
.disabled-checkbox::after {
  cursor: default !important;
  pointer-events: none !important;
}
.no-cursor {
  cursor: default !important;
}
