.validation-error {
  border: 2px solid #E23B53 !important;
}
.disabled-date {
  border: none !important;
  background-color: transparent !important;
  color: #000 !important;
}
.disabled {
  border: 2px solid #6A6A6A !important;
  color: #000;
  background: repeating-linear-gradient(
    135deg,
    #efefef,
    #efefef 2px,
    #fff 3px,
    #fff 5px
  );
}
input:hover {
  border-color: #0062ba !important;
}
