.root {
  display: flex;
  flex-direction: column;
  flex: var(--structure-width-fraction);
  overflow-y: auto;
}

.root > *:last-child {
  flex: 1;
}

.pageHeader {
  margin: var(--margin-top) var(--margin-horizontal) 0 var(--margin-horizontal);
}

.button {
  display: flex;
  justify-content: center;
  padding-top: var(--fds-spacing-5);
  background-color: var(--fds-semantic-surface-neutral-subtle);
}

.addButton {
  padding-bottom: 50px;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow-wrap: anywhere;

  --background-color: var(--fds-semantic-surface-neutral-subtle);
  background-color: var(--background-color);
}

.accordionWrapper {
  flex: 1;
}
