.groupWrapper {
  border-bottom: 1px solid var(--fds-semantic-border-neutral-subtle);
}
.groupHeaderWrapper {
  display: flex;
  margin: var(--fds-spacing-3);
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.groupHeaderWrapper:hover {
  background-color: var(--fds-semantic-surface-neutral-subtle-hover);
}

.selected {
  background-color: var(--fds-semantic-surface-action-first-no_fill-hover);
}

.customSize {
  font-size: var(--fds-sizing-4);
}

.liftIcon {
  padding-right: var(--fds-spacing-3);
}

.container {
  display: flex;
  align-items: center;
}

.rightIconsContainer {
  display: flex;
  align-items: center;
}

.rightIcon {
  margin-right: var(--fds-spacing-2);
  font-size: var(--fds-sizing-5);
}

.groupAccordionWrapper {
  margin-left: var(--fds-spacing-8);
  margin-right: var(--fds-spacing-8);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: var(--fds-spacing-5);
  background-color: var(--fds-semantic-surface-neutral-subtle);
  padding-bottom: var(--fds-spacing-4);
}

.button {
  height: max-content;
}

.ellipsisMenuContent {
  display: flex;
  flex-direction: column;
}
