.button {
  margin-right: 5px;
  --component-button-quiet-primary-color-text-pressed: #004e95;
  --component-button-quiet-primary-color-background-hover: #e6eff8;
  --component-button-quiet-primary-color-text-default: #e6eff8;
}
