.subHeader {
  display: flex;
  align-items: center;
  height: var(--subtoolbar-height);
  padding-inline: var(--fds-spacing-4);
}

.link {
  color: var(--ds-color-neutral-background-default);
}

.icon {
  font-size: var(--fds-sizing-6);
  color: var(--ds-color-neutral-background-default);
}
