.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  gap: var(--fds-spacing-2);
  margin-top: var(--fds-spacing-2);
}

p,
h2 {
  margin: 0;
}

.resourceNameAndId {
  margin-top: var(--fds-spacing-5);
}

.contentWidth {
  max-width: 37.5rem;
}
