/* AddressSummary.module.css */
.container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 10px;
}

.row {
  display: flex;
  gap: 10px;
  flex-direction: row;
  margin-bottom: 10px;
}

.flexGrow {
  flex-grow: 1;
}

.addressSummaryComponent {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--ds-size-4);
}

.addressSummaryComponentPostplaceZipCode {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: baseline;
  gap: 0.937rem;
}

.addressSummaryComponentPostplace {
  flex-grow: 4;
  max-width: 300px;
}

.addressSummaryComponentZipCode {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
}

.addressSummaryComponentSmallInputs {
  max-width: 90px;
}

.addressComponentZipCode {
  margin-right: var(--ds-size-4);
}
