.deployPageWrapper {
  width: 90%;
  margin: 0;
  padding: 40px;
}

.contentWrapper {
  width: 630px;
}

.deployCardsWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.informationText {
  margin-top: 30px;
}

.newVersionWrapper {
  margin-top: 30px;
  width: 100%;
  margin-bottom: 40px;
}

.newVersionParagraph {
  margin-bottom: 10px;
}

.textAndButton {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.textfield {
  flex: 1;
  margin-right: 8px;
}

.firstError {
  margin-bottom: 20px;
}

p,
h1,
h2 {
  margin: 0;
  line-height: 24px;
}
