.deployPageWrapper {
  width: 90%;
  margin: 0;
  padding-top: 2%;
  padding-bottom: 50px;
  padding-inline: 2%;
}

.pageHeader {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 30px;
}

.contentWrapper {
  width: 630px;
}

.subHeader {
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 18px;
}

.deployCardsWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.newVersionWrapper {
  margin-top: 40px;
  width: 100%;
}

.text {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
}

.textAndButton {
  display: flex;
  width: 100%;
}

.textfield {
  flex: 1;
  margin-right: 8px;
}

.firstError {
  margin-bottom: 20px;
}

p, h1, h2 {
  margin: 0;
  line-height: 24px;
}
