.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-4);
  margin-top: var(--fds-spacing-3);
}

.toggleableButtonText {
  text-align: left;
  padding-left: var(--fds-spacing-1);
}

.customReceiptField {
  display: flex;
  align-items: center;
}

.icon {
  font-size: var(--fds-spacing-6);
}

.buttonWrapper {
  display: flex;
  gap: var(--fds-spacing-2);
}
