.root {
}

.appBar {
  background-color: #022f51;
  color: #fff;
  display: flex;
  align-items: center;
  height: var(--toolbar-height);
  padding: 0 2rem;
}

.appBar .leftContent {
  align-items: center;
  border-right: 1px solid #fff2;
  display: flex;
  flex: 1;
  line-height: 1;
  overflow: hidden;
  padding-right: 2rem;
}

.appName {
  font-size: 1.125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bigSlash {
  font-size: 2rem;
  padding: 0 0.5rem;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  flex: 1;
  padding: 0 2rem;
  gap: 2rem;
  font-size: 1rem;
}

.menuItem {
  color: #fff;
  font-size: 1rem;
}

.menuItem.active {
  border-bottom: 2px solid #fff;
}

.menuItem a {
  color: #fff;
  text-decoration: none;
}

.appBar .rightContent {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 1rem;
  justify-content: flex-end;
}

.rightContentButtons {
  align-items: center;
  display: flex;
  gap: 1rem;
  flex: 3;
}

.rightContentButtons > * {
  flex: 1;
}

.profileMenuWrapper {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.userOrgNames {
  text-align: right;
  white-space: pre-line;
  line-height: 25px;
  font-size: 1rem;
  margin-right: 15px;
}

.previewButton {
  --component-button-outline-primary-color-background-default: none;
  --component-button-outline-primary-color-border-default: none;
  --component-button-outline-primary-color-border-hover: #004e95;
  --component-button-outline-primary-color-text-default: #ffffff;
}

.subToolbar {
  align-items: center;
  background-color: #284e6a;
  display: flex;
  height: var(--subtoolbar-height);
  justify-content: space-between;
  padding: 0 2rem;
}

.subToolbar .leftContent svg {
  color: #fff;
}

.subToolbar .rightContent {
  display: flex;
  align-items: center;
  gap: 1rem;
}
