.root {
  color: #000;
  flex-grow: 1;
  z-index: 1;
}
.appBar {
  border-bottom-color: #c9c9c9 !important;
  border-bottom: var(--header-border-bottom-width) solid;
  color: #000;
  position: fixed;
}

.subToolBar {
  background-color: #274c69;
}

.versionControlAndSettingStyle {
  direction: row;
  align-items: center;
  justify-content: flex-end;
}

.appName {
  font-size: 18px;
  font-weight: 400;
}

.appOrg {
  width: 350px;
  overflow: hidden;
}

.aImgStyling {
  float: left;
  font-size: 1px;
  size: 3px;
}

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appName {
  justify-content: left;
  padding-top: 7px;
}

.appBarDashboard {
  background-color: #fff;
}

.appBarEditor {
  background-color: #efefef;
}

.muiToolbar {
  min-height: var(--toolbar-height) !important;
}

.breadCrumb {
  font-size: 20px;
  padding-left: 30px;
}

.breadCrumbSubApp {
  color: white;
}

.verticalDivider {
  display: inline;
  color: #504e4e;
  font-size: 1.5rem;
  margin-top: 223px;
  align-items: center;
}

.paper {
  text-align: end;
}

.subHeader {
  font-size: 18px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0;
}

.subHeaderLink {
  border-bottom: 1px solid transparent; /* To mitigate the 1 pixel adjustment */
  color: white;
  font-weight: 400;
}

.subHeaderLink:hover,
.subHeaderLinkActive:focus {
  border-bottom: 1px solid white;
  color: white;
}

.subHeaderLinkActive {
  border-bottom: 1px solid white;
  color: white;
  font-weight: 500;
}

.topRightService {
  padding-right: 22px;
}

.branchIcon {
  float: left;
  font-size: 22px;
}

.publishButton {
  margin-right: 20px;
  margin-left: 20px;
}

.previewButton {
  --component-button-outline-primary-color-background-default: none;
  --component-button-outline-primary-color-border-default: none;
  --component-button-outline-primary-color-border-hover: #004e95;
  --component-button-outline-primary-color-text-default: #ffffff;
}
