.wrapper {
  width: 100%;
  border: solid 1px var(--fds-semantic-border-neutral-divider);
}

.wrapper.buttonHovered {
  box-shadow: 0 0 0 2px var(--fds-semantic-border-neutral-divider);
}

.buttonFocused:focus-visible,
.buttonFocused:focus-within {
  --fds-inner-focus-border-color: var(--fds-semantic-border-focus-boxshadow);
  --fds-outer-focus-border-color: var(--fds-semantic-border-focus-outline);
  --fds-focus-border-width: 3px;

  outline: var(--fds-focus-border-width) solid var(--fds-outer-focus-border-color);
  outline-offset: var(--fds-focus-border-width);
  box-shadow: 0 0 0 var(--fds-focus-border-width) var(--fds-inner-focus-border-color);
}

.cardWrapper {
  border-radius: 12px;
}

.elementWrapper {
  border-radius: 5px;
  background-color: var(--fds-semantic-background-subtle);
}

.cardError {
  border: solid 2px var(--fds-semantic-border-danger-default);
}

.cardErrorHover {
  border: solid 2px var(--fds-semantic-border-danger-hover);
  box-shadow: 0 0 0 2px var(--fds-semantic-border-danger-hover);
}

.topWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

.topWrapperCard {
  border-radius: 10px;
}

.topWrapperCardOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.topWrapperElement {
  border-radius: 4px;
}

.topWrapperElementOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.topWrapperError {
  border-radius: 10px;
  background-color: var(--fds-semantic-surface-danger-subtle);
}

.topWrapperErrorOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.cardExpandButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  padding-right: 5px;
  margin: 0;
}

.elementExpandButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: 10px;
  padding-left: 20px;
  padding-right: 5px;
  margin: 0;
}

.cardExpandButton:focus,
.elementExpandButton:focus {
  outline: none;
}

.cardBottomWrapper {
  padding-inline: 20px;
  padding-bottom: 20px;
}

.elementBottomWrapper {
  padding-inline: 20px;
  padding-bottom: 10px;
}
