[Repository/ProcessEngineInMemoryRepository.cs]

# CA5394: Do not use insecure randomness
dotnet_diagnostic.CA5394.severity = none

[Repository/IProcessEngineRepository.cs]

# CA1716: Identifiers should not match keywords
# Not applicable for the word in question here -> 'step'
# https://github.com/dotnet/roslyn-analyzers/issues/1858
dotnet_diagnostic.CA1716.severity = none