## Create a copy of this file and name it ".env", and update the values to your needs.

## ------------------------
## Unit test/integration test settings

## This should point to a folder containing all known apps
ALTINN_ALL_APPS_DIR=C:/Code/altinn/all-apps

## The timeout for Vitest tests (in milliseconds)
VITEST_TIMEOUT=20000

## The max amount of time to wait for components to render, or other calls to 'await waitFor(...)' to complete
WAITFOR_TIMEOUT=15000

## ------------------------
## Cypress settings

## Enable this to record videos of Cypress failures
CYPRESS_RECORD_VIDEO=false

## Set this to false to disable compression (speeds up test duration, but will increase disk usage)
CYPRESS_VIDEO_COMPRESSION=32

## You can override the window size for Cypress when running headless. This defaults to 1920x1080.
CYPRESS_WINDOW_WIDTH=1920
CYPRESS_WINDOW_HEIGHT=1080
