#https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

/.pnp.*
/.yarn/*
scripts/.yarn/*
language/old/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions
**/stats.json
*.csv
script.js
/testing/playwright/test-results

*storybook.log
/libs/studio-components/storybook-static/*
