<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="stylesheet" type="text/plain" href="~/runtime/css/react/runtime.css">
</head>

<body>
  <style>
    html, body {
      height: 100%;
    }
  </style>
  <div class="flex-column d-flex media-body">
    @RenderBody()
  </div>
  <script src="~/runtime/js/react/runtime.js"></script>
</body>
</html>
