.modal {
  --modal-min-width: 320px;
  --modal-min-height: 100px;
  --modal-max-height: 80vh;
  --modal-max-width: 80%;
  --modal-position: 50%;
  --modal-translate: calc(var(--modal-position) * -1);
  --heading-height: 60px;
  --modal-border-size: 1px;
  --modal-content-max-height: calc(var(--modal-max-height) - var(--heading-height)) -
    var(--modal-border-size);

  max-width: var(--modal-max-width);
  min-width: var(--modal-min-width);
  width: max-content;
  max-height: var(--modal-max-height);
  min-height: var(--modal-min-height);
  height: max-content;
  border-radius: 20px;
  position: absolute;
  top: var(--modal-position);
  left: var(--modal-position);
  transform: translate(var(--modal-translate), var(--modal-translate));
  padding: 0;
  padding-top: 20px;
  background-color: var(--fds-semantic-background-default);
  border: var(--modal-border-size) solid var(--fds-semantic-border-neutral-subtle);
}

.modalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--overlay-gradient);
}

.headingWrapper {
  border-bottom: 1px solid var(--fds-semantic-border-neutral-divider);
  height: var(--heading-height);
  position: sticky;
  top: 0;
  background-color: var(--fds-semantic-background-default);
}

.contentWrapper {
  max-height: var(--modal-content-max-height);
}

.closeButtonWrapper {
  position: absolute;
  top: -0.5rem;
  right: 0.5rem;
}
