.modal {
  --modal-min-size: 320px;
  --modal-max-size: 80%;
  --modal-position: 50%;
  --modal-translate: calc(var(--modal-position) * -1);

  max-width: var(--modal-max-size);
  min-width: var(--modal-min-size);
  width: max-content;
  max-height: var(--modal-max-size);
  min-height: var(--modal-min-size);
  height: max-content;
  border-radius: 20px;
  position: absolute;
  top: var(--modal-position);
  left: var(--modal-position);
  transform: translate(var(--modal-translate), var(--modal-translate));
  padding: 0;
  padding-top: 20px;
  border: solid 1px var(--fds-semantic-border-neutral-subtle);
  background-color: var(--fds-semantic-background-default);
}

.modalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--overlay-gradient);
}

.headingWrapper {
  border-bottom: 1px solid var(--fds-semantic-border-neutral-divider);
}

.closeButtonWrapper {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
