.tasksTable {
  padding: var(--fds-spacing-2) 0;
  border: 1px solid var(--ds-color-neutral-border-subtle);
  margin-bottom: var(--fds-spacing-5);
}

.tasksTable th {
  border-bottom: 2px solid var(--ds-color-neutral-border-subtle);
}

.hiddenTasksTable {
  background-color: var(--fds-semantic-background-subtle);
}

.taskFooterContent {
  text-align: end;
  border-top: 2px solid var(--ds-color-neutral-border-subtle);
}
