.focusable:focus-within,
.focusable:focus-visible {
  --focus-border-inner-color: var(--fds-semantic-border-focus-boxshadow);
  --focus-border-outline-color: var(--fds-semantic-border-focus-outline);
  --focus-border-width: 3px;

  outline: var(--focus-border-width) solid var(--focus-border-outline-color);
  outline-offset: var(--focus-border-width);
  box-shadow: 0 0 0 var(--focus-border-width) var(--focus-border-inner-color);
}
