.focusable:focus-within,
.focusable:focus-visible {
  --fds-inner-focus-border-color: var(--fds-semantic-border-focus-boxshadow);
  --fds-outer-focus-border-color: var(--fds-semantic-border-focus-outline);
  --fds-focus-border-width: 3px;

  outline: var(--fds-focus-border-width) solid var(--fds-outer-focus-border-color);
  outline-offset: var(--fds-focus-border-width);
  box-shadow: 0 0 0 var(--fds-focus-border-width) var(--fds-inner-focus-border-color);
}
