@{ViewBag.Title = "Dokumentasjon";}



<a href="https://altinn.github.io/docs/altinncore/" target="_blank" title="Dokumentasjon på GitHub (åpnes i nytt vindu)">
    <i class="fab fa-github"  aria-hidden="true"></i> https://altinn.github.io/docs/altinncore/
</a>
