.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose.yml
docker-compose.*.yml
**/node_modules
**/bin
**/obj
src/react-apps/ux-editor/node_modules
src/react-apps/ux-editor/compiled
src/Altinn.Platform
