*
!src/Designer/frontend
!src/Designer/backend
!src/Designer/development/azure-devops-mock
!package.json
!yarn.lock
!.yarn*
!src/App/template/src

# Test-apps are built in its own container, so they need to be included
!src/App/backend
!src/App/fileanalyzers
!src/App/codelists
!src/test/apps

# Exclusions (will also be excluded from previously included directories)
**/bin
**/obj
**/node_modules
