*
!src/Designer/frontend
!src/Designer/backend
!src/Designer/development/azure-devops-mock
!package.json
!yarn.lock
!.yarn*
!src/App/app-template-dotnet/src
**/node_modules
**/bin
**/obj
# Designer needs a wider context since it's using an app-template outside of the Designer folder.
