## Create a copy of this file and name it ".env", and update the values to your needs.

## This should be the path to where docker-compose for localtest is
LOCALTEST_PATH="C:/Code/altinn-studio/src/development"

## This should be the path to the root folder of the app you want to run tests against
APP_PATH="C:/Code/altinn-app-repos/frontend-test"

## This should point to a folder containing all known apps
ALTINN_ALL_APPS_DIR=C:/Code/altinn/all-apps
