## Create a copy of this file and name it ".env", and update the values to your needs.

## ------------------------
## Unit test/integration test settings

## This should point to a folder containing all known apps
ALTINN_ALL_APPS_DIR=C:/Code/altinn/all-apps

## ------------------------
## Cypress settings

## This should be the path to the root folder of the app you want to run tests against
APP_PATH="C:/Code/altinn-app-repos/frontend-test"

## This should be the path to where docker-compose for localtest is
LOCALTEST_PATH="C:/Code/altinn-studio/src/development"

## Enable this to record videos of Cypress failures
CYPRESS_RECORD_VIDEO=false

## Set this to false to disable compression (speeds up test duration, but will increase disk usage)
CYPRESS_VIDEO_COMPRESSION=32

## You can also override the host used by Cypress to load css/js files. This defaults to localhost:8080,
## and can also be configured explicitly when calling Cypress by using the --env host=<host> flag.
## See start-app-instance.ts for more details.
#CYPRESS_HOST=localhost:8080

## You can override the window size for Cypress when running headless. This defaults to 1920x1080.
CYPRESS_WINDOW_WIDTH=1920
CYPRESS_WINDOW_HEIGHT=1080

## ------------------------
## Webpack dev server settings

## Start in silent mode? (Disables system notifications about typescript errors)
WEBPACK_SILENT=false

## Use source maps (slows down build time, but makes debugging easier)
## Only affects the dev server, not the production build.
WEBPACK_SOURCE_MAPS=true

## Use code minification (slows down build time, but makes file size smaller and parsing possibly faster)
## Only affects the dev server, not the production build.
WEBPACK_MINIFY=true
