## Create a copy of this file and name it ".env", and update the values to your needs.

## ------------------------
## Unit test/integration test settings

## This should point to a folder containing all known apps
ALTINN_ALL_APPS_DIR=C:/Code/altinn/all-apps

## The timeout for jest tests (in milliseconds)
JEST_TIMEOUT=20000

## The max amount of time to wait for components to render, or other calls to 'await waitFor(...)' to complete
WAITFOR_TIMEOUT=15000

## Set this to true to enable jest-preview. It is disabled by default, as it will slow down the tests.
## Remember to also start the jest-preview server by executing 'yarn test:preview' before running your tests.
## Also, please note that CSS imports change radically when enabling jest-preview, so some tests that are
## asserting on CSS classes might start failing.
JEST_PREVIEW=false

## Enabling this will automatically render the tested DOM in jest-preview when a unit-test fails, without having to
## call the debug() function from jest-preview in your test.
JEST_PREVIEW_AUTO=false

## ------------------------
## Cypress settings

## Directory that contains apps to use for testing (see `cypress-run-all.ts`)
#CYPRESS_APPS_DIR=C:/Code/altinn/apps

## Enable this to record videos of Cypress failures
CYPRESS_RECORD_VIDEO=false

## Set this to false to disable compression (speeds up test duration, but will increase disk usage)
CYPRESS_VIDEO_COMPRESSION=32

## You can also override the host used by Cypress to load css/js files. This defaults to localhost:8080,
## and can also be configured explicitly when calling Cypress by using the --env host=<host> flag.
## See start-app-instance.ts for more details.
#CYPRESS_HOST=localhost:8080

## You can override the window size for Cypress when running headless. This defaults to 1920x1080.
CYPRESS_WINDOW_WIDTH=1920
CYPRESS_WINDOW_HEIGHT=1080

## ------------------------
## Webpack dev server settings

## Start in silent mode? (Disables system notifications about typescript errors)
WEBPACK_SILENT=false

## Use source maps (slows down build time, but makes debugging easier)
## Only affects the dev server, not the production build.
WEBPACK_SOURCE_MAPS=true

## Use code minification (slows down build time, but makes file size smaller and parsing possibly faster)
## Only affects the dev server, not the production build.
WEBPACK_MINIFY=true

## Show errors overlay in the browser when running the dev server
## Only affects the dev server, not the production build.
WEBPACK_ERRORS_OVERLAY=true
