.container {
  visibility: hidden;
}

.spinner {
  display: flex;
  flex: 1;
  justify-content: center;
  align-content: center;
}

.editorContainer {
  border: 1px solid var(--fds-semantic-border-neutral-default);
  border-radius: 5px;
  background-image: var(--canvas-background-image);
  background-size: var(--canvas-background-size);
  background-position: var(--canvas-background-position);
  display: flex;
  flex: 1;
  margin: 18px;
}
