@font-face {
    font-family: DIN-light;
    src: url(https://altinncdn.no/fonts/d-din/D-DIN.woff);
}

@font-face {
    font-family: DIN-reg;
    src: url(https://altinncdn.no/fonts/d-din/D-DIN.woff);
}

@font-face {
    font-family: DIN-medium;
    src: url(https://altinncdn.no/fonts/d-din/D-DIN.woff);
}

@font-face {
    font-family: DIN-bold;
    src: url(https://altinncdn.no/fonts/d-din/D-DIN-Bold.woff);
}

* {
    font-family: DIN-reg;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: subpixel-antialiased;
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important;
    min-width: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    width: 1px;
}

body {
    background-color: #fff;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    font-size: 1.6rem;
    letter-spacing: normal;
    line-height: 1.5;
}

[tabindex='-1']:focus {
    outline: 0 !important;
}

h1,
h2,
h3 {
    margin-bottom: 6px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1 {
    font-size: 4rem;
    margin-bottom: 12px;
}

h2 {
    font-size: 3.2rem;
    font-family: DIN-medium;
    font-weight: 400;
    margin-bottom: 12px;
}

h3 {
    font-size: 2.8rem;
}

.a-h3,
h3 {
    font-family: DIN-bold;
    font-weight: 400;
    margin-bottom: 6px;
}

p {
    font-family: DIN-reg;
    font-weight: 400;
    margin-bottom: 18px;
}

ul {
    margin-bottom: 1rem;
}

a {
    position: relative;
    padding-bottom: 2px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid #1eaef7;
}

a:hover {
    color: #0783c2;
    text-decoration: underline;
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

img {
    vertical-align: middle;
    border-style: none;
}

.a-fontBold {
    font-family: DIN-bold;
    font-weight: 400;
}

a:active,
a:focus,
a:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid #0062ba;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

.d-block {
    display: block !important;
}

.mx-auto {
    margin-right: auto !important;
}

.mx-auto {
    margin-left: auto !important;
}

.btn-lg {
    padding: 0.5rem 1.25rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: 0;
}

.btn-lg {
    color: #022f51 !important;
    border: 3px solid #022f51;
    border-radius: 0;
    font-size: 20px;
    cursor: pointer;
    padding: 3px 20px;
    line-height: 26px;
}

.link-new-user {
    color: #022f51;
    border-bottom: 1px solid #0062ba;
    font-size: 16px;
    margin-left: 22px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

.container {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.container:focus,
.row:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.container {
    padding: 0 12px;
}

.text-center {
    text-align: center !important;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-2 {
    margin-bottom: 24px !important;
}

.mb-3 {
    margin-bottom: 36px !important;
}

.mb-6 {
    margin-bottom: 72px !important;
}

.mt-1 {
    margin-top: 12px !important;
}

.mt-2 {
    margin-top: 24px !important;
}

.col-12,
.col-lg-10,
.col-lg-5,
.col-lg-8,
.col-md-12,
.col-md-6,
.col-sm-12,
.col-xl-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.an-header {
    height: 79px;
    padding-top: 24px;
    margin-bottom: 0;
    background: #fff;
}

.a-globalNav .a-globalNav-logo {
    position: relative;
    z-index: 1;
    display: block;
    float: left;
    border: none;
}

.a-globalNav .a-globalNav-logo:focus {
    border: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.a-globalNav .a-globalNav-logo::before {
    position: absolute;
    top: -10px;
    left: -11%;
    z-index: -1;
    width: 124%;
    height: 48px;
    cursor: pointer;
    content: '';
}

.pt-3 {
    padding-top: 36px !important;
}

.pt-5 {
    padding-top: 60px !important;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}

.a-jumbotron {
    min-height: 550px;
    max-height: 792px;
    margin-bottom: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.a-jumbotron .a-jumbotron-ingress {
    display: block;
    margin-bottom: 24px;
    color: #022f51;
}

.a-jumbotron-header {
    background-position: right 120px;
    background-size: 945px;
}

.a-jumbotron-header.a-jumbotron-header--left {
    background-position: left 120px;
}

.jumbotron.a-jumbotron-header {
    padding-top: 130px;
    margin-top: -144px;
}

.a-jumbotron .a-jumbotron-ingress,
h2 {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.5;
}

h3 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
}

.a-jumbotron .a-jumbotron-ingress {
    display: block;
    margin-bottom: 24px;
    color: #022f51;
}

.a-blueDarkerText {
    color: #022f51;
}

.a-fontSizeL {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.5;
}

.a-text {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
}

.a-text ul {
    margin-top: 12px;
    margin-left: 0;
    color: #000;
    list-style: none;
    position: relative;
    margin-bottom: 12px;
}

.a-text ul li {
    position: relative;
    padding-left: 24px;
    margin-bottom: 12px;
}

.a-text ul li::before {
    font-size: 30px;
    font-size: 3rem;
    line-height: 1.3;
    position: absolute;
    top: -5px;
    left: -3px;
    padding-right: 5px;
    color: #1eaef7;
    content: '•';
}

a[href^='http']:not([href*='altinn.github.io/docs/'])::after {
    display: inline-block;
    width: 1.3em;
    background-image: url(/designer/img/arrowrightup.svg);
    background-repeat: no-repeat;
    background-size: 119% auto;
    vertical-align: middle;
    margin-top: -4px;
    margin-left: -3px;
    content: '(external link)';
    white-space: nowrap;
    overflow: hidden;
    text-indent: 1.3em;
}

.a-text > h3 {
    margin: 24px 0 6px 0;
}

a.no-decoration {
    padding-bottom: 0;
    color: #000;
    text-decoration: none;
    border: none;
}

a.no-decoration:focus,
a.no-decoration:hover {
    text-decoration: none;
    border-bottom: none;
}

.a-collapse-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 3px;
    margin-bottom: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.a-collapse-title::before {
    margin-top: 3px;
}

.a-accordion-large {
    border-bottom: 1px solid #a5bcc4;
}

.a-accordion-large .card {
    margin-bottom: 0;
    background: 0 0;
    border: none;
}

.a-accordion-large .a-collapse-title {
    padding: 21px 0 18px 0;
    border-top: 1px solid #a5bcc4;
}

.a-dropdownCircleArrow {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 36px;
    min-width: 36px;
    height: 36px;
    margin-top: -3px;
    margin-right: 12px;
    color: #fff;
    background: #1eaef7;
    border: 3px solid #1eaef7;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition:
        transform 0.2s ease-out,
        -webkit-transform 0.2s ease-out;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.a-dropdownCircleArrow i {
    padding-left: 3px;
    line-height: inherit;
}

.a-dropdownCircleArrow.a-dropdownCircleArrow--small {
    width: 24px;
    min-width: 24px;
    height: 24px;
}

.a-dropdownCircleArrow.a-dropdownCircleArrow--small i {
    font-size: 20px;
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 0;
}

.a-dropdownCircleArrow.a-dropdownCircleArrow--darkblue {
    background: #0062ba !important;
    border: 3px solid #0062ba !important;
}

.collapsed .a-dropdownCircleArrow {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

a.collapsed .a-dropdownCircleArrow {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.collapse {
    display: none;
}

.collapse.show {
    display: block;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

.a-collapseContent .a-collapseContent-inside {
    padding-right: 0;
    padding-bottom: 36px;
    padding-left: 48px;
}

.a-collapseContent .a-collapseContent-inside {
    padding-bottom: 0;
}

.ai {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2em' height='2em' viewBox='0 0 24 24' focusable='false' role='img'%3E%3Cpath fill='rgb(255,255,255)' fill-rule='evenodd' d='M9.47 5.97a.75.75 0 0 1 1.06 0l5.5 5.5a.75.75 0 0 1 0 1.06l-5.5 5.5a.75.75 0 1 1-1.06-1.06L14.44 12 9.47 7.03a.75.75 0 0 1 0-1.06' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E%0A");
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        padding: 0 24px;
    }

    .col-sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .jumbotron {
        padding: 4rem 2rem;
    }

    .a-jumbotron {
        min-height: 600px;
        margin-bottom: 60px;
    }

    .a-jumbotron-header {
        background-position: right 0;
        background-size: cover;
    }

    .a-jumbotron-header.a-jumbotron-header--left {
        background-position: left 0;
    }
}

@media (min-width: 768px) {
    h2 {
        font-family: DIN-reg;
        font-weight: 400;
    }

    .container {
        max-width: 720px;
    }

    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .offset-md-0 {
        margin-left: 0;
    }

    .mb-md-0 {
        margin-bottom: 0 !important;
    }

    .order-md-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .an-header {
        height: 100px;
        padding-top: 36px;
    }

    .a-jumbotron {
        min-height: 650px;
    }

    .jumbotron.a-jumbotron-header {
        padding-top: 150px;
    }

    .a-jumbotron .a-jumbotron-ingress,
    h2 {
        font-size: 22px;
        font-size: 2.2rem;
        line-height: 1.5;
    }

    .a-h3,
    h3 {
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 1.5;
    }

    .a-fontSizeL {
        font-size: 20px;
        font-size: 2rem;
        line-height: 1.5;
    }

    .a-text {
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 1.5;
    }

    .a-text > h3 {
        margin: 24px 0 12px 0;
    }

    .a-collapseContent .a-collapseContent-inside {
        padding-right: 48px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .col-lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-lg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-lg-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .offset-lg-1 {
        margin-left: 8.33333%;
    }

    .offset-lg-2 {
        margin-left: 16.66667%;
    }

    .an-header {
        margin-bottom: 0;
    }

    .jumbotron.a-jumbotron-header {
        padding-top: 130px;
    }

    .a-jumbotron .a-jumbotron-ingress,
    h2 {
        font-size: 24px;
        font-size: 2.4rem;
        line-height: 1.5;
    }

    .a-h3,
    h3 {
        font-size: 20px;
        font-size: 2rem;
        line-height: 1.5;
    }

    .a-fontSizeL {
        font-size: 24px;
        font-size: 2.4rem;
        line-height: 1.5;
    }

    .a-text > h3 {
        margin: 36px 0 12px 0;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1056px;
        padding: 0;
    }

    .col-xl-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .offset-xl-2 {
        margin-left: 16.66667%;
    }

    .a-jumbotron-header.a-jumbotron-header--left {
        background-position: center 0;
    }

    .a-jumbotron-header {
        background-position: center 0;
    }

    .a-jumbotron .a-jumbotron-ingress,
    h2 {
        font-size: 28px;
        font-size: 2.8rem;
        line-height: 1.4;
    }
}

@media (min-width: 1600px) {
    .a-jumbotron {
        min-height: calc(100vh - 200px);
    }

    .jumbotron.a-jumbotron-header {
        padding-top: 9%;
    }
}

@media (max-width: 991.98px) {
    .an-header > .container {
        max-width: none;
        padding: 0 12px;
    }
}
