.editor {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
}

.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(25rem, 32rem);
  flex: 1;
  min-height: 0;
  min-width: 0;
}

@media (max-width: 64rem) {
  .editor {
    height: auto;
  }

  .container {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 28rem auto;
    height: auto;
  }
}
