.ellipsisMenuContent {
  display: flex;
  flex-direction: column;
}

.ellipsisMenuContent button {
  justify-content: start;
}

.divider {
  border-top: 1px solid;
  border-color: var(--ds-color-neutral-border-subtle);
  width: 100%;
}
