.root {
  display: flex;
}

.label {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.root:hover .label {
  background-color: var(--fds-semantic-surface-action-first-no_fill-hover);
}

.deleteButton {
  border-radius: 0;
}

.root:not(:hover):not(:focus-within) .deleteButton {
  visibility: hidden;
}

.duplicateComponentIds {
  background-color: var(--fds-semantic-surface-danger-subtle) !important;
}

.deprecatedComponent {
  background-color: var(--fds-semantic-surface-warning-default);
}
