apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

resources:
  - ../../base

patches:
  - path: patches/router-config.yaml
  - path: patches/gateway-config.yaml
  - path: patches/gateway-secrets.yaml
  # Rename cluster-scoped resources to avoid conflicts with other deployments
  - target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: ClusterRole
      name: otel-collector
    patch: |-
      - op: replace
        path: /metadata/name
        value: studio-otel-collector
  - target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: ClusterRoleBinding
      name: otel-collector
    patch: |-
      - op: replace
        path: /metadata/name
        value: studio-otel-collector
      - op: replace
        path: /subjects/0/namespace
        value: observability
      - op: replace
        path: /roleRef/name
        value: studio-otel-collector
