.componentsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}

.categoryHeading {
  margin-bottom: var(--ds-size-2);
}

.itemCategory {
  margin-bottom: var(--fds-spacing-1);
  margin-right: var(--fds-spacing-1);
  max-width: calc(50% - 12px);
  background-color: var(--ds-color-neutral-background-tinted);
}
