.canvasMenuContainer {
  padding-inline: 18px;
  margin-top: 18px;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
}

.unsavedChanges {
  color: var(--fds-semantic-text-danger-default);
  font-weight: 500;
}

.saveButton {
  display: flex;
  align-items: center;
  margin-left: auto;
}
