.canvasMenuContainer {
  padding-inline: 18px;
  margin-top: 18px;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  gap: 8px;
}

.unsavedChanges {
  color: var(--fds-semantic-text-danger-default);
  font-weight: 500;
}
