.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: dashed 0.5px black;
  padding-inline: 5px;
  padding-block: 2px;
  margin-inline: 5px;
  margin-block: 5px;
}

.iconAndTitle {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1.5rem;
  margin-right: 5px;
}
