.deployButton {
  margin-top: 2.6rem;
}

.select {
  max-width: 34rem;
  z-index: 900;
}

.paperProps {
  background-color: #f9cad3;
}

.successIcon {
  color: var(--fds-semantic-text-success-default);
  font-size: 3rem;
}
.infoIcon {
  color: var(--fds-semantic-text-action-default);
  font-size: 3rem;
}
.errorIcon {
  color: var(--fds-semantic-text-danger-default);
  font-size: 3rem;
}
