.wrapper {
  width: 100%;
  border: solid 1px var(--ds-color-neutral-border-subtle);
}

.wrapper.buttonHovered {
  box-shadow: 0 0 0 2px var(--ds-color-neutral-border-subtle);
}

.buttonFocused:focus-visible,
.buttonFocused:focus-within {
  outline: var(--focus-border-width) solid var(--focus-border-outline-color);
  outline-offset: var(--focus-border-width);
  box-shadow: 0 0 0 var(--focus-border-width) var(--focus-border-inner-color);
}

.cardWrapper {
  border-radius: var(--ds-size-3);
}

.elementWrapper {
  border-radius: var(--ds-size-1);
  background-color: var(--ds-color-neutral-background-tinted);
}

.cardError {
  border: solid 2px var(--ds-color-danger-border-default);
}

.cardErrorHover {
  border: solid 2px var(--ds-color-danger-border-strong);
  box-shadow: 0 0 0 2px var(--ds-color-danger-border-strong);
}

.topWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: var(--ds-size-4);
}

.topWrapperCard {
  border-radius: var(--ds-size-3);
}

.topWrapperCardOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.topWrapperElement {
  border-radius: var(--ds-size-1);
}

.topWrapperElementOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.topWrapperError {
  border-radius: var(--ds-size-3);
  background-color: var(--ds-color-danger-surface-tinted);
}

.topWrapperErrorOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.cardExpandButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--ds-size-5);
  padding-right: var(--ds-size-1);
  margin: 0;
}

.elementExpandButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: var(--ds-size-3);
  padding-left: var(--ds-size-5);
  padding-right: var(--ds-size-1);
  margin: 0;
}

.cardExpandButton:focus,
.elementExpandButton:focus {
  outline: none;
}

.cardBottomWrapper {
  padding-inline: var(--ds-size-5);
  padding-bottom: var(--ds-size-5);
}

.elementBottomWrapper {
  padding-inline: var(--ds-size-5);
  padding-bottom: var(--ds-size-3);
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.headerDescription {
  text-align: start;
}
