.alertWrapper {
  margin-bottom: 20px;
  max-width: 650px;
}

.addCardButtonWrapper {
  margin-block: 20px;
  width: 595px;
  min-width: 595px;
}

.heading {
  margin-top: 30px;
  margin-bottom: 10px;
}
