.alertWrapper {
  width: 590px;
  min-width: 590px;
  margin-bottom: 20px;
}

.selectAuthLevelWrapper {
  width: 100%;
}

.selectAuthLevel {
  width: 450px;
}

.addCardButtonWrapper {
  margin-block: 20px;
  width: 595px;
  min-width: 595px;
}

.space {
  margin-block: 20px;
}

.policyEditorHeader {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 30px;
}

.label {
  margin-top: 30px;
}

.alert {
  display: flex;
  align-items: center;
}
