.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}

.downloadWrapper {
  display: flex;
  flex-direction: column;
}

.linkDivider {
  margin-top: 20px;
}
