.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: var(--fds-spacing-5);
}

.downloadWrapper {
  display: flex;
  flex-direction: column;
}

.linkDivider {
  margin-top: var(--fds-spacing-2);
}
