.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 0;
  background-color: var(--fds-semantic-surface-neutral-default);
  border-radius: 12px;
  border: solid 1px var(--fds-semantic-border-neutral-divider);
  cursor: pointer;
}

.button:hover {
  background-color: var(--fds-semantic-surface-neutral-subtle-hover);
}

.button:focus-visible,
.button:focus-within {
  border-bottom: 1px solid var(--fds-semantic-border-neutral-divider);
  background-color: var(--fds-semantic-background-default);

  --fds-inner-focus-border-color: var(--fds-semantic-border-focus-boxshadow);
  --fds-outer-focus-border-color: var(--fds-semantic-border-focus-outline);
  --fds-focus-border-width: 3px;

  outline: var(--fds-focus-border-width) solid var(--fds-outer-focus-border-color);
  outline-offset: var(--fds-focus-border-width);
  box-shadow: 0 0 0 var(--fds-focus-border-width) var(--fds-inner-focus-border-color);
}
