@{
    ViewBag.Title = "Prosessflyt";
}
@section scripts {
    <script src="~/designer/js/lib/jsoneditor.js" asp-append-version="true"></script>
}
@section styles {
    <style>
        a.list-group-item[class~=active], a.list-group-item[class~=active]:focus, a.list-group-item[class~=active]:hover {
            background-color: #373a3c;
            border-color: #373a3c;
        }
        #editor_holder > div > h3 > span {
            display: none;
        }
        #editor_holder > div > h3 > .btn-group {
            margin-left: 0 !important;
        }
    </style>
}

<div class="alert alert-success" role="alert" id="saveConfirmation" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div id="message"></div>
    <pre id="json"></pre>
</div>

<div id="editor_holder"></div>

<input id="saveWorkflowBtn" type="button" class="btn btn-primary" value="Lagre prosessflyt" onclick="submitForm()" />

<script>
    var _editor;
    $(document).ready(function () {
        JSONEditor.defaults.theme = "bootstrap3";
        JSONEditor.defaults.options.disable_array_delete_last_row = true;
        JSONEditor.defaults.options.disable_array_delete_all_rows = true;
        JSONEditor.defaults.options.disable_edit_json = true;
        JSONEditor.defaults.options.disable_properties = true;
        JSONEditor.defaults.options.disable_collapse = true;
        JSONEditor.defaults.options.show_errors = "always";
        JSONEditor.defaults.languages.en.button_delete_row_title = "Slett {{0}}";
        JSONEditor.defaults.languages.en.button_add_row_title = "Nytt {{0}}";
        JSONEditor.defaults.languages.en.button_move_down_title = "Flytt steg ned";
        JSONEditor.defaults.languages.en.button_move_up_title = "Flytt steg opp";

        $.when(
            $.ajax("@Url.Action("Schema")"),
            $.ajax("@Url.Action("GetWorkflow")"))
            .done(function (a1, a2) {
                _editor = new JSONEditor(document.getElementById('editor_holder'), {
                    keep_oneof_values: false,
                    remove_empty_properties: false,
                    disable_array_reorder: false,
                    required_by_default: true,
                    schema: a1[0],
                    startval: JSON.parse(a2[0])
                });
            });
        });

    function submitForm() {
        var jsonData = _editor.getValue();
        var jsonString = JSON.stringify(jsonData, null, 3);

        jQuery.post({
            url: "@Url.Action("SaveWorkflow")",
            contentType: "application/json; charset=UTF-8",
            data: jsonString,
            success: function (data) {
                $("#message").html(data.Message);
                $("#json").html(jsonString);
                $("#saveConfirmation").show();
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    }

    $(document).bind('keydown', function (e) {
        if (e.ctrlKey && (e.which == 83)) {
            e.preventDefault();
            saveWorkflowBtn.focus();
            saveWorkflowBtn.click();
            saveWorkflowBtn.blur();
        }
    });
</script>