.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--ds-size-2);
}

.small {
  height: 32px;
}

.medium {
  height: 56px;
}

.large {
  height: 72px;
}

@media only screen and (min-width: 576px) {
  .large {
    height: 120px;
  }
}

@media print {
  .large {
    height: 104px;
  }
}
