.accordionItem {
  display: grid;
  grid-template-columns: 1fr auto;
  border-top: 1px solid var(--ds-color-neutral-border-subtle);
}

.receiptItem {
  border-top: none;
  border-bottom: none;
}

.details {
  grid-column: 1 / -1;
  grid-row: 1;
  border-top: none;
}

.accordionHeader {
  --dsc-details-summary-background: var(--background-color);
  --dsc-details-summary-background--hover: var(--background-color);
  --dsc-details-summary-background--open: var(--background-color);
}

.accordionContent {
  margin-inline: 0;
  padding: 0;
}

.navigationMenu {
  grid-column: 2;
  grid-row: 1;
  align-self: start;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  padding-block: 12px;
  margin-left: 10px;
  background-color: var(--background-color);
}
