.root {
  display: flex;
  flex-direction: column;
  flex: var(--structure-width-fraction);
  overflow-y: auto;
}

.root > *:last-child {
  flex: 1;
  align-content: flex-end;
}

.pageHeader {
  margin: var(--margin-top) var(--margin-horizontal) 0 var(--margin-horizontal);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  padding-top: var(--ds-size-5);
  padding-bottom: var(--ds-size-4);
  gap: var(--ds-size-2);
}

.button {
  height: max-content;
  width: max-content;
  margin: 0 auto;
}

.wrapper {
  align-items: flex-start;
  justify-content: space-between;
  overflow-wrap: anywhere;
}

.accordionWrapper {
  flex: 1;
}
