.groupWrapper {
  border-bottom: 0.5px solid var(--ds-color-neutral-border-subtle);
}
.groupHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected {
  background-color: var(--ds-color-surface-tinted);
}

.container {
  display: flex;
  gap: var(--ds-size-2);
  align-items: center;
  padding: var(--ds-size-3);
  flex: 1;
  align-self: stretch;
  cursor: pointer;
}

.container:hover {
  background-color: var(--ds-color-neutral-surface-hover);
}

.rightIconsContainer {
  display: flex;
  align-items: center;
  padding: var(--ds-size-3) var(--ds-size-2);
}

.ellipsisIcon {
  font-size: var(--ds-size-5);
}

.pageAccordionWrapper {
  margin: auto;
  width: 90%;
}

.addPagebutton {
  display: block;
  margin: var(--ds-size-5) auto;
}

.ellipsisMenuContent {
  display: flex;
  flex-direction: column;
}
