.wrapper {
}

.createdFor {
  display: flex;
  align-items: center;
  background-color: var(--fds-semantic-surface-neutral-subtle);
  border-radius: var(--fds-border_radius-medium);
  padding: var(--fds-spacing-4);
}

.createdBy {
  display: flex;
  gap: var(--fds-spacing-1);
  align-items: center;
  color: var(--fds-semantic-text-action-active);
}

.label {
  margin-top: var(--studio-modal-spacing);
}

.createdForText {
  margin-left: var(--fds-spacing-3);
  color: var(--fds-semantic-text-action-active);
}

.createdByText {
  color: inherit;
}

.createdByIcon {
  font-size: 1.5rem;
  color: inherit;
}

.avatar {
  max-height: 2em;
}

.createdDate {
  color: var(--fds-semantic-text-neutral-subtle);
}
