.hrLabelGrid{
  display: none;
  width: 100%;
  margin: 0 12px;
  padding: 0;
  border-top: 1px dashed #949494;
  height: 0;
}

/*
breakpoints from altinn theme
      xs: 0,
      sm: 600,
      md: 1025,
      lg: 1440,
      xl: 1920, */

.hrLabelGrid.xs{
  display:block;
}

@media (min-width: 600px) { 
  .hrLabelGrid.sm{
    display:block;
   }
}

@media (min-width: 1025px) { 
  .hrLabelGrid.md {
    display:block;
  }
}

@media (min-width: 1440px) { 
  .hrLabelGrid.lg {
    display:block;
  }
}

@media (min-width: 1920px) { 
  .hrLabelGrid.xl {
    display:block;
  }
}