@import '~altinn-designsystem/dist/css/style.dist.tjenester3.min';

/* Custom CSS for all app */

/* Workaround to avoid (PDF) postfix from Altinn designsystem */
a[href$=".pdf"]::after {
  content: none!important;
  display: inline!important;
}

body {
  margin: 0;
  background-color: #1eaef7;
}

input:checked + .slider {
  background-color: #1EAEF7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:focus + .slider {
  box-shadow: 0 0 1px #1EAEF7;
}

p {
  font-family: 'Altinn-DIN';
}

option {
  overflow: 'hidden';
  text-overflow: 'ellipsis';
}

.a-form-label.description-label {
  font-weight: 300;
  line-height: 2.4rem;
  margin-bottom: 1.2rem;
  word-break: break-word;
  text-overflow: ellipsis;
}

.a-form-label.description-label p {
  font-weight: 300;
  line-height: 2.4rem;
  margin-bottom: 1.2rem;
}

.a-form-label.description-label ul, .form-group.a-form-group ul {
  padding-left: 2rem;
  margin-bottom: 1.6rem;
}

.a-form-label.title-label {
  font-weight: 500;
  margin-bottom: 1.2rem;
  word-break: break-word;
  text-overflow: ellipsis;
}

.a-form-label.title-label p {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 0;
}

.a-form-label.title-label .label-optional {
  font-size: 1.4rem;
  font-weight: 400;
  color: #6A6A6A;
}

.a-form-group .form-control {
  border: 2px solid #008FD6;
}

.a-form-group .input-group .input-group-prepend {
  border: 2px solid #008FD6;
}

.attachmentList-title p {
  font-size: 2rem;
  font-weight: 500;
}

.cursorPointer {
  cursor: pointer;
}

.hidden-button-text {
  display: none;
}

.react-modal {
  background: transparent;
  min-width: 600px;
  max-width: 800px;
  top: 10%;
  margin-bottom: 10%;
}

.react-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(30, 174, 247, 0.3);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F3F3F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  margin: 0px !important;
}

.slider.round:before {
  border-radius: 50%;
}

select.disabled {
  border: 2px solid #6A6A6A !important;
  color: #000;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjhweCIgaGVpZ2h0PSI0cHgiIHZpZXdCb3g9IjAgMCA4IDQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDQwLjIgKDMzODI2KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5UcmlhbmdsZTwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxwb2x5Z29uIGlkPSJUcmlhbmdsZSIgZmlsbD0iIzAwMDAwMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNC4wMDAwMDAsIDIuMDAwMDAwKSBzY2FsZSgxLCAtMSkgdHJhbnNsYXRlKC00LjAwMDAwMCwgLTIuMDAwMDAwKSAiIHBvaW50cz0iNCAwIDggNCAwIDQiPjwvcG9seWdvbj4KICAgIDwvZz4KPC9zdmc+) no-repeat right .75rem center, repeating-linear-gradient(
    135deg,
    #efefef,
    #efefef 2px,
    #fff 3px,
    #fff 5px
  ) !important;
  background-size: 8px 10px, cover !important;
}


/* Button */
.a-btn-sm-fullwidth {
  width: 100%;
  padding-bottom: 6px;
}

@media screen and (min-width: 576px) {
  .a-btn-sm-fullwidth {
    width: auto;
  }
}

.a-btn-success:focus {
  outline: 2px solid #0062BA;
}
