.valueField {
  margin: 0 var(--studio-property-fieldset-spacing) var(--studio-property-fieldset-spacing);
}

.textResources > button:last-child {
  margin-bottom: 0;
}

.textResources > fieldset:last-child {
  margin-bottom: var(--fds-spacing-3);
}
