.root {
  --fieldset-gap: var(--fds-spacing-2);
}

.gridItem {
  margin-top: 18px;
}

.root {
  display: flex;
  flex-direction: column;
  gap: var(--fieldset-gap);
}

.componentSpecificWrapper {
  padding-inline: var(--ds-size-5);
}
