.objectPropertyContainer {
  gap: 0.5rem;
}

.button {
  margin: var(--fds-spacing-1);
  padding-left: 0;
}

.upIcon,
.downIcon {
  font-size: var(--fds-sizing-6);
}

.gridButton {
  padding: 0;
}

.gridHeader {
  padding: 0;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  margin-left: var(--fds-spacing-5);
}

.button {
  margin: var(--fds-spacing-2);
}
