.wrapper {
  display: flex;
  justify-content: space-between;
}

.pageWrapper {
  margin: 0;
  padding: var(--ds-size-10);
  padding-bottom: var(--ds-size-26);
  flex: 1;
  position: relative;
}

.resourceFields {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-10);
}
