.active {
  border-bottom: 2px solid var(--fds-semantic-surface-neutral-default);
  border: 1px solid red;
}

.smallLink {
  justify-content: flex-start;
}

.betaTag {
  min-height: min-content;
  padding: 0 var(--fds-spacing-1);
}
