.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  flex: 1;
  padding: 0 1rem;
  gap: 2rem;
  font-size: 1rem;
}

.menuItem {
  color: #fff;
  font-size: 1rem;
}

.menuItem :hover {
  border-bottom: 2px solid #fff;
}

.menuItem a {
  color: #fff;
  text-decoration: none;
}

.menuItem.active {
  border-bottom: 2px solid #fff;
}

.previewLinkElement {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 2;
  font-size: 1rem;
}
