.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  flex: 2;
  padding: 0 var(--fds-spacing-4);
  /* TODO */
  gap: var(--fds-spacing-8);
  font-size: var(--fds-sizing-4);
}

.menuItem {
  color: var(--fds-semantic-surface-neutral-default);
  font-size: var(--fds-sizing-4);
  display: flex;
  align-items: center;
  /* TODO */
  gap: var(--fds-spacing-1);
}

.menuItem a:hover {
  border-bottom: 2px solid var(--fds-semantic-surface-neutral-default);
}

.menuItem a {
  color: var(--fds-semantic-surface-neutral-default);
  text-decoration: none;
}

.active {
  border-bottom: 2px solid var(--fds-semantic-surface-neutral-default);
}

.activeSmall {
  background-color: var(--fds-semantic-surface-neutral-subtle);
  border-radius: 5px;
}

.smallLink {
  justify-content: flex-start;
}

.betaTag {
  min-height: min-content;
  padding: 0 var(--fds-spacing-1);
}

.largeMenu {
  display: flex;
  align-items: center;
  gap: var(--fds-spacing-8);
}

.deploymentItems {
  display: flex;
  align-items: center;
  gap: var(--fds-spacing-4);
}

.previewIcon {
  font-size: var(--fds-sizing-6);
  color: var(--fds-semantic-surface-neutral-default);
}

/*
.previewButton {
  background-color: #293b51;
}*/
