.address-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;
}

.address-component-postplace-zipCode {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: baseline;
  gap: 0.937rem;
}

.address-component-postplace {
  flex-grow: 4;
  max-width: 300px;
}

.address-component-zipCode {
  flex-grow: 0;
}

.address-component-small-inputs {
  max-width: 90px;
}
