.addressComponent {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;
}

.addressComponentPostplaceZipCode {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: baseline;
  gap: 0.937rem;
}

.addressComponentPostplace {
  flex-grow: 4;
  max-width: 300px;
}

.addressComponentZipCode {
  flex-grow: 0;
}

.addressComponentSmallInputs {
  max-width: 90px;
}
