.toolbar {
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #c9c9c9;
  display: flex;
  gap: 1rem;
  padding: 8px;
}

.toolbar button[class*='selected'] {
  color: #fff;
}

.toolbar button[class*='toggle'] {
  font-size: 1em;
  padding-top: 4px;
}

.right {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.dataModelGroup {
  display: flex;
  align-items: center;
}

.dataModelGroup > button {
  --dsc-button-border-color: var(--ds-color-neutral-border-default);
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}
