.description {
  word-break: break-word;
  line-height: var(--fds-sizing-6);
  color: var(--semantic-text-neutral-subtle);
  display: inline-block;
  font-weight: normal;
  font-size: var(--fds-sizing-4);
}
