<div class="form-group">
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
                <input disabled type="text" class="form-control" placeholder="Velg element fra modell" rv-value="property.value">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button"
                              onclick="$('#treeViewBtns').show();
                                $('#configurationBtns').hide();
                                $('#modalEditTreeView').show();
                                $('#modalEditBody').hide();">
                        Velg
                    </button>
                </span>
            </div>
            <!--<div>
                <input type="text" class="form-control" placeholder="Enter a property in the servicemodel" aria-describedby="TODO" rv-on-input="property.changed" rv-value="property.value" />
                <span style="display:none" class="form-control resourcetext-preview">
                    { property.resourcevalue }
                </span>
            </div>-->
        </div>
        <div class="col-lg-12">
            <div rv-if="property.hasParent">
                <p style="margin-top: 12px" class="text-muted" rv-unless="property.parentGroupBinding">
                    Gruppen denne komponenten ligger i er ikke bundet til modellen. Hvis du ønsker å binde elementer i denne komponenten til repeterende grupper i
                    modellen må gruppen bindes til den repeterende gruppen først.
                </p>
                <p style="margin-top: 12px" class="text-muted" rv-if="property.parentGroupBinding">
                    Gruppen denne
                    The parent group <i>{ property.parentGroupName }</i> is bound to { property.parentGroupBinding } in the servicemodel, therefore this element can be bound to either
                    child properties of that group or any properties which are not in a repeating group.
                </p>
            </div>
            <div rv-unless="property.hasParent">
                <p style="margin-top: 12px" class="text-muted" rv-unless="property.parentGroupBinding">
                    This component does not have a parent, and can therefore only be bound to properties in the servicemodel which are not within repeating groups unless
                    the index of the parent group is explicitly defined.
                </p>
            </div>
        </div>
    </div>
</div>
