.wrapper {
  display: flex;
  width: 100%;
}

.cardWrapper {
  width: 595px;
  min-width: 595px;
}

.ruleWarning {
  padding: 20px;
  color: #E02E49;
}

.subHeader {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.text {
  font-weight: 400;
  font-size: 16px;
}

.smallText {
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.chipWrapper {
  display: flex;
  margin-top: 10px;
}

.textAreaWrapper {
  margin-top: 10px;
}

.addResourceButton {
  margin-top: 10px;
}

.warningCardWrapper {
  margin-top: 10px;
}
