.wrapper {
  align-items: stretch;
  display: flex;
  margin-left: var(--margin-left-with-handle);
  margin-right: var(--margin-right-with-buttons);
}

.formComponentWithHandle {
  align-items: stretch;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.previewMode .formComponentWithHandle {
  border: 1px dashed transparent;
}

.previewMode:hover .formComponentWithHandle {
  border-color: #008FD6;
  box-shadow: 0 0 4px #1EADF740;
  border-radius: 5px;
}

.dragHandle {
  background-color: #00000010;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  visibility: hidden;
  width: var(--drag-handle-width);
}

.previewMode .dragHandle {
  --drag-handle-border-left-width: 6px;
  --drag-handle-inner-width: calc(var(--drag-handle-width) - var(--drag-handle-border-left-width));
  border-left: var(--drag-handle-border-left-width) solid #008FD6;
  box-sizing: border-box;
}

.wrapper:hover .dragHandle {
  visibility: visible;
}

.formComponentWithHandle:has(.dragHandle:hover) {
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
}

.formComponent {
  background-color: #fff;
  border: 1px solid #6a6a6a;
  color: #022F51;
  flex: 1;
  padding: 1rem;
}

.previewMode .formComponent {
  border: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-left: var(--buttons-distance);
  gap: var(--buttons-distance);
}

.wrapper:not(.editMode):not(:hover) .buttons button {
  visibility: hidden;
}

.formComponentTitle {
  margin-top: 0.6rem;
  color: #022F51;
}
