.root {
  --frame-offset: 4px;
  border-radius: 2px;
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
}

.root.isEditing {
  outline-offset: var(--frame-offset);
  outline: 1px dashed #008fd6;
}

.root.isSearching {
  --search-background-color: #1EADF718;
  background-color: var(--search-background-color);
  box-shadow: 0 0 0 var(--frame-offset) var(--search-background-color);
}

.label {
  margin: 0;
}

.description {
  margin: 0;
  font-size: 1.4rem;
}

.textResource {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.placeholder {
  color: #c9c9c9;
}

.searchContainer {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.searchContainer .select {
  flex: 1;
}
