.buttonContainer {
  display: flex;
  gap: var(--ds-size-3);
}

.alertContainer {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-3);
}

.paymentContainer {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-6);
}
