.subformCardEditMode {
  width: 300px;
  gap: var(--ds-size-3);
  background-color: var(--ds-color-neutral-background-default);
  border: var(--ds-border-width-focus) solid var(--ds-color-brand1-base-active);
  border-radius: var(--ds-border-radius-lg);
}

.subformTabs {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-2);
  padding-inline: var(--ds-size-1);
}

.tabContent {
  padding: var(--ds-size-2) 0;
}

.tabContent select {
  width: 100%;
}

.buttonContainer {
  display: flex;
  gap: var(--ds-size-2);
  padding-bottom: var(--ds-size-3);
}
