.modalContainer {
  padding: 24px;
  width: 319px;
}

.itemSeparator {
  padding-bottom: 12px;
}

.sectionSeparator {
  padding-bottom: 32px;
}

.blackText {
  color: black;
}

.infoIcon {
  font-size: 1.5rem;
  color: var(--fds-semantic-text-action-default);
  padding: 0px 0px 3px 0px;
}
