replicaCount: 1

environment: development

image:
  repository: nginx
  tag: 1.23.3-alpine
  pullPolicy: IfNotPresent
  containerPorts:
    http: 80
    https: 443

hosts:
  dev: dev.altinn.studio
  staging: staging.altinn.studio
  production: altinn.studio

volumeMounts:
  - name: altinn-loadbalancer-conf
    mountPath: "/etc/nginx"
  # this was to be moved out as a k8s secret?      
  - name: altinn-loadbalancer-ssl
    mountPath: "/etc/nginx/ssl/altinn_studio"

volumes:
  - name: altinn-loadbalancer-conf
    configMap:
      name: loadbalancer-config
      items: 
       - key: nginx.config
       - path: nginx.config
  # this was to be moved out as a k8s secret?      
  - name: altinn-loadbalancer-ssl
    secret:
      secretName: ssl-key-secret

service:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
    - port: 443
      targetPort: 443
      protocol: TCP
      name: https

# insert correct ip
loadbalancerIP:
  dev: 51.136.127.155
  staging: 52.157.218.253
  production: 20.50.249.144