.configContent {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-5);
  padding: var(--studio-property-button-vertical-spacing) var(--ds-size-5);
  margin-bottom: var(--studio-property-button-vertical-spacing);
}
