apiVersion: opentelemetry.io/v1beta1
kind: OpenTelemetryCollector
metadata:
  name: otel-router
spec:
  config:
    processors:
      batch: {}

    exporters:
      loadbalancing/traces:
        routing_key: traceID
        protocol:
          otlp:
            tls:
              insecure: true
        resolver:
          dns:
            hostname: otel-gateway-collector-headless.runtime-obs.svc.cluster.local
            port: 4317
      loadbalancing/metrics:
        routing_key: resource
        protocol:
          otlp:
            tls:
              insecure: true
        resolver:
          dns:
            hostname: otel-gateway-collector-headless.runtime-obs.svc.cluster.local
            port: 4317
      loadbalancing/logs:
        routing_key: traceID
        protocol:
          otlp:
            tls:
              insecure: true
        resolver:
          dns:
            hostname: otel-gateway-collector-headless.runtime-obs.svc.cluster.local
            port: 4317

    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [loadbalancing/traces]
        metrics:
          receivers: [otlp]
          processors: [batch]
          exporters: [loadbalancing/metrics]
        logs:
          receivers: [otlp]
          processors: [batch]
          exporters: [loadbalancing/logs]
