.actionButtons {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--ds-color-neutral-background-default);
  border-top: 1px solid var(--ds-color-neutral-surface-tinted);
  /* Added to make sure the divider line positions correctly */
  margin-left: calc(-1 * var(--ds-size-6));
  padding: var(--ds-size-6);
  display: flex;
  justify-content: flex-start;
  gap: var(--ds-size-6);
  z-index: 2;
}
