.switch {
  display: inline-block;
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

.slider {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  background-color: #D2D5D8;
  transition: 0.4s;
  border-radius: 43px;
  border: 2px solid #68707C;
  cursor: pointer;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  top: -1px;
  left: -1px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  border: solid 3px #68707C;
}

.checkbox:checked + .slider {
  background-color: #1062D5;
  border: 2px solid #1062D5;
}

.checkbox:checked + .slider:before {
  transform: translateX(24px);
  border: solid 3px #1062D5;
}

.checkbox:focus + .slider {
  outline: 2px solid #98177E;
  outline-offset: 3px;
}
