.container {
  padding: 0 var(--ds-size-5);
}

.addOptionListContainer {
  display: flex;
  width: 60%;
  min-width: 12rem;
  flex-direction: column;
  gap: var(--ds-size-2);
}

.alert {
  margin-top: var(--ds-size-2);
}
