.toolbarItem {
  background-color: var(--ds-color-neutral-background-tinted);
  cursor: grab;
  margin: var(--ds-size-1);
  display: flex;
  padding: var(--ds-size-2);
  align-items: center;
  gap: var(--ds-size-2);
}

.componentIcon {
  min-width: var(--ds-size-10);
  display: flex;
  font-size: var(--ds-size-8);
  flex: 0 0 40;
}

.componentLabel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 auto;
}

.componentHelpIcon {
  flex: 0 0 var(--ds-size-8);
}
