.root > div {
  display: flex;
  flex-direction: column;
  gap: var(--fieldset-gap);
}

.widthAndPlacement {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.widthContainer {
  flex: 1;
}

.placementContainer {
  flex: 3;
}
