.resourceWrapper {
  display: flex;
}

.resourcePageWrapper {
  flex-grow: 1;
  padding-bottom: 100px;
}

.leftNavWrapper {
  height: 100vh;
  top: 0;
  position: sticky;
}

.spinnerWrapper {
  padding: 10%;
}
