.wrapper {
  --field-spacing: var(--ds-size-6);

  display: flex;
  flex-direction: column;
  gap: var(--field-spacing);
  padding-block: var(--field-spacing);
  margin-inline: var(--inline-spacing-size);
}

.textField {
  width: 32rem;
}
