.contentWrapper {
  border: 2px solid var(--ds-color-neutral-border-subtle);
  border-radius: var(--ds-size-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--ds-size-4);
  margin-top: var(--ds-size-5);
}
