.dynamicInPreview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border: 2px solid #e1e1e1;
  border-radius: 5px;
  margin: 20px -20px 20px -20px;
}

.dynamicDetails {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 20px;

}

.dynamicDetails div p span {
  font-style: italic;
}

.dynamicDetails span span {
  font-weight: bold;
}

.dynamicDetails p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bold {
  font-weight: bold;
}
