.plusIcon {
  font-size: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expressionDeleteButton {
  margin-left: auto;
  margin-right: 20px;
}

.expression {
  display: flex;
  flex-direction: column;
  background-color: #e9eaec;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  margin: 20px -20px 20px -20px;
}

.expressionDetails {
  flex-grow: 1;
  margin: 0 20px 20px 20px;
}

.expressionFunction {
  text-align: center;
  font-weight: bold;
}

.addExpression {
  margin-bottom: 20px;
}

.andOrToggleButtons {
  width: fit-content;
}
