.appName {
  font-size: var(--fds-sizing-4);
  color: var(--fds-semantic-text-neutral-default);
}

.breadcrumbWrapper ol {
  display: flex !important;
  list-style-type: none !important;
}

.breadcrumbWrapper li:not(:last-child)::after {
  content: '>';
  margin: 0 8px;
}

.breadcrumbWrapper a:hover {
  text-decoration: underline;
}
