.verticalDotsMenu {
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px;
  font-size: 30px;
  cursor: pointer;
}

.popover {
  position: absolute;

  background-color: rgb(233, 205, 205);

  border-radius: 5px;
  min-width: 150px;
  top: 51px;
  right: 30px;
}

.menuItems {
  padding: 20px;

  font-size: 16px;
  justify-content: flex-end;
  padding-right: 40px;
  padding-left: 10px;
}

.menuItem:hover {
  background-color: #e9ecef;
}

.cloneButton {
}

.repoText {
  font-size: 15px;
  padding-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}
.settingText {
  font-size: 15px;
}

.cloneMenuItem {
  margin-bottom: 15px;
  margin-left: 8px;
}
.repoMenuItem {
  margin-bottom: 15px;
  font-size: 13px;
}
.settingMenuItem {
  margin-bottom: 15px;
  margin-left: 8px;
  font-size: 20px;
}
