.verticalDotsMenu {
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px;
  font-size: 30px;
  cursor: pointer;
}

.popover {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  min-width: 175px;
  top: 51px;
  right: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.menuItems {
  padding: 20px;
  justify-content: flex-end;
  padding-right: 40px;
  padding-left: 15px;
}

.icon {
  margin-right: 5px;
  font-size: 20px;
}

.section {
  display: flex;
  align-items: center;
}

.cloneText {
  font-size: 15px;
  padding-left: 10px;
}

.repoText {
  font-size: 15px;
  padding-left: 43px;
  font-family: Arial, Helvetica, sans-serif;
}

.settingText {
  font-size: 15px;
  padding-left: 10px;
}

.cloneMenuItem {
  margin-bottom: 15px;
  margin-left: 8px;
}

.repoMenuItem {
  margin-bottom: 15px;
  font-size: 13px;
}

.settingMenuItem {
  margin-left: 8px;
}
