.pageWrapper {
  padding-inline: 10%;
  padding-block: 20px;
  flex-grow: 1;
}

.topWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topRightWrapper {
  display: flex;
  align-items: center;
}

.verticalDivider {
  border: 1px solid #bdbdbd;
  height: 20px;
  margin-inline: 10px;
}

.horizontalDivider {
  border: 1px solid #bdbdbd;
  margin-block: 20px;
}

.componentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 20px;
  padding-block: 20px;
}

.noResultText {
  margin-top: 20px;
}
