.conditionalRendering {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}

.dynamicsVersionCheckBox {
  z-index: 1;
  position: fixed;
  bottom: 40px;
  width: 100%;
}
