.divider {
  margin-top: var(--ds-size-18);
}

.fieldset {
  width: 32rem;
  margin-top: var(--ds-size-2);
  margin-bottom: var(--ds-size-3);
}

.buttonWrapper {
  margin-top: var(--ds-size-3);
}

.itemWrapper {
  background-color: var(--ds-color-background-tinted);
  box-shadow: 0 0 0 1rem var(--ds-color-background-tinted);
}
