@using AltinnCore.ServiceLibrary.ServiceMetadata;
@using AltinnCore.ServiceLibrary.Configuration;
@using AltinnCore.Common.Services.Interfaces;
@using Microsoft.Extensions.Configuration;
@model AltinnCore.Common.Models.AltinnStudioViewModel;
@inject IConfiguration configuration

@{
  ViewBag.Title = "tjenester 3.0";
  bool enableGitea = false;
  if (Environment.GetEnvironmentVariable("ServiceRepositorySettings__EnableGiteaIntegration") != null) {
    enableGitea = bool.Parse(Environment.GetEnvironmentVariable("ServiceRepositorySettings__EnableGiteaIntegration"));
  } else {
    enableGitea = bool.Parse(configuration["ServiceRepositorySettings:EnableGiteaIntegration"]);
  }
}

@section scripts {
  <script src="~/designer/js/lib/bootstrap-list-filter.min.js" asp-append-version="true"></script>
}

@section styles {
  <style>
    h1 {
      font-size: 40pt;
      color: black;
    }
  </style>
}

<div class="text-center">
  <h1 class="my-5 hidden-xs-down">
    <span style="font-weight: lighter">Altinn studio</span>
  </h1>

</div>


<form asp-controller="Home" asp-action="Index" class="form-inline">


  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text"></div>
    </div>
    <input asp-for="RepositorySearch.KeyWord" type="search" class="form-control" placeholder="Filtrer..." autocomplete="on" />
  </div>

  <div class="form-check mb-2 mr-sm-2">
    <input class="form-check-input" type="checkbox" asp-for="RepositorySearch.OnlyLocalRepositories">
    <label class="form-check-label" for="inlineFormCheck">
      Kun repo jeg jobber med
    </label>
  </div>

  <button type="submit" class="btn btn-primary mb-2">Søk</button>


 </form>

  <div class="row no-gutters">
    <div class="col text-left pt-2 pb-0">
      <a href="/explore/repos" title="Se alle repositories">Repositories</a>
    </div>

  </div>


  @{ string owner = "temp";
  }
  @foreach (AltinnCore.RepositoryClient.Model.Repository repo in Model.Repositories.OrderBy(r => r.Owner.Login))
  {
    if (!repo.Name.Equals(AltinnCore.Common.Constants.General.CodeListRepository))
    {
      string currentOwner = !string.IsNullOrEmpty(repo.Owner.FullName) ? repo.Owner.FullName : repo.Owner.Login;

      if (!owner.Equals(currentOwner))
      {
        owner = currentOwner;
        <a href="/designer/@repo.Owner.Login" class="list-group-item list-group-item-action">
          <img src="@repo.Owner.AvatarUrl" style="max-height:1.5em;"> @repo.Owner.Login
        </a>
      }
      if (repo.Permissions.Push.Value)
      {
        <a href="/designer/@repo.Owner.Login/@repo.Name" class="list-group-item list-group-item-action" style="padding-left:4em;">
          <span class="text-muted">@repo.Owner.Login</span>/@repo.Name <i class="fa fa-fw fa-edit" aria-hidden="true"></i> @if (repo.IsClonedToLocal)
          {<i class="fa fa-fw fa-star" aria-hidden="true"></i>}
        </a>
      }
      else
      {
        <a href="/@repo.Owner.Login/@repo.Name" class="list-group-item list-group-item-action" style="padding-left:4em;"><span class="text-muted">@repo.Owner.Login</span>/@repo.Name <i class="fa fa-fw fa-eye" aria-hidden="true"></i></a>

      }
    }
  }



