<style>
.header-logo {
  padding-left:50px;
  padding-top:25px;
}
</style>
<div id="navbar">
	<div class="brand header-logo">
		<a href="{{AppSubUrl}}/">
			<img class="ui mini image" src="{{AppSubUrl}}/img/altinn_logo_header.png">
		</a>
	</div>
</div>
