<style>
.logo {
  padding-left:50px;
  padding-top:25px;
}
.img-logo{
  border-radius:0px;
  width:52px;
}
</style>
<div id="navbar">
	<div class="brand logo">
		<a href="/" title="Altinn Studio {{.i18n.Tr "home"}}">
			<img class="ui image" src="https://altinncdn.no/img/a-logo-blue.svg" alt="Altinn logo">
		</a>
	</div>
</div>
