<style>
.logo {
  padding-left:50px;
  padding-top:25px;
}
.img-logo{
  border-radius:0px;
  width:52px;
}
</style>
<div id="navbar">
	<div class="brand logo">
		<a href="{{AppSubUrl}}/">
			<img class="ui image img-logo" src="{{AppSubUrl}}/img/altinn_logo_header.png">
		</a>
	</div>
</div>
