.mainConfigWrapper {
  background-color: var(--fds-semantic-background-subtle);
  border-top: 2px solid var(--fds-semantic-border-divider-subtle);
  border-bottom: 2px solid var(--fds-semantic-border-divider-subtle);
  padding: var(--fds-spacing-5);
}
