.fullWidth {
  margin-left: calc(var(--modal-padding-x) * -1);
  margin-right: calc(var(--modal-padding-x) * -1);
  width: calc(100% + 2 * var(--modal-padding-x));
}

.consumeBottomPadding {
  margin-bottom: calc(var(--modal-padding-y) * -1);
}
