.error {
  background-color: #F9D5DB;
  display: flex;
  flex-direction: column;
}

.success {
  background-color: #D1F4E1;
  display: flex;
  align-items: center;
  width: fit-content;
}

.card {
  padding-block: 20px;
  padding-inline: 40px;
  border-radius: 3px;
}

.title {
  margin-bottom: 10px;
}

.cardElement {
  display: flex;
  padding-block: 5px;
}

.text {
  padding-inline: 10px;
}

.successIcon {
  color: #118849;
  font-size: 25px;
  margin-right: 10px;
}
