.unknownReferencedItem {
  background-color: var(--ds-color-danger-surface-tinted);
  border-left: 2px solid var(--ds-color-danger-base-active);
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--ds-size-3);
}

.title {
  display: flex;
  align-items: center;
  gap: 4px;
}

.helpText {
  width: 20px;
  height: 20px;
}
