.fieldset {
  border-radius: var(--ds-size-2);
  border: 1px solid var(--ds-color-neutral-border-subtle);
  border-color: var(--ds-color-neutral-border-default);
  margin: 0 var(--ds-size-5) var(--ds-size-5);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--ds-size-4);
}

.buttonGroup {
  display: flex;
  gap: var(--ds-size-3);
  padding: var(--ds-size-4);
}
