.labelValueWrapper:not(.compact) {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-2);
}

.labelValueWrapper.compact {
  display: inline-block;
}

.labelValueWrapper.compact label {
  margin-right: var(--fds-spacing-2);
}

.formValue {
  font-weight: 500;
}

.emptyValue {
  color: var(--fds-semantic-text-neutral-subtle);
  font-style: italic;
}

.error {
  border-bottom: var(--fds-semantic-border-danger-default) solid 2px;
}

.summaryItemWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.summaryItem {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-2);
}

.editButton {
  margin-left: auto;
  min-width: unset;
}
