.pdfConfig {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-3);
  padding-inline: var(--fds-spacing-10);
  margin-top: var(--fds-spacing-3);
  margin-bottom: var(--fds-spacing-3);
}

ol > li::marker {
  font-weight: var(--ds-font-weight-medium);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-5);
}

.displayTile {
  padding-inline: var(--fds-spacing-5);
}

.boldFont {
  font-weight: var(--ds-font-weight-medium);
}

.taskIdSelectContainer {
  display: grid;
  gap: var(--fds-spacing-2);
}

.taskIdSelectAndButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--fds-spacing-4);
}

.taskIdSelect {
  flex: 1;
}

.createLayoutSet {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-3);
}

.description {
  margin-top: calc(var(--fds-spacing-2) * -1);
}
