.editBinding {
  background-color: white;
  border: 0;
  border-radius: var(--fds-border_radius-medium);
  box-shadow: var(--fds-shadow-small);
  display: flex;
  flex-direction: column;
  gap: var(--datamodel-binding-spacing);
  margin: 0 var(--fds-spacing-5);
  padding: var(--datamodel-binding-spacing);
}

.legend {
  display: none;
}

.buttons {
  display: flex;
  gap: var(--datamodel-binding-spacing);
}
