.table {
  word-break: break-word;
  text-overflow: ellipsis;
}

.table,
.tableMobile {
  table-layout: fixed;
  margin-top: 1.5rem;
  margin-bottom: 12px;
  box-shadow: none;
}

.tableMobile {
  width: 100%;
  display: grid !important;
  grid-template-columns: 5fr 3fr 4fr;
}

.tableMobile thead tr th {
  border-bottom: var(--solid-border-primary);
}

.tableMobile thead,
.tableMobile thead tr,
.tableMobile tbody,
.tableMobile tbody tr {
  display: contents;
}

.tableMobile tbody tr {
  border-bottom: var(--dotted-border-primary);
}

.tableMobile tbody tr td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobileTableRow td {
  display: flex;
  align-items: center;
  align-self: stretch;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fullGrid {
  grid-column: 1 / -1;
}

.tableHeader {
  border-bottom: var(--solid-border-primary);
}

.tableHeader tr th {
  padding: 4px 4px 4px 6px;
  font-size: 0.875rem;
  font-family: 'Altinn-DIN', sans-serif;
  font-weight: 500 !important;
  color: #000;
}

.tableBody tr td {
  padding: 10px 4px 10px 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: 'Altinn-DIN', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  border-bottom: 1px dotted var(--border-color-primary);
  color: #000;
}
.editButton {
  float: right;
  padding-right: 0;
}

.fileStatus {
  display: flex;
  align-items: center;
  gap: 3px;
}
