.tableCaption {
  text-align: left;
  padding-bottom: var(--fds-spacing-2);
}

.captionTitle {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.description {
  padding-bottom: var(--fds-spacing-3);
}

.titleAndHelpWrapper {
  display: flex;
  gap: var(--fds-spacing-2);
  align-items: center;
}
