.modalHeader {
  margin-bottom: var(--fds-spacing-5);
}

.textFieldWrapper {
  margin-block: var(--fds-spacing-5);
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: var(--fds-spacing-5);
}
