.icon {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  height: 36px;
  width: 36px;
}

.array {
  composes: icon;
  background-color: red;
  background-image: url("../icons/array.svg");
}

.boolean {
  composes: icon;
  background-image: url("../icons/boolean.svg");
}

.combination {
  composes: icon;
  background-image: url("../icons/combination.svg");
}

.definition {
  composes: icon;
  background-image: url("../icons/definition.svg");
}

.element {
  composes: icon;
  background-image: url("../icons/element.svg");
}

.number {
  composes: icon;
  background-image: url("../icons/number.svg");
}

.object {
  composes: icon;
  background-image: url("../icons/object.svg");
}

.property {
  composes: icon;
  background-image: url("../icons/property.svg");
}

.reference {
  composes: icon;
  background-image: url("../icons/reference.svg");
}

.string {
  composes: icon;
  background-image: url("../icons/string.svg");
}

.wastebucket {
  composes: icon;
  clip-path: polygon(
    56.06% 34.27%,
    56.06% 27.08%,
    39.92% 27.08%,
    39.92% 34.27%,
    29.17% 34.27%,
    29.17% 37.87%,
    34.73% 37.87%,
    36.52% 72.93%,
    61.62% 72.92%,
    63.23% 37.87%,
    68.61% 37.87%,
    68.61% 34.27%,
    56.06% 34.27%,

    43.51% 30.68%,
    52.48% 30.68%,
    52.48% 34.27%,
    43.51% 34.27%,
    43.51% 30.68%,
    56.06% 34.27%,

    58.03% 69.32%,
    39.75% 69.32%,
    38.31% 37.87%,
    59.65% 37.87%,
    58.03% 69.32%,
    56.06% 34.27%,

    42.60% 41.39%,
    46.18% 41.21%,
    47.28% 63.11%,
    43.70% 63.29%,
    42.60% 41.39%,
    56.06% 34.27%,

    50.71% 63.19%,
    51.80% 41.28%,
    55.38% 41.46%,
    54.29% 63.37%,
    50.71% 63.19%
  );
  background-color: black;
}
