.subjectHeader {
  margin-top: var(--ds-size-8);
  font-weight: var(--ds-font-weight-medium);
}

.subjectDescription {
  color: var(--ds-color-text-subtle);
}

.selectedSubjectList {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-2);
  margin-top: var(--ds-size-4);
  margin-bottom: var(--ds-size-8);
}

.selectedListTitle {
  font-weight: var(--ds-font-weight-medium);
}
