.datamodelUndefined,
.datamodelDefined {
  padding: var(--fds-spacing-3) var(--fds-spacing-3);
}

.dataTypes {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--fds-spacing-1);
}

.dataType {
  background: var(--fds-semantic-surface-action-first-active);
  border-radius: var(--fds-border_radius-full);
  color: var(--fds-semantic-text-neutral-on_inverted);
  padding: var(--fds-spacing-1) var(--fds-spacing-3);
}
