.wrapper {
  background-color: #e6eff8;
  overflow-x: hidden;
}

.container {
  margin: auto;
  padding: var(--ds-size-6);
  position: relative;
}

.panel {
  background-color: white;
  border-radius: var(--ds-border-radius-md);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
  padding: var(--ds-size-5);
  position: relative;
  margin: var(--ds-size-5);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-10);
}

.footer {
  border-top: 2px solid #efefef;
  margin-top: var(--ds-size-10);
  padding-top: var(--ds-size-8);
}
