.viewMode {
  margin-top: var(--fds-spacing-1);
  margin-bottom: var(--fds-spacing-1);
}

.editSelectProperty {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--fds-spacing-4);
  margin-bottom: var(--fds-spacing-3);
}

.selectProperty {
  flex: 1;
}

.viewSelectProperty {
  padding-left: 0;
}

.closeButton {
  margin-top: var(--fds-spacing-8);
}
