.formContainer {
  border: 1px dashed #1eaef7; 
  margin-top: 10 px; 
  margin-bottom: 10px; 
}
.formContainer:hover {
  background: #E3F7FF;
  cursor: pointer;
}
.formContainerActive {
  background: #E3F7FF;
}