.drawer {
  width: 340px;
  background-color: aqua;
  display: fixed;
  left: 0px;
  height: 100%;
}

.drawerOpen {
  width: 240px;
}

.drawerClose {
  overflow-x: hidden;
  width: 30px;
}

.content {
  flex-grow: 1;
  padding: 10px;
}

.root {
  display: flex;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background-color: lightgray;
}

.sidebar.active {
  margin-left: -250px;
}

.sidebar-open {
  width: 250px !important;
}

.sidebar-closed {
  min-width: 50px !important;
  max-width: 50px !important;
  overflow: hidden;
}

.nav-menu-item {
  border: 1px solid black;
  width: 100%;
  line-height: 1.5em;
  min-height: 50px;
  margin-bottom: 0;
  text-align: center;
  background: 0 0;
}


.active-item {
  background-color: darkgrey;
}

.hide-menu-row {
  width: 250px;
}

.show-menu-row {
  width: 50px;
}

.toggle-menu {
  color: white;
  border: none;
}

.toggle-menu-row {
  position: fixed;
  bottom: 0;
  left: 0;
  background: darkgrey;
}
