.pageContainer {
  background-color: #e6eff8;
  flex: 1;
  position: relative;
}

.pageContainer::before {
  background-image: url('/designer/img/page-background.svg');
  background-position: left 0;
  background-size: 768px auto;
  background-repeat: no-repeat;

  content: ' ';
  display: block;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .pageContainer::before {
    background-position: center 0;
    background-size: 100% auto;
  }
}
