
.dropdownContainer {
  position: relative;
  display: inline-block;
}

.dropdownMenu {
  position: absolute;
  z-index: 4;
  top: 100%;
  right: 0;
  width: 150px;
  background-color: #FFFFFF;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.dropdownDuplicateButton {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.dropdownDeleteButton {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-top: 1px solid #000000;
  color: #E23B53;
}

.dropdownDuplicateButton:hover, .dropdownDeleteButton:hover {
  background-color: #E9EAEC;
}

.dropdownDuplicateButton:focus, .dropdownDeleteButton:focus {
  background-color: #D9D9D9;
}

.dropdownItemText {
  font-size: 14px;
  margin-left: 10px;
  color: inherit;
}
