.cardWrapper {
  border-radius: 12px;
  border: solid 1px #D9D9D9;
  width: 100%;
}

.elementWrapper {
  border: solid 1px #D9D9D9;
  border-radius: 5px;
  background-color: #F4F4F4;
}

.title {
  font-weight: 500;
  font-size: 16px;
}

.topWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

.cardExpandButton{
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  padding-right: 5px;
  margin: 0;
}

.elementExpandButton{
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: 10px;
  padding-left: 20px;
  padding-right: 5px;
  margin: 0;
}

.cardBottomWrapper {
  padding-inline: 20px;
  padding-bottom: 20px;
}

.elementBottomWrapper {
  padding-inline: 20px;
  padding-bottom: 10px;
}
