.confirmUndeployButton {
  margin-top: var(--fds-spacing-3);
}

.errorContainer {
  margin-top: var(--fds-spacing-2);
}

.errorMessage {
  display: inline;
}

.description {
  margin-bottom: var(--ds-size-4);
}
