.contentWrapper {
  padding: 40px;
  width: calc(var(--modal-max-width) - var(--modal-border-size));
  height: calc(
    var(--modal-content-max-height) - var(--heading-height) - var(--modal-border-radius)
  );
  overflow: scroll;
}

.downloadIcon {
  font-size: 1.2rem;
}
