.configPanel {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-3);
  padding-inline: var(--ds-size-5);
  background-color: var(--ds-color-surface-default);
}

.fieldSetWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-8);
  place-items: start;
  margin-top: var(--ds-size-2);
}

.editGroupNameWrapper {
  margin-inline: calc(var(--ds-size-5) * -1);
}

.editName {
  padding-inline: var(--ds-size-5);
}

.radio {
  width: 80%;
  align-items: center;
}

.radioLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radioLabelIcon {
  color: var(--ds-color-border-default);
  width: var(--ds-size-5);
  height: var(--ds-size-5);
  padding: var(--ds-size-1);
  flex-shrink: 0;
  border: var(--ds-border-width-default) solid var(--ds-color-border-default);
  border-radius: var(--ds-border-radius-default);
  background: var(--studio-app-background);
}
