.chosenOptionContainer {
  display: flex;
  overflow: hidden;
}

.deleteButtonContainer {
  display: flex;
  width: min-content;
  margin-left: auto;
}

.deleteButton {
  border-radius: 0;
}

.optionButtons {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-2);
  margin-left: var(--fds-spacing-5);
}

.errorMessage {
  margin: var(--fds-spacing-5) var(--fds-spacing-5) 0;
}
