.chosenOptionContainer {
  padding-inline: var(--fds-spacing-5);
}

.optionButtons {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-2);
  margin-left: var(--fds-spacing-5);
}

.errorMessage {
  margin: var(--fds-spacing-5) var(--fds-spacing-5) 0;
}
