.modal {
  max-width: 1200px;
  height: 90vh;
  overflow: hidden;
  padding: var(--ds-size-4);
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframe {
  width: 100%;
  height: 90%;
  border: none;
}
