.pageWrapper {
  width: 90%;
  margin: 0;
  padding: 40px;
}

.pageHeader {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 30px;
}

.contentWrapper {
  width: 630px;
}

.contentDivider {
  border: solid 1px #D6D6D6;
  margin-top: 25px;
  margin-bottom: 15px;
}

.header3 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.linkWrapper {
  margin-left: 40px;
}

.text {
  font-size: 16px;
  font-weight: 400;
}

.datePickers {
  display: flex;
  margin-top: 20px;
}

.datePickerWrapper:last-child {
  margin-left: 100px;
}

div, p, h3, strong {
  margin: 0;
}

.migrateBox {
  background-color: #E3F7FF;
  margin-top: 40px;
  padding-inline: 30px;
  padding-block: 24px;
}

.migrateSteps {
  margin-block: 20px;
}
