.pageWrapper {
  width: 90%;
  margin: 0;
  padding: var(--fds-spacing-10);
}

.contentWrapper {
  width: 40rem;
}

.contentDivider {
  border: solid 1px var(--fds-semantic-border-neutral-subtle);
  margin-top: var(--fds-spacing-6);
  margin-bottom: var(--fds-spacing-4);
}

.introWrapper {
  margin-bottom: var(--fds-spacing-7);
}

.selectEnv {
  margin-top: var(--fds-spacing-2);
  margin-bottom: var(--fds-spacing-7);
  width: 22rem;
}

.linkWrapper {
  margin-left: var(--fds-spacing-10);
}

.datePickers {
  display: flex;
  margin-top: var(--fds-spacing-5);
  margin-bottom: var(--fds-spacing-7);
}

.datePickerWrapper:last-child {
  margin-left: var(--fds-spacing-22);
}

.buttonWrapper {
  margin-top: var(--fds-spacing-7);
}

.button {
  margin-block: var(--fds-spacing-1);
}

.migrateBox {
  background-color: var(--fds-semantic-surface-third-light);
  margin-top: var(--fds-spacing-10);
  padding-inline: var(--fds-spacing-7);
  padding-block: var(--fds-spacing-6);
}

.migrateSteps {
  margin-block: var(--fds-spacing-5);
}

.numDelegations {
  margin-bottom: var(--fds-spacing-7);
}

.delegations {
  margin-top: var(--fds-spacing-2);
}
