@using System.Threading.Tasks
@model AltinnCore.Common.Models.ServiceStatusViewModel

<style>
    .input-group-addon {
        min-width: 80px;
    }
</style>

<div>
    @if (Model.Error)
    {
        <div class="alert alert-danger">
            <a data-toggle="modal" data-target="#serviceStatusModal" title="Status"  href="#">
                <i class="fa fa-warning"></i> Det finnes feil
            </a>
        </div>
    }
    else if (Model.Warning)
    {
        <div class="alert alert-warning">
            <a data-toggle="modal" data-target="#serviceStatusModal" title="Status"  href="#">
                <i class="fa fa-warning"></i> Det finnes tekniske advarsler
            </a>
        </div>
    }
    else if (Model.UserMessages.Any())
    {
        <div class="alert alert-warning">
            <a data-toggle="modal" data-target="#serviceStatusModal" title="Status" href="#">
                <i class="fa fa-info"></i> Meldinger om status
            </a>
        </div>
    }
</div>

<div id="serviceStatusModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Status</h4>
                @if (Model?.ServiceIdentifier != null)
                {
                    <div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="org-dialog-label">Org</span>
                            <input type="text" readonly class="form-control" value="@Model.ServiceIdentifier.Org" aria-describedby="org-dialog-label" />
                        </div>
                        <div class="input-group  input-group-sm">
                            <span class="input-group-addon" id="service-dialog-label">Tjeneste</span>
                            <input type="text" readonly class="form-control" value="@Model.ServiceIdentifier.Service" aria-describedby="service-dialog-label" />
                        </div>
                    </div>
                }
            </div>
            <div class="modal-body">

                @if (Model?.UserMessages != null && Model.UserMessages.Any())
                {
                    @Html.Partial("Components/ServiceStatus/UserMessagesList", Model.UserMessages);
                }


                @if (Model?.CodeCompilationMessages != null && Model.CodeCompilationMessages.Any())
                {
                    <hr />
                    @Html.Partial("Components/ServiceStatus/CodeCompilationInfoList", Model.CodeCompilationMessages);
                }

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
