.tableData {
  vertical-align: middle;
}

.tableDataContentWrapper {
  height: 50px;
}

.tableDataContentWrapperSelect {
  height: 50px;
}

.tableDataContentWrapperSwitch {
  height: 50px;
}

.tableData1 {
  width: 40%;
  text-align: left;
}
.tableData2 {
  width: 30%;
  text-align: left;
}
.tableData3 {
  width: 10%;
}
.tableData4 {
  width: 10%;
}
