@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Welcome</h1>
<p>Check out the <a href="/Protected">list available scopes</a> page for an authentication demo.</p>
<p>Or the <a href="/OtherPage">other</a> section for a non-protected page.</p>
<p style="margin-top: 20px;">
    There's next to no error checking in place in this demo, bear that in mind. 🐻<br/>
    A good TestID <em>personidentifikator</em> to use for the login process, is <em>10850199405</em>.
</p>
