.deleteButton {
  border: none;
  background: transparent;
  margin-left: 8px;
}
.deleteButton:hover {
  color: red;
}

.textId {
  max-width: 160px;
  overflow: scroll;
  overflow-wrap: break-word;
}

.textAreaCell {
  min-width: 350px;
  vertical-align: top;
}

.textEntryComponent textArea {
  margin: 10px 0 10px 0;
  min-width: 340px;
}
