.deleteButton {
  border: none;
  background: transparent;
  margin-left: 8px;
}
.deleteButton:hover {
  color: red;
}

.popoverButtons {
  display: flex;
  gap: 8px;
}

.textId {
  overflow: scroll;
  overflow-wrap: break-word;
}

.textAreaCell {
  min-width: 310px;
}

.textEntryComponent textArea {
  margin: 10px 0 10px 0;
  min-width: 300px;
}
