.deleteButton {
  border: none;
  background: transparent;
  margin-left: 8px;
}
.deleteButton:hover {
  color: red;
}

.textId {
  overflow: scroll;
  overflow-wrap: break-word;
}

.textAreaCell {
  min-width: 450px;
  vertical-align: top;
}

.textEntryComponent textArea {
  margin: 10px 0px 0px 0;
  min-width: 340px;
}

.textIdContainer {
  justify-content: space-between;
  max-width: 300px;
}

.cellContent {
  padding: 0px 15px;
}
