.textEditor {
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: grid;
  grid-template-columns: auto minmax(20%, 400px);
  justify-items: center;
}

.textEditorMain {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.textEditorTopRow {
  border-bottom: 1px solid #bcc7cc;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.filterAndSearch {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1rem;
}

.sortAlphabetically {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.textEditorBody {
  margin-left: 2rem;
  overflow: auto;
}

::-webkit-scrollbar {
  height: 5px;
}
