
.infoButton {
  display: inline-block;
}

.chip {
  border-radius: 20px;
  width: 100%;
  margin: 5px;
  background-color: gray;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  vertical-align: text-bottom;
}
