
.infoButton {
  display: inline-block;
}

.chip {
  border-radius: 20px;
  margin: 5px;
  background-color: gray;
  padding-left: 10px;
  vertical-align: text-bottom;
}

.keyDataSource {
  display: inline-block;
  overflow: hidden;
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  font-size: 14px;
}

.defaultValue {
  display: inline-block;
  overflow: hidden;
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  font-size: 14px;
}

.defaultValue::before {
  content: 'Default: ';
  font-weight: bold;
}

