.accessPackageCardWrapper {
  display: flex;
  margin: var(--fds-spacing-4) 0;
  background-color: #fff;
  box-shadow:
    0px 1px 2px 0px #0000001f,
    0px 0px 1px 0px #00000029;
}

.accessPackageCard {
  margin: var(--fds-spacing-4);
  padding: 0 var(--fds-spacing-4);
  border-left: 4px solid #3885c9;
}

.accessPackageHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
