.fileUploadWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.blueUnderLine {
  border-bottom: 2px solid var(--colors-primary-blue) !important;
}

.fileUploadTextBoldSmall {
  font-weight: 500;
  font-size: 0.75rem;
  margin-bottom: 0;
}

.fileUpload {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fileUploadInvalid:focus {
  border-style: solid !important;
  outline-color: #e23b53 !important;
  border-color: #e23b53 !important;
}

.fileUpload:hover {
  border-style: solid !important;
}

.fileUpload:focus {
  box-shadow: var(--_ds--focus, var(--dsc-focus-boxShadow));
  outline: var(--_ds--focus, var(--dsc-focus-outline));
  outline-offset: var(--_ds--focus, var(--ds-border-width-focus));
}

.uploadIcon {
  font-size: 2.5rem;
}
