.fileUploadWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.blueUnderLine {
  border-bottom: 2px solid #1eadf7 !important;
}

.fileUploadTextBoldSmall {
  font-weight: 500;
  font-size: 0.75rem;
  margin-bottom: 0;
}

.fileUpload {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fileUploadInvalid:focus {
  border-style: solid !important;
  outline-color: #e23b53 !important;
  border-color: #e23b53 !important;
}

.fileUpload:hover {
  border-style: solid !important;
}

.fileUpload:focus {
  border-color: #0062ba !important;
  border-style: solid !important;
  outline: 2px solid #0062ba;
  outline-offset: 0px;
}

.uploadIcon {
  font-size: 2.5rem;
}
