.appSearch {
  max-width: 400px;
}

.metricsError {
  display: inline-flex;
  padding-block-start: var(--ds-size-3);
  padding-block-end: var(--ds-size-3);
}

.metricsHeaderCell {
  display: flex;
  justify-content: end;
  gap: var(--ds-size-3);
}

.metricsCell {
  height: 33px;
}

.metricsCellContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ds-size-2);
  align-items: flex-start;
  justify-content: end;
}

.metric {
  border: none;
  padding: var(--ds-size-2) var(--ds-size-2) var(--ds-size-2) var(--ds-size-11);
  white-space: nowrap;
}

.metricText {
  white-space: nowrap;
}

.metricLink {
  background-color: #f3d2d2;
  margin-left: var(--ds-size-2);
  padding: var(--ds-size-1) var(--ds-size-2);
  text-decoration: underline;
  white-space: nowrap;
}
