.appSearch {
  max-width: 400px;
}

.metricsHeaderCell {
  display: flex;
  justify-content: end;
  gap: var(--ds-size-3);
}

.metricsCell {
  height: 39px;
}

.metricsCellContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ds-size-2);
  align-items: flex-start;
  justify-content: end;
}

.metric {
  border: none;
  padding: var(--ds-size-2) var(--ds-size-2) var(--ds-size-2) var(--ds-size-11);
  white-space: nowrap;
}

.metric:before {
  margin-top: 3px;
}

.metricTitle {
  display: flex;
  align-items: center;
  gap: var(--ds-size-6);
  justify-content: space-between;
  margin-left: var(--ds-size-2);
}

.metricText {
  display: flex;
  align-items: center;
  gap: var(--ds-size-2);
  white-space: nowrap;
}

.metricCount {
  font-weight: bold;
}

.metricLink {
  background-color: var(--ds-color-danger-surface-hover);
  margin-left: var(--ds-size-2);
  padding: var(--ds-size-1) var(--ds-size-2);
  text-decoration: underline;
  white-space: nowrap;
}
