.appSearch {
  max-width: 400px;
}

.metricsHeaderCell {
  display: flex;
  justify-content: end;
  gap: var(--ds-size-3);
}

.metricsCell {
  height: 39px;
}

.metricsCellContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ds-size-2);
  align-items: flex-start;
  justify-content: end;
}

.metric {
  padding: var(--ds-size-2) var(--ds-size-2) var(--ds-size-2) var(--ds-size-11);
}
