.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: var(--ds-size-3);
  margin-right: var(--ds-size-3);
}

.root.center {
  justify-content: center;
}

.addItemButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto;
  background-color: var(--ds-color-neutral-surface-tinted);
  width: 100%;
}
