.summaryItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.summaryItemWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-2);
  break-inside: avoid;
}

.labelValueWrapper:not(.compact) {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-2);
}

.labelValueWrapper.compact {
  display: inline-block;
}

.labelValueWrapper.compact label {
  margin-right: var(--ds-size-2);
}

.formValue {
  font-weight: 500;
}

.emptyValue {
  color: var(--ds-color-neutral-text-subtle);
  font-style: italic;
}

.summaryValue {
  width: -moz-fit-content;
  width: fit-content;
}

.error {
  border-bottom: var(--ds-color-danger-border-default) solid 2px;
}

.editButton {
  margin-left: auto;
  min-width: unset;
}

.multiline {
  white-space: pre-wrap;
}
