.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-inline: var(--ds-size-3);
}

.root.center {
  justify-content: center;
}

.addItemButtons {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-3);
  margin: 20px auto;
  background-color: var(--fds-semantic-surface-neutral-subtle);
  padding: var(--ds-size-6) var(--ds-size-3);
}

.closeButton {
  position: absolute;
  top: var(--ds-size-2);
  right: var(--ds-size-2);
}
