.componentButton {
  margin: 4px;
  width: 130px;
  height: 80px;
  padding: 2px;
  overflow: wrap;
  text-align: center;
  background-color: var(--ds-color-neutral-background-default);
}

.componentButtonInline {
  text-align: center;
  height: 60px;
  width: 120px;
  margin: 4px;
  padding: 2px;
  background-color: var(--ds-color-neutral-background-default);
}
