.componentButton {
  position: relative;
  margin: 4px;
  width: 130px;
  height: 80px;
  padding: 2px;
  overflow: wrap;
  text-align: center;
}

.componentButtonInline {
  position: relative;
  text-align: center;
  height: 60px;
  width: 120px;
  margin: 4px;
  padding: 2px;
  background-color: var(--ds-color-neutral-background-default);
}

.favoriteBadge {
  position: absolute;
  top: var(--ds-size-1);
  right: var(--ds-size-1);
  font-size: var(--ds-font-size-4);
}
