.componentsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.root {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  height: 100%;
  padding-bottom: 12px;
  width: 100%;
}
