<fieldset class="form-group row draggable"
          data-editor-binding-context-title="Databinding">
    <div class="col-lg-4">
        <label class="col-form-label"
               data-editor-show="true"
               data-editor-title="Label"
               data-editor-binding-context="1">Tekstboks</label>
        <a tabindex="0" class="fa fa-question-circle-o fa-lg" 
           role="button" 
           data-toggle="popover" 
           data-trigger="focus" 
           data-editor-show="true"
           data-editor-title="Generell hjelpetekst"
           data-content="">
        </a>
    </div>
    <div class="col-lg-4">
        <input class="form-control"
               data-editor-show="true"
               data-editor-title="Input-felt 1"
               data-editor-binding-context="1"
               type="text">
        <span asp-validation-for=""
              class="text-danger form-control-feedback"
              data-editor-validation="true"
              data-editor-binding-context="1">
        </span>
        <small data-editor-show="true"
               data-editor-title="Hjelpetekst, felt 1"
               data-editor-binding-context="1"
               class="form-text text-muted">Hjelpetekst for feltet</small>
    </div>
    <div class="col-lg-4">
        <input class="form-control"
               data-editor-show="true"
               data-editor-title="Input-felt 2"
               data-editor-binding-context="2"
               type="text">
        <span asp-validation-for=""
              class="text-danger form-control-feedback"
              data-editor-validation="true"
              data-editor-binding-context="2">
        </span>
        <small data-editor-show="true"
               data-editor-title="Hjelpetekst, felt 2"
               data-editor-binding-context="2"
               class="form-text text-muted">Hjelpetekst for feltet</small>
    </div>
</fieldset>
