<div class="draggable row">
    <label class="col-lg-4 form-control-label">Radioliste</label>
    <div class="col-lg-8">
        <div class="radio">
            <label>
                <input name="radio" type="radio" value="option1val" checked>
                Valg 1
            </label>
        </div>
        <div class="radio">
            <label>
                <input name="radio" type="radio" value="option2val">
                Valg 2
            </label>
        </div>
        <!--div class="radio">
            <label>
                <input name="radio" type="radio" value="option3val">
                Valg 3
            </label>
        </div-->
    </div>
</div>
