.gridStyle {
  padding-top: 12px;
}

.border {
  border: 2px solid var(--colors-primary-greyLight);
  margin: 12px 0;
  padding: 12px;
}
@media print {
  .border {
    break-inside: avoid;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.label {
  font-weight: 500;
  font-size: 1.125rem;
}

.labelError {
  color: var(--colors-primary-red);
}
.link {
  background: none;
  border: none;
  border-bottom: var(--solid-border-primary);
  cursor: pointer;
  padding-left: 0px;
}

.emptyField {
  font-style: italic;
  font-size: 1rem;
  line-height: 1.6875;
  margin-top: 4px;
}

.summary {
  width: 100%;
}
