.dropDownMenuGroup:not(:last-child) {
  border-bottom: 1px solid var(--fds-semantic-border-divider-default);
  padding-bottom: var(--ds-size-2);
}

.dropDownMenuGroup:not(:first-child) {
  padding-top: var(--ds-size-2);
}

.active {
  background-color: var(--fds-semantic-surface-neutral-selected);
  border-radius: 5px;
}
