.profileWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--ds-color-neutral-border-subtle);
  padding-bottom: var(--ds-size-2);
}

.profileText {
  margin-top: var(--ds-size-1);
  white-space: pre-line;
  text-align: center;
}
