.accordionIcon {
  font-size: var(--ds-font-size-7);
  color: var(--ds-color-neutral-text-default);
  border-radius: var(--ds-border-radius-sm);
  padding: var(--ds-size-2);
}

.orgAccordionIcon {
  background-color: var(--ds-color-surface-tinted);
}

.personAccordionIcon {
  background-color: var(--ds-color-success-surface-tinted);
}
