.accordionIcon {
  font-size: var(--fds-spacing-7);
  color: var(--fds-semantic-text-neutral-default);
}

.iconContainer {
  background-color: var(--fds-colors-blue-100);
  border-radius: var(--fds-border_radius-small);
  padding: var(--fds-sizing-2);
}
