.footer {
  max-width: var(--page-max-width);
  padding: 60px var(--page-padding-x);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px 50px;
}

@media only screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
  }
}
