<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/designer/img/favicon.ico">
    <title>@ViewBag.Title</title>
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</head>

<body class="a-bgWhite flex-column d-flex">
    @*@Html.Partial("_Navbar")*@

    <div class="container-fluid flex-column d-flex media-body">
        @RenderBody()
    </div>
</body>
</html>
