<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/designer/img/favicon.ico">

    <title>@ViewBag.Title</title>
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
    <style>
        html, body {
          height: 100%;
        }
        ::-webkit-scrollbar {
          width: 5px;
        }
        ::-webkit-scrollbar-thumb {
          background: darkgray;
          border-radius: 5px;
        }

        body {
            font-family: Roboto, "San Fransisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        h1, h2, h3 {
            letter-spacing: 2px;
        }
        .btn, .form-control, .list-group-item:last-child, .list-group-item:first-child, .card {
            border-radius: 0;
        }

        #search ~ .fa-search {
            float: right !important;
            margin-right: 10px;
            margin-top: -28px;
            position: relative;
            z-index: 2;
        }

        .control-label {
            margin-bottom: 0;
        }

        .errormsg {
            color: red;
        }
    </style>
</head>

<body class="a-bgWhite flex-column d-flex">
    @*@Html.Partial("_Navbar")*@

    <div class="container-fluid flex-column d-flex media-body">
        @RenderBody()
    </div>
</body>
</html>
