<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <link rel="manifest" href="/designer/manifest.json">
  <link rel="icon" href="/designer/img/favicon.ico">

  <!-- apple stuff -->
  <link rel="apple-touch-icon" href="/designer/img/icon64x64.png">
  <link rel="apple-touch-icon" sizes="96x96" href="/designer/img/icon96x96.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/designer/img/icon144x144.png">
  <link rel="apple-touch-icon" sizes="192x192" href="/designer/img/icon192x192.png">

  <title>@ViewBag.Title</title>

  <!-- Javascript -->
  @RenderSection("scripts", required: false)

  <!-- CSS -->
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"  rel="stylesheet" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link href="https://altinncdn.no/fonts/roboto/latin/roboto.css" rel="stylesheet">
  <script src="https://use.fortawesome.com/ed31cded.js"></script>
  <script src="https://use.fortawesome.com/df832575.js"></script>
  <script src="https://use.fortawesome.com/bdabc5c1.js"></script>

  @RenderSection("styles", required: false)

</head>

<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
