.wrapper {
  display: flex;
  justify-content: space-between;
}

.rightWrapper {
  height: 100vh;
  top: 0;
  position: sticky;
  width: 35%;
}

.pageWrapper {
  margin: 0;
  padding: 40px;
  width: 600px;
}

.pageHeader {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 30px;
}

.subTitle {
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
}

.subHeader {
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 18px;
}

.inputWrapper {
  width: 450px;
  margin-top: 10px;
  position: relative;
}

.buttonWrapper {
  margin-block: 30px;
}

.text {
  font-size: 16px;
  font-weight: 400;
}

.toggleTextActive {
  color: #0062BA
}

.toggleTextInactive {
  color: #707173;
}

p, h2 {
  margin: 0;
}

.warningCardWrapper {
  margin-top: 10px;
}
