.wrapper {
  display: flex;
  justify-content: space-between;
}

.rightWrapper {
  height: 100vh;
  top: 0;
  position: sticky;
  width: 35%;
}

.pageWrapper {
  margin: 0;
  padding: 40px;
  padding-bottom: 100px;
  width: 650px;
}

.divider {
  margin-top: 30px;
}

.inputWrapper {
  width: 500px;
  margin-top: 10px;
  position: relative;
}

.buttonWrapper {
  margin-block: 30px;
}

p,
h2 {
  margin: 0;
}

.warningCardWrapper {
  margin-top: 5px;
}

.checkboxParagraph {
  padding-left: 0.5rem;
}
