.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.boxShadow {
  background: #FFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.header {
  align-items: center;
  display: flex;
  gap: .5rem;
  padding: .5rem;
}

.select {
  flex: 1;
}

.codeEditorContent {
  border-color: #c9c9c9;
  border-style: solid;
  border-width: 1px 0;
  flex: 1;
}

.footer {
  color: #6A6A6A;
  min-height: 3em;
  padding-bottom: 1.2em;
  padding-right: 1.2em;
  text-align: end;
}
