.root {
  height: 100%;
  width: 100%;
}

.main {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  min-height: 0;
}

.editor {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  min-height: 200px;
  overflow-y: auto;
  padding: 24px;
}

.editorTypes {
  border: 2px dashed #008fd6;
  background: #e3f7ff;
  padding: 0;
}

.inspector {
  background-color: #f7f7f7;
  overflow-x: clip;
  overflow-y: auto;
}

.typeInfo {
  display: flex;
  flex-direction: row;
  background-color: #022f51;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
