.toolbar {
  background: #fff;
  border-bottom: 1px solid #c9c9c9;
  display: flex;
  padding: 8px;
}

.toolbar > *,
.toolbar > :global(.MuiGrid-item) {
  margin-right: 1rem;
}

.toolbar button[class*='selected'] {
  color: #fff;
}

.toolbar button[class*='toggle'] {
  font-size: 1em;
  padding-top: 4px;
}

.spinnerWrapper {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: right;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.statusPopover {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.statusPopover.success {
  animation: fadeOut 1.5s;
}
