.banner {
  background-color: var(--ds-color-neutral-background-tinted);
  border-bottom: 1px solid var(--ds-color-neutral-border-subtle);
  padding: var(--ds-size-5) var(--ds-size-4);
}

.content {
  max-width: 800px;
  margin: 0 auto;
}
