version: '3.4'

networks:
  altinnplatform_network:
    external: false

services:
  altinn_platform_register:
    container_name: altinn-platform-register
    image: altinnplatformregister:latest
    restart: always
    networks:
      - altinnplatform_network
    environment:
      - GeneralSettings:BridgeApiEndpoint=https://at21.altinn.cloud/sblbridge/register/api
      - GeneralSettings:ShouldUseMock=false
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5020
    ports:
      - "5020:5020"
    build:
      context: .
      dockerfile: Register/Dockerfile
