.container {
  height: 100%;
  width: 100%;
}

.textbox {
  width: 100%;
  height: 100%;
  font-family: monospace;
  line-height: 1.2;
  resize: none;
  font-size: 1rem;
  outline: none;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: auto;
  padding: 8px;
  border: none;
}

.input {
}

.output {
  background: transparent;
}

.rightColumn {
  padding: 6px;
  background-color: white;
  height: 100%;
}

.outputs,
.outputs > div,
.outputs > div > div:not([role='tablist']) {
  height: 100%;
}

.tabList {
  overflow-x: auto;
}
