.select {
  display: inline-flex;
  flex-direction: row;
  gap: var(--ds-size-4);
  white-space: nowrap;
  align-items: center;
}

.select * {
  font-weight: unset;
  margin: 0;
}

.select select {
  font-size: initial;
  font-weight: initial;
  height: initial;
}
