.accordionCheckbox {
  padding: 0 var(--fds-spacing-4);
}

.accessPackageAccordion {
  background-color: #e9f5ff;
}

.serviceContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--fds-spacing-2);
  background-color: #fff;
  padding: var(--fds-spacing-2);
  box-shadow:
    0px 1px 2px 0px #0000001f,
    0px 0px 1px 0px #00000029;
}
