.buttonSuccess {
  --dsc-button-background--active: var(--ds-color-success-base-active);
  --dsc-button-background--hover: var(--ds-color-success-base-hover);
  --dsc-button-background: var(--ds-color-success-base-default);
  --dsc-button-color: var(--ds-color-success-base-contrast-default);
  --dsc-button-color--hover: var(--ds-color-success-base-contrast-default);
}
