.accessPackages {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-2);
  margin-top: var(--fds-spacing-8);
}

.accordionContent {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-2);
}

.accordionCheckbox {
  display: block;
  padding: 0 var(--fds-spacing-4);
}
