.container {
  padding: 18px;
  box-sizing: border-box;
}

.canvasMenuContainer {
  composes: container;
  justify-content: space-between;
  display: flex;
  gap: 8px;
}

.unsavedChanges {
  color: #ff0000;
  font-weight: 500;
}

.alertContainer {
  composes: container;
  max-width: 780px;
}
