.canvasMenuContainer {
  padding: 18px;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  gap: 8px;
}

.unsavedChanges {
  color: #ff0000;
  font-weight: 500;
}

.alert  {
  width: 50%;
  margin: 20px;
  max-height: 150px;
}
.paragraph {
  margin-top: 8px;
}
