/* Focus utility class */
.focusable:focus-within {
  outline: var(--ds-border-width-focus) solid var(--ds-color-focus-outer);
  outline-offset: var(--ds-border-width-focus);
  box-shadow: 0 0 0 var(--ds-border-width-focus) var(--ds-color-focus-inner);
}

.visuallyHidden {
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}
