html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

pre {
  background-color: #efefef;
  border: 1px solid silver;
  padding: 10px 20px;
  border-radius: 4px;
}

h2 {
  margin-top: 40px;
}

h2::before {
  content: "› ";
}

.group {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid silver;
}