.dialogBlock {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-5);
  min-width: 400px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-5);
}

.environments {
  display: flex;
  flex-direction: column;
}

.environmentOptions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ds-size-3);
}

.actionsWrapper {
  margin-top: var(--ds-size-3);
}
