.root {
  display: flex;
  justify-content: flex-end;
  padding: var(--ds-size-3) 2rem;
  box-sizing: border-box;
  border-bottom: 1px solid var(--fds-semantic-border-divider-default);
}

.toggler {
  width: max-content;
}
