.title {
  font-weight: var(--ds-font-weight-medium);
}

.switchRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switchRowDisabled {
  opacity: 0.6;
}

.switchRowDisabled .switchLabel,
.switchRowDisabled .switchDescription {
  color: var(--ds-color-neutral-text-subtle);
}

.message {
  display: flex;
  align-items: center;
  gap: var(--ds-size-2);
  margin-top: var(--ds-size-6);
}

.infoIcon,
.messageTextInfo {
  color: var(--ds-color-accent-base-default);
}

.infoIcon,
.warningIcon {
  font-size: var(--ds-size-8);
}
.messageWarning {
  margin-top: var(--ds-size-8);
  color: var(--ds-color-warning-border-default);
}

.descriptionContainer {
  margin-top: var(--ds-size-6);
  padding-top: var(--ds-size-6);
  border-top: 1px solid var(--ds-color-neutral-border-default);
}
