.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0 var(--ds-size-4);
  gap: var(--ds-size-2);
}

.active {
  border-bottom: 2px solid var(--ds-color-neutral-surface-default);
}
