.labelAndHelpWrapper {
  display: flex;
  gap: var(--fds-spacing-2);
  align-items: center;
}

.labelAndDescWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-1);
  align-items: flex-start;
}

.description {
  padding-bottom: var(--fds-spacing-2);
}

.labelPadding {
  padding-bottom: var(--fds-spacing-2);
}
