apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
patches:
  - target:
      kind: IngressRoute
      name: gateway
    patch: |-
      - op: replace
        path: /spec/routes/0/match
        value: Host(`${SERVICEOWNER_ID}.apps.tt02.altinn.no`) && PathPrefix(`/runtime/gateway/api/v1`)
