.downloadWrapper {
  display: flex;
  gap: var(--ds-size-2);
  flex-direction: column;
}

.mergeConflictWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-2);
  margin: auto auto;
  padding: var(--ds-size-18);
  width: 660px;
  border: 1px solid #c9c9c9;
}
