.root {
  display: flex;
}

.label {
  flex: 1;
  min-width: 0;
}

.root:hover .label {
  background-color: var(--ds-color-accent-surface-hover);
}

.deleteButton {
  border-radius: 0;
}

.root:not(:hover):not(:focus-within) .deleteButton {
  visibility: hidden;
}
