.buildSource {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-2);
  flex-grow: 1;
}

.details {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: var(--ds-size-4);
  row-gap: var(--ds-size-1);
  margin: 0;
  font-size: var(--ds-font-size-3);
}

.details dd {
  margin: 0;
  word-break: break-word;
}
