.cardWrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--ds-size-5);
  border-radius: var(--ds-border-radius-xl);
  gap: var(--ds-size-3);
  border: solid 1px var(--ds-color-border-subtle);
}

.envWrapper {
  display: flex;
  align-items: center;
  gap: var(--ds-size-3);
}
