.headingWrapper {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 2rem;
  margin-right: var(--fds-spacing-2);
}

.fileChangesContainer {
  display: flex;
  flex-direction: column;
  padding: var(--fds-spacing-4) var(--fds-spacing-10) var(--fds-spacing-10) var(--fds-spacing-10);
  width: 50vw;
  gap: var(--fds-spacing-3);
  height: 40vh;
  justify-content: space-between;
}

.filePath {
  padding: var(--fds-spacing-3);
}

.fileStatus {
  align-content: flex-start;
  min-width: 5vw;
  width: 5vw;
}

.diffStatus {
  padding: var(--fds-spacing-3);
}
