.container {
  padding: 0 var(--fds-spacing-5);
}

.addOptionListContainer {
  display: flex;
  width: 60%;
  min-width: 12rem;
  white-space: nowrap;
  flex-direction: column;
  gap: var(--fds-spacing-2);
}

.alert {
  margin-top: var(--fds-spacing-2);
}
