.pageWrapper {
  width: 90%;
  margin: 0;
  padding: 40px;
}

.tabell {
  border-collapse: collapse;
  margin-top: 2rem;
}
.tabell th {
  padding: 0.5rem;
  text-align: left;
}

.tabellRad td {
  padding: 0.5rem;
}
