.data {
  overflow-wrap: break-word;
}

.row {
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(0, 1fr) auto;
  border-top: 1px dashed #008fd6;
  margin-top: 10px;
  padding-top: 10px;
}

.row > div {
  overflow-wrap: anywhere;
}

.row div:first-child {
  justify-self: start;
}

.row div:last-child {
  justify-self: end;
}

.emptyField {
  font-style: italic;
  font-size: 1rem;
  line-height: 1.6875;
}
