.wrapper {
  width: 100%;
  border: solid 1px var(--fds-semantic-border-neutral-divider);
}

.cardWrapper {
  border-radius: 12px;
}

.elementWrapper {
  border-radius: 5px;
  background-color: var(--fds-semantic-background-subtle);
}

.cardError {
  border: solid 2px var(--fds-semantic-border-danger-default);
}

.topWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

.topWrapperCard {
  border-radius: 10px;
}

.topWrapperCardOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.topWrapperElement {
  border-radius: 4px;
}

.topWrapperElementOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.topWrapperError {
  border-radius: 10px;
  background-color: var(--fds-semantic-surface-danger-subtle);
}

.topWrapperErrorOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.cardExpandButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  padding-right: 5px;
  margin: 0;
}

.elementExpandButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: 10px;
  padding-left: 20px;
  padding-right: 5px;
  margin: 0;
}

.cardBottomWrapper {
  padding-inline: 20px;
  padding-bottom: 20px;
}

.elementBottomWrapper {
  padding-inline: 20px;
  padding-bottom: 10px;
}

.cardError:hover {
  border-color: var(--fds-semantic-border-danger-hover);
}
