.wrapper {
  background-color: #F4F5F6;
  min-height: 100vh;
  height: 100%;
  right: 0;
  border: 1px solid #bebebe;
  border-top: none;
}

.topWrapper {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #A0A0A0;
}

.topText {
  margin-left: 20px;
}

.text {
  font-weight: 400;
  font-size: 16px;
}

.inputWrapper {
  margin-block: 30px;
}

.bodyWrapper {
  padding-inline: 20px;
  margin-top: 30px;
}

.alert {
  margin-top: 30px;
}
