.wrapper {
  background-color: var(--fds-semantic-background-subtle);
  position: sticky;
  height: 100vh;
  top: 0;
  right: 0;
  border: 1px solid var(--fds-semantic-border-neutral-divider);
  border-top: none;
}

.topWrapper {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-bottom: 0;
}

.topText {
  margin-left: 10px;
}

.icon {
  font-size: 1.5rem;
  color: var(--fds-semantic-text-neutral-default);
}

.inputWrapper {
  margin-block: 30px;
}

.bodyWrapper {
  padding-inline: 20px;
  margin-top: 20px;
}
