.header {
  font-family: Inter, 'San Fransisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  align-items: center;
  height: var(--header-height);
  width: 100vw;
  --component-button-outline-primary-color-background-default: #efefef;
  --component-button-outline-primary-color-border-default: #1e2b3c;
  --component-button-outline-primary-color-border-hover: none;
  --component-button-outline-primary-color-text-default: #1e2b3c !important;
}

.iframeDesktop {
  height: 100%;
  width: 100%;
  border: none;
}

.iframeMobileViewContainer {
  display: flex;
  justify-content: center;
  background-color: #efefef;
  height: calc(100vh - var(--header-height));
}

.iframeMobile {
  height: 844px;
  width: calc(390px + 48px);
  padding: 20px 0;
  border: none;
  margin: 0;
}

/* Mobile View Overlay to cover devtools in the middle of the screen */
.iframeMobileViewOverlay {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #efefef;
  z-index: 1;
}
