.header {
  font-family: Inter, 'San Fransisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  height: 140px;
}

.subHeader {
  color: white;
  border-bottom: 1px solid gray;
  background-color: #0c6536;
  display: flex;
  align-items: center;
  height: 70px;
  position: relative;
}

.leftSubHeaderButtons {
  flex-direction: row;
  text-align: right;
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  flex: 3;
  --component-button-quiet-primary-color-background-default: none;
  --component-button-quiet-primary-color-border-default: none;
  --component-button-quiet-primary-color-border-hover: #004e95;
  --component-button-quiet-primary-color-text-default: #ffffff;
}

.viewSizeButtons {
  margin: 4px 4px 4px 15px;
  padding: 8px 0;
  --component-toggle_button-color-border-inactive: white;
  --component-toggle_button-color-border-active: white;
  --component-toggle_button-color-background-active: white;
  --component-toggle_button-color-background-inactive: transparent;
  --component-toggle_button-color-text-active: black;
  --component-toggle_button-color-text-inactive: white;
}

/* Overriding this style because it is hardcoded in the design system */
.viewSizeButtons button[aria-pressed='false']:hover {
  background-color: #dbf5d5 !important;
  color: black !important;
}

.iframeDesktop {
  height: 100%;
  width: 100%;
  border: none;
}

.iframeMobileViewContainer {
  display: flex;
  justify-content: center;
  background-color: #efefef;
}

.iframeMobile {
  height: 100%;
  width: 360px;
  border: none;
  margin: 0;
}

/* Mobile View Overlay to cover devtools in the middle of the screen */
.iframeMobileViewOverlay {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #efefef;
  z-index: 1;
}
