@import url('https://fonts.googleapis.com/css?family=Inter');

.landingPage {
  background-color: #0a572e;
}

.iframe {
  height: 100%;
  width: 100%;
  margin: 0;
  border: none;
}

.header {
  font-family: Inter, 'San Fransisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  border-bottom: 1px solid gray;
  background-color: #15a859;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 2rem;
}

.betaTag {
  border: 2px solid white;
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
  margin-left: 30px;
  padding: 0 5px;
  font-weight: bold;
}
