<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>@ViewBag.Org- @ViewBag.App</title>

  <link rel="icon" href="https://altinncdn.no/favicon.ico">

  <!-- Third Party CSS -->
  <link rel="stylesheet" href="https://altinncdn.no/toolkits/fortawesome/altinn-no-bold/0.1/css/embedded-woff.css">
  <link rel="stylesheet" href="https://altinncdn.no/toolkits/fortawesome/altinn-no-regular/0.1/css/embedded-woff.css">
  <link rel="stylesheet" href="https://altinncdn.no/toolkits/fortawesome/altinn-studio/0.1/css/embedded-woff.css">

  <!-- Fonts -->
  <link href="https://altinncdn.no/fonts/altinn-din/altinn-din.css" rel="stylesheet">

  <!-- Runtime CSS -->
  <!--<link rel="stylesheet" type="text/css" href="https://altinncdn.no/toolkits/altinn-app-frontend/3/altinn-app-frontend.css">:-->
  <link rel="stylesheet" type="text/css" href="http://localhost:8080/altinn-app-frontend.css">

</head>
<body>
  <style>
    html, body {
      height: 100%;
    }
  </style>
  <div class="flex-column d-flex media-body">

    <script>
      function loadScript() {
        var appId = window.location.pathname.split('/');
        window.reportee = document.cookie.replace(/(?:(?:^|.*;\s*)AltinnPartyId\s*\=\s*([^;]*).*$)|^.*$/, "$1");;
        window.org = appId[1];
        window.app = appId[2];
      }

    </script>
    <div id="root" class="media-body flex-column d-flex"></div>
    <script>
      loadScript();
    </script>
  </div>
  <!--<script src="https://altinncdn.no/toolkits/altinn-app-frontend/3/altinn-app-frontend.js"></script>:-->
  <script src="http://localhost:8080/altinn-app-frontend.js"></script>
</body>
</html>
