<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>@ViewBag.Org- @ViewBag.App</title>

  <link rel="icon" href="https://altinncdn.no/favicon.ico">

  <!-- Third Party CSS -->
  <link rel="stylesheet" href="https://altinncdn.no/toolkits/fortawesome/altinn-no-bold/0.1/css/embedded-woff.css">
  <link rel="stylesheet" href="https://altinncdn.no/toolkits/fortawesome/altinn-no-regular/0.1/css/embedded-woff.css">
  <link rel="stylesheet" href="https://altinncdn.no/toolkits/fortawesome/altinn-studio/0.1/css/embedded-woff.css">

  <!-- Fonts -->
  <link href="https://altinncdn.no/fonts/altinn-din/altinn-din.css" rel="stylesheet">

  <!-- Runtime CSS -->
  <link rel="stylesheet" type="text/css" href="https://altinncdn.no/toolkits/altinn-app-frontend/3/altinn-app-frontend.css">

  <style>
    html, body {
      height: 100%;
    }
  </style>
</head>
<body>
  <div class="flex-column d-flex media-body">
    <script>
      function loadScript() {
        var appId = window.location.pathname.split('/');
        window.reportee = document.cookie.replace(/(?:(?:^|.*;\s*)AltinnPartyId\s*\=\s*([^;]*).*$)|^.*$/, "$1");;
        window.org = appId[1];
        window.app = appId[2];
      }

      function updatePermission(format) {
        const permissions = {
          read: false,
          write: false,
          actions: {
            instantiate: false,
            confirm: false,
            sign: false,
            reject: false,
          },
        };
        for (const i of format) {
          switch (i) {
            case 'r':
              permissions.read = true;
              break;
            case 'w':
              permissions.write = true;
              break;
            case 'i':
              permissions.actions = { ...permissions.actions, instantiate: true };
              break;
            case 'c':
              permissions.actions = { ...permissions.actions, confirm: true };
              break;
            case 's':
              permissions.actions = { ...permissions.actions, sign: true };
              break;
            case 'j':
              permissions.actions = { ...permissions.actions, reject: true };
              break;
          }
        }

        const { taskType, taskId } = window.reduxStore.getState().process;

        window.reduxStore.dispatch({
          type: 'process/getFulfilled',
          payload: {
            processStep: taskType,
            taskId,
            ...permissions
          },
        });
      }

    </script>
    <div id="root" class="media-body flex-column d-flex"></div>
    <div id="permissionContainer" style="display: none; margin: 0 auto;">
      <span>Set permissions:</span>
      <button onclick="updatePermission('r')">Read</button>
      <button onclick="updatePermission('rw')">Write</button>
      <button onclick="updatePermission('rc')">Confirm</button>
      <button onclick="updatePermission('rs')">Sign</button>
      <button onclick="updatePermission('rsj')">Reject</button>
      <button onclick="updatePermission('rwicsj')">All</button>
    </div>
    <script>
      loadScript();
      if (document.location.host === "local.altinn.cloud") {
        document.querySelector("#permissionContainer").style.display = "block";
      }
    </script>
  </div>
  <script src="https://altinncdn.no/toolkits/altinn-app-frontend/3/altinn-app-frontend.js"></script>
</body>
</html>
