<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>@ViewBag.Org- @ViewBag.App</title>
    <link rel="icon" href="https://altinncdn.no/favicon.ico">
    <link rel="stylesheet" type="text/css"
          href="https://altinncdn.no/toolkits/altinn-app-frontend/4/altinn-app-frontend.css">

    <!-- Access react dev tools in cypress -->
    <script>
        if (window.Cypress) {
            window["__REACT_DEVTOOLS_GLOBAL_HOOK__"] = window.parent["__REACT_DEVTOOLS_GLOBAL_HOOK__"];
        }
    </script>
</head>
<body>
<div>
    <div id="root"></div>
    <script>
        const appId = window.location.pathname.split('/');
        window.org = appId[1];
        window.app = appId[2];

        class HashRouterRedirect {
          static #HASH_ROUTE_PREFIX = '#/';

          #location;
          #org;
          #app;

          constructor(location, org, app) {
            this.#location = location;
            this.#org = org;
            this.#app = app;
          }

          execute() {
            if (!this.#hasHashRoute()) {
              return false;
            }
            this.#location.replace(this.#buildBrowserUrl());
            return true;
          }

          #hasHashRoute() {
            return this.#location.hash?.startsWith(HashRouterRedirect.#HASH_ROUTE_PREFIX);
          }

          #buildBrowserUrl() {
            const basePath = `/${this.#org}/${this.#app}`;
            const path = this.#extractPathFromHash();
            const queryString = this.#buildCombinedQueryString();
            return queryString ? `${basePath}/${path}?${queryString}` : `${basePath}/${path}`;
          }

          #getHashContentWithoutPrefix() {
            return this.#location.hash.slice(HashRouterRedirect.#HASH_ROUTE_PREFIX.length);
          }

          #extractPathFromHash() {
            const hashContent = this.#getHashContentWithoutPrefix();
            return this.#hasQueryInHash() ? hashContent.slice(0, this.#getQueryStartIndex()) : hashContent;
          }

          #hasQueryInHash() {
            return this.#getQueryStartIndex() !== -1;
          }

          #getQueryStartIndex() {
            return this.#getHashContentWithoutPrefix().indexOf('?');
          }

          #getQueryStringFromHash() {
            const hashContent = this.#getHashContentWithoutPrefix();
            return hashContent.slice(this.#getQueryStartIndex() + 1);
          }

          #buildCombinedQueryString() {
            const params = new URLSearchParams(this.#location.search);
            if (this.#hasQueryInHash()) {
              this.#mergeHashParamsInto(params);
            }
            return params.toString();
          }

          #mergeHashParamsInto(params) {
            new URLSearchParams(this.#getQueryStringFromHash()).forEach((value, key) => params.set(key, value));
          }
        }

        new HashRouterRedirect(window.location, window.org, window.app).execute();
    </script>
</div>
<script src="https://altinncdn.no/toolkits/altinn-app-frontend/4/altinn-app-frontend.js" crossorigin></script>
</body>
</html>
