.container {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

.list {
  padding: 0 6px;
  display: table;
  width: 100%;
}

.item {
  display: table-row;
  font-family: monospace;
  font-size: 0.8rem;
}

.item span {
  display: table-cell;
  cursor: default;
}

.item:hover {
  background-color: #ccc;
}

.componentType {
  width: 1px;
  font-weight: bold;
}

.componentId {
  padding-left: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 0;
}

.properties {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.properties > textarea {
  font-family: monospace;
  line-height: 1.2;
  background: transparent;
  flex: 1;
  resize: none;
  font-size: 0.8rem;
  border: none;
  outline: none;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: auto;
}

.header h3 {
  font-size: 1rem;
}

.header button {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 32px;
  right: 0;
  z-index: 10001;
}

.error {
  color: red;
}
