.expressionContent {
  align-items: center;
  background-color: var(--ds-color-neutral-surface-default);
  border-radius: var(--ds-border-radius-md);
  border: 0;
  box-shadow: var(--ds-shadow-sm);
  display: grid;
  gap: var(--studio-legacy-expression-spacing);
  grid-template-columns: [start] 1fr auto [end];
  margin: 0;
  overflow: auto;
  padding: 0;
}

.legend {
  display: contents;
}

.legendContent {
  display: flex;
  gap: var(--ds-size-1);
  margin-left: var(--studio-legacy-expression-spacing);
  overflow: hidden;
  text-overflow: ellipsis;
}

.deleteButton {
  margin-right: var(--studio-legacy-expression-spacing);
}

.legendContent,
.deleteButton {
  margin-top: var(--studio-legacy-expression-spacing);
}

.expressionWrapper {
  display: grid;
  grid-column-end: end;
  grid-column-start: start;
}
