.dataModelBindings {
  padding: var(--fds-spacing-5) 0;
}

.texts {
  background-color: var(--fds-semantic-surface-neutral-default);
  padding-block: var(--fds-spacing-5) 0;
  padding-inline: 0;
}

.unknownComponentAlert {
  padding: var(--fds-spacing-5);
}
