{{template "base/head" .}}
<div role="main" aria-label="{{if .IsSigned}}{{ctx.Locale.Tr "dashboard"}}{{else}}{{ctx.Locale.Tr "home_title"}}{{end}}" class="page-content home">
	<div class="tw-mb-8 tw-px-8">
		<div class="center">
			<img class="logo" width="220" height="220" src="{{AssetUrlPrefix}}/img/logo.svg" alt="{{ctx.Locale.Tr "logo"}}">
			<div class="hero">
				<h1 class="ui icon header title tw-text-balance">
					{{AppName}}
				</h1>
				<h2 class="tw-text-balance">{{ctx.Locale.Tr "startpage.app_desc"}}</h2>
			</div>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
        {{svg "octicon-comment-discussion"}} Samarbeid i teams
			</h1>
			<p class="large tw-text-balance">
				<a href="{{AppSubUrl}}/explore/users">Utviklere</a> kan samarbeide og diskutere,
              med tilgang til bl.a. full Git versjonshistorikk, backlog, milepæler, varsler og wiki.
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
        {{svg "octicon-organization"}} Samarbeid på tvers
			</h1>
			<p class="large tw-text-balance">
				<a href="{{AppSubUrl}}/explore/organizations">Organisasjoner</a> kan samarbeide med hverandre om
              gjenbrukbare løsninger og komponenter.
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
        {{svg "octicon-tools"}} Enkel å integrere
			</h1>
			<p class="large tw-text-balance">
				<a href="{{AppSubUrl}}/explore/repos">Appene</a> som utvikles er tilgjengelige via Git, og i tillegg
              så er alt av funksjonalitet eksponert via et <a href="{{AppSubUrl}}/api/swagger">API</a>.
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-code"}} Åpen kildekode
			</h1>
			<p class="large tw-text-balance">
				Altinn Studio deles som <a href="https://github.com/Altinn/altinn-studio">åpen kildekode på Github</a>,
              slik at alle som ønsker kan bidra til å forbedre løsningen.
			</p>
		</div>
	</div>
</div>
{{template "base/footer" .}}
