.button {
  color: white;
  margin-left: 15px;
  margin-right: 5px;
}

.button svg {
  height: 16px;
  width: 16px;
}
.headerStyling {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}
