<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>@ViewBag.Org- @ViewBag.App</title>

  <link rel="icon" href="https://altinncdn.no/favicon.ico">

  <!-- Third Party CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://altinncdn.no/toolkits/bootstrap/4.3.1/css/bootstrap.min.css" asp-append-version="true">
  <script src="https://use.fortawesome.com/ed31cded.js"></script>
  <script src="https://use.fortawesome.com/df832575.js"></script>
  <script src="https://use.fortawesome.com/bdabc5c1.js"></script>

  <!-- Javascript -->
  <script src="https://altinncdn.no/toolkits/bootstrap/4.3.1/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

  <!-- Runtime CSS -->
  <link rel="stylesheet" type="text/css" href="https://altinncdn.no/toolkits/altinn-app-frontend/1/altinn-app-frontend.css">

</head>
<body>
  <style>
    html, body {
      height: 100%;
    }
  </style>
  <div class="flex-column d-flex media-body">

    <script>
      function loadScript() {
        var appId = window.location.pathname.split('/');
        window.reportee = document.cookie.replace(/(?:(?:^|.*;\s*)AltinnPartyId\s*\=\s*([^;]*).*$)|^.*$/, "$1");;
        window.org = appId[1];
        window.app = appId[2];
      }

    </script>
    <div id="root" class="media-body flex-column d-flex"></div>
    <script>
      loadScript();
    </script>
  </div>
  <script src="https://altinncdn.no/toolkits/altinn-app-frontend/1/altinn-app-frontend.js"></script>
</body>
</html>
