.page-break-marker {
  display: none;
}

@media print {
  .page-break-marker {
    display: block;
    flex: 0 0 100%;
    height: 0;
  }

  .break-before-auto {
    break-before: auto;
  }
  .break-after-auto {
    break-after: auto;
  }
  .break-before-always {
    break-before: page;
  }
  .break-after-always {
    break-after: page;
  }
  .break-before-avoid {
    break-before: avoid-page;
  }
  .break-after-avoid {
    break-after: avoid-page;
  }
}
