.migrationPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--ds-size-4);
  border: solid 1px var(--ds-color-border-subtle);
  border-radius: var(--ds-border-radius-xl);
  gap: var(--ds-size-2);
}

.migrationPanelInner {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-2);
}
.migrationPanelCheckbox {
  margin-top: var(--ds-size-4);
}
