.migrationPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--fds-spacing-7);
}

.delegations {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--fds-spacing-4);
}

.datePickers {
  display: flex;
  gap: var(--fds-spacing-4);
  margin-top: var(--fds-spacing-4);
  margin-bottom: var(--fds-spacing-4);
}
