.componentButton {
  height: 50px;
  width: 180px;
  margin: 8px;
}

.componentsInfoWrapper {
  flex: 1;
  background-color: var(--fds-semantic-surface-info-subtle);
  padding: 20px;
}

.componentsWrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
}
