---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: gitea-runner-ttd
  namespace: default
spec:
  releaseName: gitea-runner-ttd
  targetNamespace: default
  interval: 5m
  install:
    remediation:
      retries: 1
  upgrade:
    remediation:
      retries: 1
  chart:
    spec:
      version: "{{ .Values.chartVersion }}"
      chart: gitea-runner-ttd
      sourceRef:
        kind: HelmRepository
        name: studio-charts
        namespace: default
  values:
    image:
      tag: "{{ .Values.imageTag }}"
