.root {
  margin-top: var(--fds-spacing-5);
  border-top: 1px solid var(--fds-semantic-border-divider-default);
  padding: var(--fds-spacing-5) 0 0;
}

.optionsHeading {
  padding-left: var(--fds-spacing-5);
}

.errorMessage {
  margin: var(--fds-spacing-5) var(--fds-spacing-5) 0;
}

.codelistTabContent {
  padding: var(--fds-spacing-5);
}

.manualTabContent {
  padding-block: var(--fds-spacing-5);
  padding-inline: 0;
}

.manualTabAlert {
  margin-inline: var(--fds-spacing-5);
}

.manualTabDialog[open] {
  --code-list-modal-min-width: min(80rem, 100%);
  --code-list-modal-fixed-top-margin: 30vh;
  --code-list-modal-max-height: 50vh;

  min-width: var(--code-list-modal-min-width);
  margin-top: var(--code-list-modal-fixed-top-margin);
  max-height: var(--code-list-modal-max-height);
}
