.root {
  background-color: white;
  border-radius: var(--fds-border_radius-medium);
  box-shadow: var(--fds-shadow-small);
  margin: var(--studio-property-button-vertical-spacing) var(--fds-spacing-5);
  padding: var(--fds-spacing-3);
  gap: var(--fds-spacing-3);
}

.root legend * {
  border-bottom: 1px solid var(--fds-semantic-surface-neutral-subtle-hover);
  padding-bottom: var(--fds-spacing-1);
  color: var(--fds-semantic-text-neutral-subtle);
  font-weight: normal;
}

.optionsHeading {
  padding-left: var(--fds-spacing-2);
  font-size: medium;
}

.errorMessage {
  margin: var(--fds-spacing-5) var(--fds-spacing-5) 0;
}
