root = true

[*]
# Non-configurable behaviors
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# Configurable behaviors
# end_of_line = lf - there is no 'auto' with a .editorconfig
indent_style = space
indent_size = 4
max_line_length = 120

# XML project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# XML config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

[*.cs]
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

end_of_line = crlf

#### Naming styles ####

# Interfaces start with 'I'
dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix =
dotnet_naming_style.begins_with_i.word_separator =
dotnet_naming_style.begins_with_i.capitalization = pascal_case
dotnet_naming_rule.interface_should_be_begins_with_i.severity = warning
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

# Types should be PascalCase
dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum, namespace, delegate
dotnet_naming_rule.types_should_be_pascal_case.severity = warning
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

# Non-private members should be PascalCase
dotnet_naming_symbols.non_private_members.applicable_kinds = property, event, field
dotnet_naming_symbols.non_private_members.applicable_accessibilities = public, internal, protected, protected_internal
dotnet_naming_rule.non_private_members_should_be_pascal_case.severity = warning
dotnet_naming_rule.non_private_members_should_be_pascal_case.symbols = non_private_members
dotnet_naming_rule.non_private_members_should_be_pascal_case.style = pascal_case

# All methods should be PascalCase
dotnet_naming_symbols.methods.applicable_kinds = method, local_function
dotnet_naming_rule.methods_should_be_pascal_case.severity = warning
dotnet_naming_rule.methods_should_be_pascal_case.symbols = methods
dotnet_naming_rule.methods_should_be_pascal_case.style = pascal_case

# Private member should be '_' prefixed and camelCase
dotnet_naming_symbols.private_members.applicable_kinds = property, event, field
dotnet_naming_symbols.private_members.applicable_accessibilities = private, private_protected
dotnet_naming_style.__prefixed_camel_case.required_prefix = _
dotnet_naming_style.__prefixed_camel_case.required_suffix =
dotnet_naming_style.__prefixed_camel_case.word_separator =
dotnet_naming_style.__prefixed_camel_case.capitalization = camel_case
dotnet_naming_rule.private_members_should_be___prefixed_camel_case.severity = warning
dotnet_naming_rule.private_members_should_be___prefixed_camel_case.symbols = private_members
dotnet_naming_rule.private_members_should_be___prefixed_camel_case.style = __prefixed_camel_case

# Const fields should be PascalCase
dotnet_naming_rule.constant_fields_should_be_pascal_case.severity = warning
dotnet_naming_rule.constant_fields_should_be_pascal_case.symbols  = constant_fields
dotnet_naming_rule.constant_fields_should_be_pascal_case.style    = pascal_case
dotnet_naming_symbols.constant_fields.applicable_kinds   = field
dotnet_naming_symbols.constant_fields.required_modifiers = const

# General naming styles
dotnet_naming_style.pascal_case.required_prefix =
dotnet_naming_style.pascal_case.required_suffix =
dotnet_naming_style.pascal_case.word_separator =
dotnet_naming_style.pascal_case.capitalization = pascal_case

#### General ####

dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_operator_placement_when_wrapping = beginning_of_line
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion

csharp_using_directive_placement = outside_namespace:silent
csharp_prefer_simple_using_statement = true:suggestion
csharp_prefer_braces = true:silent
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent
csharp_indent_labels = one_less_than_current
resharper_convert_to_primary_constructor_highlighting = none
csharp_style_namespace_declarations = file_scoped:error

#### Diagnostics ####

# S2325: Methods and properties that don't access instance data should be static
dotnet_diagnostic.S2325.severity = none
# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none
# CA2007: Do not directly await a Task without ConfigureAwait
dotnet_diagnostic.CA2007.severity = none
# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none
# S3251: Supply an implementation for this partial method
dotnet_diagnostic.S3251.severity = none
# S3267: Loops should be simplified with "LINQ" expressions
dotnet_diagnostic.S3267.severity = none
# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none


## WorkflowEngine.Data ##

[src/WorkflowEngine.Data/Repository/IEngineRepository.cs]
# CA1716: Identifiers should not match keywords
# Not applicable for the word in question here -> 'step'
# https://github.com/dotnet/roslyn-analyzers/issues/1858
dotnet_diagnostic.CA1716.severity = none

[src/WorkflowEngine.Data/Repository/EngineInMemoryRepository.cs]
# CA5394: Do not use insecure randomness
dotnet_diagnostic.CA5394.severity = none


## WorkflowEngine.Api ##

[src/WorkflowEngine.Api/**.cs]
# CA1515: Consider making public types internal
dotnet_diagnostic.CA1515.severity = none

[src/WorkflowEngine.Api/Extensions/ServiceCollectionExtensions.cs]
# We will be null-checking some configuration objects. Resharper does not approve.
resharper_condition_is_always_true_or_false_according_to_nullable_api_contract_highlighting = none
resharper_null_coalescing_condition_is_always_not_null_according_to_api_contract_highlighting = none
# Roslyn is confused
dotnet_diagnostic.S1144.severity = none

[src/WorkflowEngine.Api/WorkflowExecutor.cs]
# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none


## WorkflowEngine.Resilience ##

[src/WorkflowEngine.Resilience/Extensions/RetryStrategyExtensions.cs]
# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = none
# S3928: Parameter names used into ArgumentException constructors should match an existing one
dotnet_diagnostic.S3928.severity = none


## WorkflowEngine.Models ##

[src/WorkflowEngine.Models/Step.cs]

# CA1716: Identifiers should not match keywords
# Not applicable for the word in question here -> 'step'
# https://github.com/dotnet/roslyn-analyzers/issues/1858
dotnet_diagnostic.CA1716.severity = none


[*.{yml,yaml,json}]
indent_size = 2
end_of_line = lf

# Verify settings
# https://github.com/VerifyTests/Verify?tab=readme-ov-file#editorconfig-settings

[*.{received,verified}.{json,txt,xml}]
end_of_line = lf
indent_size = unset
indent_style = unset
insert_final_newline = false
tab_width = unset
trim_trailing_whitespace = false
