# Dependency directories
node_modules/

# Example tests
cypress/integration/examples

# Environment settings
cypress.env.json

# Screenshots and videos
screenshots/
videos/

# Test attachment files
e2e/fixtures/*.pdf
e2e/fixtures/*.png

# Reports
reports/

# Downloads
downloads/

#https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
/.pnp.*
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions
