.summaryItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.summaryItemWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-6);
}

.editButton {
  margin-left: auto;
  min-width: unset;
}
