.localChangesContent {
  display: flex;
  height: calc(var(--modal-content-max-height));
  width: 70vw;
  overflow: hidden;
}

.headingWrapper {
  display: flex;
  align-items: center;
  padding-block: var(--fds-spacing-1);
  padding-inline: var(--fds-spacing-8);
}

.headingWrapper > :first-child {
  margin-right: var(--fds-spacing-2);
}

.icon {
  font-size: 2rem;
}
