.localChangesContent {
  display: flex;
  height: calc(var(--modal-content-max-height));
}

.headingWrapper {
  display: flex;
  align-items: center;
  margin-left: var(--fds-spacing-7);
}

.headingWrapper > :first-child {
  margin-right: var(--fds-spacing-2);
}

.icon {
  font-size: 2rem;
}
