.modalContent {
  display: flex;
  height: auto;
  width: 50vw;
}

.headingWrapper {
  display: flex;
  align-items: center;
  padding-block: var(--fds-spacing-1);
  padding-inline: var(--fds-spacing-8);
}

.headingWrapper > :first-child {
  margin-right: var(--fds-spacing-2);
}

.icon {
  font-size: 2rem;
}
