.gridButton {
  padding: 0;
  margin-bottom: var(--fds-spacing-0);
}

.descriptionContainer {
  margin-bottom: var(--fds-spacing-4);
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
