@model FrontendVersion

@{
  ViewData["Title"] = "Frontend version";
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("Index", "FrontendVersion", FormMethod.Post, new { Class = "form-signin" }))
{
  @Html.AntiForgeryToken()
  <div class="form-group">
    <label for="exampleInputEmail1">Select your desired frontend version</label>
    @Html.DropDownListFor(model => model.Version, Model.Versions, new { Class = "form-control" })
  </div>
  <button type="submit" class="btn btn-primary">Select</button>
}
