.popover {
  padding: 0;
}

.menuButton {
  justify-content: flex-start;
  border-radius: 0;
}

.link {
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
}

.menuItems {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
}

.icon {
  font-size: var(--fds-sizing-2);
}
