.configContent {
  padding: var(--studio-property-button-vertical-spacing) var(--fds-spacing-5);
  margin-bottom: var(--studio-property-button-vertical-spacing);
}

.alert {
  margin-bottom: var(--fds-spacing-5);
}

.link {
  color: var(--fds-semantic-text-action-second-on_action);
}
