.root {
  background: var(--ds-color-neutral-surface-tinted);
  flex: var(--elements-width-fraction);
}

.pagesContent {
  padding: var(--ds-size-2);
}

.pagesContent .addButton {
  padding-bottom: var(--ds-size-3);
  padding-top: var(--ds-size-2);
}

.componentsHeader {
  margin: var(--ds-size-3);
  padding-bottom: 10px;
  border-bottom: 2px solid var(--ds-color-neutral-surface-hover);
}

.noPageSelected {
  padding-inline: var(--ds-size-3);
}
