.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: var(--fds-spacing-2);
}

.active {
  border-bottom: 2px solid var(--fds-semantic-surface-neutral-default);
}
