.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--ds-size-5);
  margin: 0;
  background-color: var(--ds-color-neutral-surface-default);
  border-radius: var(--ds-size-3);
  border: solid 1px var(--ds-color-neutral-border-subtle);
  cursor: pointer;
}

.button:hover {
  background-color: var(--ds-color-neutral-surface-hover);
}

.button:focus-visible,
.button:focus-within {
  border-bottom: 1px solid var(--ds-color-neutral-border-subtle);
  background-color: var(--ds-color-neutral-background-default);
  outline: var(--focus-border-width) solid var(--focus-border-outline-color);
  outline-offset: var(--focus-border-width);
  box-shadow: 0 0 0 var(--focus-border-width) var(--focus-border-inner-color);
}

.icon {
  font-size: var(--ds-size-6);
}
