.headerWrapper {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--fds-semantic-border-divider-default);
}

.configSectionWrapper {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  padding-top: 4px;
  gap: 1rem;
  border-bottom: 1px solid var(--fds-semantic-border-divider-default);
}

.headerTextAndIconWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
