.text {
  font-size: 16px;
  font-weight: 400;
}

.dropdownWraper {
  margin-top: 20px;
  width: 80%;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.importButton {
  margin-left: 10px;
}

.contentDivider {
  border: solid 1px #d6d6d6;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 80%;
}
