.text {
  font-size: 1rem;
  font-weight: 400;
}

.dropdownWraper {
  margin-top: var(--fds-spacing-5);
  width: 80%;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--fds-spacing-10);
}

.importButton {
  margin-left: var(--fds-spacing-2);
}

.contentWidth {
  max-width: 37.5rem;
}
