.root {
  background: var(--fds-semantic-surface-neutral-subtle);
  flex: var(--elements-width-fraction);
}

.addButton {
  display: flex;
  justify-content: center;
  padding-top: var(--fds-spacing-5);
}

.pagesContent {
  padding: var(--fds-spacing-2);
}

.pagesContent .addButton {
  padding-bottom: var(--fds-spacing-3);
  padding-top: var(--fds-spacing-2);
}
