.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.expanded {
  padding-bottom: 1rem;
}

.wrapper:hover .formGroupButtons, .editWrapper:hover .formGroupButtons {
  display: flex;
  visibility: visible;
}

.formGroupWrapper {
  border-color: #1EAEF7;
  border-style: dotted;
  border-width: 0.15em 0;
  padding-top: 0;
  background-color: #0062BA08;
}

.formGroup {
  background-color: #0000000b;
  color: #0062BA !important;
  display: flex;
  height: 48px;
  padding-left: var(--margin-left-with-handle);
  padding-right: var(--margin-horizontal);
}

.dragHandle {
  cursor: move;
}

.formGroupBar {
  display: flex;
  align-items: center;
  flex: 1;
}

.formGroupButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
