.root {
  display: flex;
  flex-direction: column;
  flex: var(--structure-width-fraction);
  overflow-y: auto;
}

.root > *:last-child {
  flex: 1;
}

.pageHeader {
  margin: var(--margin-top) var(--margin-horizontal) 0 var(--margin-horizontal);
}

.emptyContainerText {
  padding: 0 var(--margin-horizontal);
}
.button {
  display: flex;
  justify-content: center;
  padding-top: var(--fds-spacing-5);
}

.addButton {
  padding-bottom: 50px;
}
