.root {
  --buttons-distance: 0.5rem;
  --buttons-width: var(--component-button-size-height-small, 36px);
  --drag-handle-border-radius: 5px;
  --drag-handle-width: 25px;
  --drag-handle-inner-width: 25px;
  --margin-horizontal: 50px;
  --margin-left-with-handle: calc(var(--margin-horizontal) - var(--drag-handle-width));
  --margin-right-with-buttons: calc(
    var(--margin-horizontal) - var(--buttons-width) - var(--buttons-distance)
  );
  --margin-top: 50px;
  --elements-width-fraction: 1;
  --structure-width-fraction: 1;
  --properties-width-fraction: 2;
  --preview-width-fraction: 3;

  flex-grow: 1;
  height: calc(100vh - var(--header-height));
  overflow-y: hidden;
}

.container {
  align-items: stretch;
  background-color: #fff;
  display: flex;
  height: 100%;
  top: 69px;
}

.container > * {
  min-width: 240px;
  padding: 0;
  overflow-y: auto;
  max-height: calc(100vh - var(--header-height));
}

.container > div:not(:last-child) {
  border-right: 1px solid var(--fds-semantic-border-neutral-subtle);
}

.warningMessage {
  margin: 1rem var(--margin-horizontal);
}

.logicEditor {
  background-color: #022f5180;
  display: grid; /* Make content fill up all available space */
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.logicEditor > * {
  margin: 1rem;
}
