.formGroup {
  --border-left-width: 6px;
  border-left: var(--border-left-width) solid transparent;
  background-color: #0000000b;
  display: flex;
  height: 48px;
  padding-left: calc(var(--margin-left-with-handle) - var(--border-left-width));
  padding-right: var(--margin-horizontal);
}

.editMode.formGroup {
  border-left-color: #008FD6;
}

.dragHandle {
  cursor: move;
}

.formGroupButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dragHandle,
.formGroupButtons {
  visibility: hidden;
}

.editMode .dragHandle,
.editMode .formGroupButtons,
.formGroup:hover .dragHandle,
.formGroup:hover .formGroupButtons,
.formGroupButtons:has(button[aria-expanded="true"]) {
  visibility: visible;
}

.formGroupBar {
  color: #0062BA !important;
  display: flex;
  align-items: center;
  flex: 1;
}

.emptyContainerText {
  padding: 0 var(--margin-horizontal);
}
