.root {
  --buttons-distance: 0.5rem;
  --buttons-width: var(--component-button-size-height-small, 36px);
  --drag-handle-border-radius: 5px;
  --drag-handle-width: 25px;
  --drag-handle-inner-width: 25px;
  --margin-horizontal: 50px;
  --margin-left-with-handle: calc(
    var(--margin-horizontal) - var(--drag-handle-width)
  );
  --margin-right-with-buttons: calc(
    var(--margin-horizontal) - var(--buttons-width) - var(--buttons-distance)
  );
  --margin-top: 50px;

  flex-grow: 1;
  height: calc(100vh - var(--header-height));
  overflow-y: hidden;
}

.container {
  align-items: stretch;
  background-color: #fff;
  display: flex;
  height: 100%;
  top: 69px;
}

.item {
  min-width: 240px;
  overflow-x: hidden;
  padding: 0;
  overflow-y: auto;
  max-height: calc(100vh - var(--header-height));
}

.leftContent {
  border-right: 1px solid var(--fds-semantic-border-neutral-subtle);
  flex: 2;
  min-width: 283px;
}

.leftContent h1[class*="Accordion-module_header"] > button:focus,
.rightContent h1[class*="Accordion-module_header"] > button:focus {
  border-radius: unset;
  box-shadow: unset;
  outline: unset;
  outline-offset: unset;
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex: 6;
  min-width: 682px !important;
  overflow-y: auto;
}

.mainContent > *:last-child {
  flex: 1;
}

.rightContent {
  border-left: 1px solid var(--fds-semantic-border-neutral-subtle);
  flex: 4;
}

.leftContent,
.rightContent {
  background: var(--fds-semantic-surface-neutral-subtle);
}

.warningMessage {
  margin: 1rem var(--margin-horizontal);
}

.logicEditor {
  background-color: #022f5180;
  display: grid; /* Make content fill up all available space */
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.logicEditor > * {
  margin: 1rem;
}
