.formGroup {
  border-left: 6px solid transparent;
  background-color: #0000000b;
  color: #0062BA !important;
  display: flex;
  height: 48px;
  padding-left: calc(var(--margin-left-with-handle) - 6px);
  padding-right: var(--margin-horizontal);
}

.editMode.formGroup {
  border-left-color: #008FD6;
}

.dragHandle {
  cursor: move;
  visibility: hidden;
}

.editMode .dragHandle,
.formGroup:hover .dragHandle {
  visibility: visible;
}

.formGroupBar {
  display: flex;
  align-items: center;
  flex: 1;
}

.formGroupButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  visibility: hidden;
}

.editMode .formGroupButtons,
.formGroup:hover .formGroupButtons {
  visibility: visible;
}

.emptyContainerText {
  padding: 0 var(--margin-horizontal);
}
