.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.expanded {
  padding-bottom: 1rem;
}

.formGroupWrapper {
  border-color: #1EAEF7;
  border-style: dotted;
  border-width: 0.15em 0;
  padding-top: 0;
  background-color: #0062BA08;
}
