.componentTitleButton,
.componentCellContent {
  padding-left: var(--fds-spacing-1);
}

.componentTitleButton > span:first-child {
  display: flex;
  gap: var(--fds-spacing-1);
}

.componentTitleButton {
  margin-bottom: var(--fds-spacing-1);
}
