.contentWrapper {
  border: 2px solid var(--fds-semantic-border-divider-default);
  border-radius: var(--fds-sizing-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--fds-spacing-4);
}
