.container {
  padding: var(--fds-spacing-3);
  border-bottom: 1px solid var(--fds-semantic-border-divider-default);
}

.section {
  padding-bottom: var(--fds-spacing-8);
}

.paragraph {
  padding-bottom: var(--fds-spacing-2);
}
