.previewControls {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
  align-self: flex-end;
  margin-top: var(--ds-size-2);
  margin-bottom: var(--ds-size-4);
}

.consentPreviewInner {
  display: flex;
  flex-direction: column;
  background-color: var(--ds-color-neutral-background-tinted);
  font-family: 'Inter', sans-serif;
  position: sticky;
  height: 100vh;
  top: 0;
  right: 0;
  padding: var(--ds-size-5);
  overflow: auto;
}

.consentPreviewPanel {
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  width: 45%;
}

/* styling from ConsentRequestPage */

.consentBlock {
  background-color: var(--ds-color-accent-background-default);
  padding: var(--ds-size-9) var(--ds-size-15);
  margin-bottom: var(--ds-size-12);
}
.headerBlock {
  padding-top: var(--ds-size-14);
  margin-bottom: 3px;
}

.consentContent {
  display: flex;
  flex-direction: column;
  max-width: 55rem;
}

.heading {
  font-weight: var(--ds-font-weight-semibold);
  font-size: var(--ds-body-md-font-size);
  margin-bottom: var(--ds-size-8);
}

.consentMessage {
  margin-bottom: var(--ds-size-13);
}

.serviceIntro {
  font-weight: var(--ds-font-weight-medium);
  font-size: var(--ds-body-md-font-size);
  margin-bottom: var(--ds-size-8);
}

.handledBy {
  margin-top: var(--ds-size-5);
}

.expiration {
  font-weight: var(--ds-font-weight-semibold);
}

.consentRights {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
  margin-bottom: var(--ds-size-8);
}

.consentRight {
  display: flex;
  flex-direction: row;
  gap: var(--ds-size-3);
}
.consentRightTitle {
  font-weight: var(--ds-font-weight-semibold);
}
.consentRightContent {
  flex: 1;
}
.consentRightIcon {
  font-size: var(--ds-size-7);
}

.buttonRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--ds-size-4);
  margin-top: var(--ds-size-13);
  margin-bottom: var(--ds-size-6);
}

.mobileView {
  max-width: 25rem;
}
.mobileView .consentBlock {
  padding-left: var(--ds-size-6);
  padding-right: var(--ds-size-6);
  margin-bottom: 6px;
}
