.verticalDotsMenu {
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px;
  font-size: 1.8rem;
  cursor: pointer;
}

.popover {
  border-radius: 5px;
  padding: 0;
}

.menuItems {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;
  align-items: stretch;
}

.menuItems li {
  padding: 0;
  margin: 0;
}

.link {
  align-items: center;
  background: none;
  border: none;
  box-sizing: border-box;
  color: #0062ba;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  padding: 0 1rem;
  width: 100%;
}

.link:hover {
  background-color: #f5f5f5;
}

.iconWrapper {
  align-items: center;
  display: flex;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

.icon {
  width: 20px;
  cursor: pointer;
}

.giteaIcon {
  width: 20px;
}

.giteaIcon g g path {
  fill: #000;
}
