.section {
  background-color: var(--ds-color-neutral-background-tinted);
  border-radius: 4px;
  display: flex;
  gap: var(--ds-size-6);
  padding: var(--ds-size-8);
  max-width: 735px;
}

.iconContainer {
  background-color: var(--primary-color-700);
  border-radius: 100%;
  color: var(--ds-color-neutral-base-contrast-default);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
}

.icon {
  font-size: var(--ds-size-7);
}

.textContainer {
  flex: 1;
}

@media (min-width: 768px) {
  .section {
    padding: var(--ds-size-12);
  }
}

@media (min-width: 960px) {
  .section {
    padding-right: var(--ds-size-22);
  }
}
