:root {
  --studio-font-family: 'Inter', sans-serif;
  --studio-app-background: var(--fds-semantic-surface-neutral-default);
  --studio-link-color: var(--fds-semantic-text-action-default);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'San Fransisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  background: var(--studio-app-background);
  font-size: 1rem;
}

h1,
h2,
h3 {
  letter-spacing: 2px;
}

a {
  color: var(--studio-link-color);
  text-decoration: none;
}

a.fds-link--inverted {
  color: var(--fds-link--inverted);
  text-decoration: underline;
}

button[class*='Button-module_small__'] svg {
  --fdsc-icon-size: var(--fds-sizing-5);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 5px;
}
