.accordionItem {
  display: grid;
  grid-template-columns: 1fr auto;
}

.details {
  grid-column: 1 / -1;
  grid-row: 1;
  min-width: 0;
}

.accordionHeaderWarning {
  --dsc-details-summary-background: var(--fds-semantic-surface-danger-subtle);
  --dsc-details-summary-background--hover: var(--fds-semantic-surface-danger-subtle);
  --dsc-details-summary-background--open: var(--fds-semantic-surface-danger-subtle);
}

.accordionContent {
  margin: 0;
}

.navigationMenu {
  grid-column: 2;
  grid-row: 1;
  align-self: start;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: var(--ds-size-1);
}

.pdfIcon {
  font-size: var(--fds-sizing-6);
}
