.partyName {
  font-size: 0.875rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .partyName {
    display: none;
  }
}

.button-active {
  background-color: var(--fds-semantic-surface-action-first-no_fill-active);
  color: var(--fds-semantic-text-action-first-active);
}
