<!doctype html>
<html lang="no">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta property="og:title" content="Altinn Studio" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="/img/altinn-studio-social-preview.png" />
        <meta property="og:site_name" content="Altinn Studio" />

        <title>Altinn Studio</title>

        <link rel="manifest" href="/manifest.json" />
        <link rel="icon" href="/favicon.ico" />

        <link rel="apple-touch-icon" href="/img/icon64x64.png" />
        <link rel="apple-touch-icon" sizes="96x96" href="/img/icon96x96.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/img/icon144x144.png" />
        <link rel="apple-touch-icon" sizes="192x192" href="/img/icon192x192.png" />

        <!-- CSS -->
        <link href="https://altinncdn.no/fonts/roboto/latin/roboto.css" rel="stylesheet" />
        <link href="https://altinncdn.no/fonts/inter/inter.css" rel="stylesheet" />

        <link rel="stylesheet" type="text/css" href="/css/startpage.css">


        <!-- Javascript -->
        <script type="text/javascript">
            var aiConnectionString = ""
            window.aiConnectionString = aiConnectionString;
        </script>


        <script src="https://altinncdn.no/toolkits/jquery/3.5.1/jquery-3.5.1.min.js"></script>
        <script src="https://altinncdn.no/toolkits/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <a href="#main-content" class="skip-link">Hopp til innhold</a>
        <div id="root" class="media-body flex-column d-flex" data-size="sm"></div>
        <header class="an-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav id="primary-nav" class="a-globalNav">
                            <a href="/" class="a-globalNav-logo">
                                <img src="/img/AltinnD-logo.svg" alt="" role="presentation" />
                                <span class="sr-only">Altinn Studio – til forsiden</span>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div class="pt-3"></div>
        <main id="main-content">
        <h1 class="sr-only">Altinn Studio</h1>
        <div class="jumbotron jumbotron-fluid a-jumbotron a-jumbotron-header a-jumbotron-header--left a-blueDarkerText startHeroSection">
            <div class="container">
                <div class="row startHeroRow">
                    <div class="col-12 col-lg-7 startHeroText">
                        <h1 class="startHeroHeading">Bygg dine tjenester med Altinn Studio</h1>
                        <p class="a-jumbotron-ingress startHeroIngress">Alt du trenger for å utvikle, publisere og forvalte digitale tjenester for innbyggere og næringsliv.</p>
                    </div>
                    <div class="col-12 startHeroActions">
                        <input type="button" class="btn-lg" onclick="handleLogin()" value="Logg inn" />
                    </div>
                </div>
            </div>
        </div>
        </main>
        <section class="resourcesContainer" aria-label="Ressurser og lenker">
            <div class="container">
                <div class="resourcesGrid">
                    <a class="resourceCard ds-card" href="https://docs.altinn.studio/" target="_blank" rel="noreferrer noopener" aria-label="Dokumentasjon (åpnes i ny fane)" data-color="neutral">
                        <div class="resourceCard-block ds-card__block">
                            <h3 class="resourceCard-title ds-heading">Dokumentasjon</h3>
                            <p class="resourceCard-description ds-paragraph">Søk i Altinn Studios dokumentasjon og finn svar på det du lurer på.</p>
                        </div>
                    </a>
                    <a class="resourceCard ds-card" href="https://digdir-samarbeid.slack.com/archives/C02EJ9HKQA3" target="_blank" rel="noreferrer noopener" aria-label="Kontakt oss på Slack (åpnes i ny fane)" data-color="neutral">
                        <div class="resourceCard-block ds-card__block">
                            <h3 class="resourceCard-title ds-heading">Kontakt oss på Slack</h3>
                            <p class="resourceCard-description ds-paragraph">Står du fast? Ta gjerne kontakt med oss på Slack. Du må være tjenesteeier for å bruke slacken.</p>
                        </div>
                    </a>
                    <a class="resourceCard ds-card" href="https://samarbeid.digdir.no/altinn/altinn-studio/2373" target="_blank" rel="noreferrer noopener" aria-label="Gå til Samarbeidsportalen (åpnes i ny fane)" data-color="neutral">
                        <div class="resourceCard-block ds-card__block">
                            <h3 class="resourceCard-title ds-heading">Gå til Samarbeidsportalen</h3>
                            <p class="resourceCard-description ds-paragraph">På Samarbeidsportalen finner du oversikt over hele Altinn Studio.</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <script type="text/javascript">
            var SKIP_GUIDE_KEY = 'altinn-studio-skip-login-guide';

            function handleLogin() {
                if (localStorage.getItem(SKIP_GUIDE_KEY) !== 'true') {
                    location.href = '/info/guide';
                    return;
                }
                location.href = '/login';
            }


        </script>
    </body>
</html>
