.multipleSelect .multipleSelect__control {
  border-radius: 0;
  border-width: 2px;
  border-color: var(--colors-blue-500);
}

.multipleSelect .multipleSelect__control:hover {
  border-color: var(--colors-blue-700);
}

.multipleSelect .multipleSelect__control--is-focused {
  border-color: var(--colors-blue-700);
  border-style: solid;
  outline: 2px solid var(--colors-blue-700) !important;
}

.multipleSelect .multipleSelect__control--is-disabled {
  background: repeating-linear-gradient(
    135deg,
    var(--colors-neutral-200),
    var(--colors-neutral-200) var(--border_width-standard),
    #fff 3px,
    #fff 5px
  ) !important;
  border-color: var(--colors-neutral-600);
}

.multipleSelect .multipleSelect__is-invalid {
  border-color: var(--colors-error-intens);
}

.multipleSelect .multipleSelect__multi-value {
  background-color: #022f51;
  border-radius: 50px;
}

.multipleSelect .multipleSelect__multi-value__label {
  color: white;
  padding-left: 12px;
}

.multipleSelect .multipleSelect__multi-value__remove {
  color: white;
  padding-right: 6px;
}

.multipleSelect .multipleSelect__multi-value__remove:hover,
.multipleSelect__multi-value__remove:hover {
  border-radius: 0px 50px 50px 0px;
  background-color: #e02e49;
  color: white;
}

.multipleSelect .multipleSelect__clear-indicator {
  color: #022f51;
  padding: 5px;
}

.multipleSelect .multipleSelect__clear-indicator:hover {
  background-color: #e02e49;
  color: white;
  border-radius: 3px;
}

.multipleSelect .multipleSelect__dropdown-indicator {
  color: var(--colors-blue-900);
}

.multipleSelect .multipleSelect__dropdown-indicator:hover {
  color: var(--colors-blue-900);
}

.multipleSelect .multipleSelect__menu-list--is-multi {
  padding: 0;
}

.multipleSelect .multipleSelect__option {
  border: var(--border_width-thin) solid lightgray;
}

.multipleSelect .multipleSelect__option--is-focused {
  background-color: var(--colors-primary-200);
}
