replicaCount: 1

environment: dev

serviceAccount:
  enabled: true
  name: "altinn-designer"
  useWorkloadIdentity: true

image:
  repository: altinntjenestercontainerregistry.azurecr.io/altinn-core
  containerPort: 5000
  imagePullSecret: acrsecret

dbMigrationsJob:
  image:
    repository: altinntjenestercontainerregistry.azurecr.io/altinn-designer-db-migrations

hosts:
  dev: dev.altinn.studio
  staging: staging.altinn.studio
  prod: altinn.studio

service:
  externalPort: 3000
  internalPort: 5000

environmentVariables:
  dev:
    - name: OTEL_SERVICE_NAME
      value: studio-designer
    - name: OTEL_EXPORTER_OTLP_ENDPOINT
      value: http://otel-router.observability.svc.cluster.local:4317
    - name: ASPNETCORE_ENVIRONMENT
      value: Staging
    - name: ASPNETCORE_URLS
      value: http://+:5000
    - name: GeneralSettings__HostName
      value: dev.altinn.studio
    - name: GeneralSettings__TemplateLocation
      value: Templates/AspNet
    - name: GeneralSettings__DeploymentLocation
      value: Templates/AspNet/deployment
    - name: GeneralSettings__AppLocation
      value: Templates/AspNet/App
    - name: GeneralSettings__CheckTeamMembershipForDeploy
      value: true
    - name: ServiceRepositorySettings__ApiEndPointHost
      value: altinn-repositories
    - name: ServiceRepositorySettings__ApiEndPoint
      value: http://altinn-repositories:3000/api/v1/
    - name: ServiceRepositorySettings__GiteaLoginUrl
      value: https://dev.altinn.studio/repos/user/login
    - name: ServiceRepositorySettings__RepositoryLocation
      value: /AltinnCore/Repos/
    - name: ServiceRepositorySettings__RepositoryBaseURL
      value: http://altinn-repositories:3000
    - name: OidcLoginSettings__Authority
      value: https://dev.altinn.studio/repos/
    - name: OidcLoginSettings__RequireHttpsMetadata
      value: "true"
    - name: OidcLoginSettings__CookieExpiryTimeInMinutes
      value: 59
    - name: FeatureManagement__AnsattPorten
      value: "true"
    - name: FeatureManagement__GitOpsDeploy
      value: "false"
    - name: RedisCacheSettings__UseRedisCache
      value: "true"
    - name: RedisCacheSettings__InstanceName
      value: "designer"
    - name: SchedulingSettings__UsePersistentScheduling
      value: "true"
    - name: SchedulingSettings__AddHostedService
      value: "true"
    - name: AI_CONNECTION_STRING
      valueFrom:
        secretKeyRef:
          name: altinn-studio-env-secret
          key: aiConnectionString
    - name: POSTHOG_API_KEY
      valueFrom:
        secretKeyRef:
          name: altinn-studio-env-secret
          key: postHogApiKey
    - name: POSTHOG_API_HOST
      valueFrom:
        secretKeyRef:
          name: altinn-studio-env-secret
          key: postHogApiHost
  staging:
    - name: OTEL_SERVICE_NAME
      value: studio-designer
    - name: OTEL_EXPORTER_OTLP_ENDPOINT
      value: http://otel-router.observability.svc.cluster.local:4317
    - name: ASPNETCORE_ENVIRONMENT
      value: Staging
    - name: ASPNETCORE_URLS
      value: http://+:5000
    - name: GeneralSettings__HostName
      value: staging.altinn.studio
    - name: GeneralSettings__TemplateLocation
      value: Templates/AspNet
    - name: GeneralSettings__DeploymentLocation
      value: Templates/AspNet/deployment
    - name: GeneralSettings__AppLocation
      value: Templates/AspNet/App
    - name: GeneralSettings__CheckTeamMembershipForDeploy
      value: true
    - name: ServiceRepositorySettings__ApiEndPointHost
      value: altinn-repositories
    - name: ServiceRepositorySettings__ApiEndPoint
      value: http://altinn-repositories:3000/api/v1/
    - name: ServiceRepositorySettings__GiteaLoginUrl
      value: https://staging.altinn.studio/repos/user/login
    - name: ServiceRepositorySettings__RepositoryLocation
      value: /AltinnCore/Repos/
    - name: ServiceRepositorySettings__RepositoryBaseURL
      value: http://altinn-repositories:3000
    - name: OidcLoginSettings__Authority
      value: https://staging.altinn.studio/repos/
    - name: OidcLoginSettings__RequireHttpsMetadata
      value: "true"
    - name: OidcLoginSettings__CookieExpiryTimeInMinutes
      value: 59
    - name: FeatureManagement__AnsattPorten
      value: "false"
    - name: FeatureManagement__GitOpsDeploy
      value: "true"
    - name: RedisCacheSettings__UseRedisCache
      value: "true"
    - name: RedisCacheSettings__InstanceName
      value: "designer"
    - name: SchedulingSettings__UsePersistentScheduling
      value: "true"
    - name: SchedulingSettings__AddHostedService
      value: "true"
    - name: AI_CONNECTION_STRING
      valueFrom:
        secretKeyRef:
          name: altinn-studio-env-secret
          key: aiConnectionString
    - name: POSTHOG_API_KEY
      valueFrom:
        secretKeyRef:
          name: altinn-studio-env-secret
          key: postHogApiKey
    - name: POSTHOG_API_HOST
      valueFrom:
        secretKeyRef:
          name: altinn-studio-env-secret
          key: postHogApiHost
  prod:
    - name: OTEL_SERVICE_NAME
      value: studio-designer
    - name: OTEL_EXPORTER_OTLP_ENDPOINT
      value: http://otel-router.observability.svc.cluster.local:4317
    - name: ASPNETCORE_ENVIRONMENT
      value: Production
    - name: ASPNETCORE_URLS
      value: http://+:5000
    - name: GeneralSettings__HostName
      value: altinn.studio
    - name: GeneralSettings__TemplateLocation
      value: Templates/AspNet
    - name: GeneralSettings__DeploymentLocation
      value: Templates/AspNet/deployment
    - name: GeneralSettings__AppLocation
      value: Templates/AspNet/App
    - name: ServiceRepositorySettings__ApiEndPointHost
      value: altinn-repositories
    - name: ServiceRepositorySettings__ApiEndPoint
      value: http://altinn-repositories:3000/api/v1/
    - name: ServiceRepositorySettings__GiteaLoginUrl
      value: https://altinn.studio/repos/user/login
    - name: ServiceRepositorySettings__RepositoryLocation
      value: /AltinnCore/Repos/
    - name: ServiceRepositorySettings__RepositoryBaseURL
      value: http://altinn-repositories:3000
    - name: OidcLoginSettings__Authority
      value: https://altinn.studio/repos/
    - name: OidcLoginSettings__RequireHttpsMetadata
      value: "true"
    - name: OidcLoginSettings__CookieExpiryTimeInMinutes
      value: 59
    - name: FeatureManagement__AnsattPorten
      value: "false"
    - name: FeatureManagement__GitOpsDeploy
      value: "false"
    - name: RedisCacheSettings__UseRedisCache
      value: "true"
    - name: RedisCacheSettings__InstanceName
      value: "designer"
    - name: SchedulingSettings__UsePersistentScheduling
      value: "true"
    - name: SchedulingSettings__AddHostedService
      value: "true"
    - name: AI_CONNECTION_STRING
      valueFrom:
        secretKeyRef:
          name: altinn-studio-env-secret
          key: aiConnectionString
    - name: POSTHOG_API_KEY
      valueFrom:
        secretKeyRef:
          name: altinn-studio-env-secret
          key: postHogApiKey
    - name: POSTHOG_API_HOST
      valueFrom:
        secretKeyRef:
          name: altinn-studio-env-secret
          key: postHogApiHost

dbMigrationsEnvironmentVariablesSecretName: altinn-designer-db-migrations-secret

volumeMounts:
  - name: altinn-repo-storage
    mountPath: "/AltinnCore/Repos"
  - name: altinn-appsettings
    mountPath: "/app/altinn-appsettings"
  - name: datakeys
    mountPath: /mnt/keys
  - name: accesstoken
    mountPath: "/accesstoken"

volumes:
  - name: altinn-repo-storage
    persistentVolumeClaim:
      claimName: altinn-storage-repo-premium-volume-claim
  - name: altinn-appsettings
    secret:
      secretName: altinn-appsettings-secret
  - name: accesstoken
    secret:
      secretName: accesstoken
  - name : datakeys
    persistentVolumeClaim:
      claimName: keys

ingress:
  - metadata:
      name: altinn-designer-base-path
      annotations:
        traefik.ingress.kubernetes.io/rule-type: Path
        traefik.frontend.priority: "1000"
    paths:
      - path: /
  - metadata:
      name: altinn-designer-home-path
      annotations:
        traefik.frontend.priority: "800"
    paths:
      - path: /Home/
  - metadata:
      name: altinn-designer-designer-path
      annotations:
        traefik.frontend.priority: "700"
    paths:
      - path: /designer/
  - metadata:
      name: altinn-designer-designerapi-path
      annotations:
        traefik.frontend.priority: "600"
    paths:
      - path: /designerapi/


lifecycle:
  postStart:
    exec:
      command:
        - /bin/sh
        - -c
        - >
          mkdir -p wwwroot/designer/config &&
          echo "{\"aiConnectionString\": \"${AI_CONNECTION_STRING}\", \"postHogApiKey\": \"${POSTHOG_API_KEY}\", \"postHogApiHost\": \"${POSTHOG_API_HOST}\"}" > wwwroot/designer/config/env.json
