.listAdminPageWrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 0.5rem;
  align-items: flex-start;
}

.environmentSelectorWrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tableRowContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid var(--fds-semantic-border-neutral-subtle);
}
