.listAdminPageWrapper {
  margin: 1rem;
}

.environmentSelectorWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.environmentLinkWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  margin: 1rem 0;
}
