.settingsModal[open] {
  --settings-modal-width: min(80vw, 64rem);

  height: 80vh;
  max-width: unset;
  width: var(--settings-modal-width);
}

.modalContent {
  display: flex;
  height: calc(77.5vh);
}

.leftNavWrapper {
  overflow-y: auto;
}

.contentWrapper {
  overflow: auto;
  padding: var(--studio-modal-spacing);
}

.icon {
  font-size: 2rem;
}
