.modalContent {
  display: flex;
  height: calc(var(--modal-content-max-height));
  width: 70vw;
}

.leftNavWrapper {
  height: auto;
  top: 0;
  position: sticky;
}

.leftNavigationBar {
  min-height: 200px;
}

.headingWrapper {
  display: flex;
  align-items: center;
  padding-block: 10px;
  padding-inline: 20px;
  border-bottom: 1px solid var(--fds-semantic-border-divider-default);
}

.headingWrapper > :first-child {
  margin-right: 10px;
}

.icon {
  font-size: 2rem;
}
