.componentButton {
  margin: 8px;
  justify-content: start;
  width: 270px;
}

.componentsWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}

.itemCategory {
  margin-bottom: 12px;
  margin-right: 12px;
  max-width: calc(50% - 12px);
}
