.group {
  width: 100%;
  padding: 12px;
}

.summary {
  width: 100%;
}

.groupContainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 38px;
  margin-right: -12px;
  margin-left: -12px;
}

.groupContainer > * {
  padding: 12px;
}

.groupingIndicator {
  border-left: 2px solid #949494;
  margin-left: 0;
  padding: 12px 0 12px 12px;
}
