.groupBody {
  margin-top: 12px;
  margin-bottom: 0;
}

/**
 * There are problems overriding the material-ui Grid styles even after https://github.com/Altinn/app-frontend-react/pull/1330
 * making the use of !important necessary.
 * @see https://github.com/mui/material-ui/issues/8509
 */
.groupContainer {
  padding-bottom: 38px !important;
}

.groupingIndicator {
  border-left: 2px solid #949494;
  margin-left: 12px;
  margin-bottom: 12px;
  margin-top: 12px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
