.dialogBlock {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
}

.fields {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
}

.keyDialogBlock {
  padding: 0;
}

.keyDialogAlert {
  border: none;
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
}

.keyDialogCloseButton {
  position: absolute;
  top: var(--ds-size-2);
  right: var(--ds-size-2);
}
