.likertRadioButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
  This styling was causing a weird frame around
  the input element in some screen readers.
*/
.likertRadioButton input {
  left: unset;
  top: unset;
}

.likertRadioButton label {
  margin: 0;
  gap: 0;
}

.likertCellDividerStart {
  border-inline-start: 1px solid #dde3e5;
}

.likertCellDividerEnd {
  border-inline-end: 1px solid #dde3e5;
}

.likertCellDividerBoth {
  border-inline-start: 1px solid #dde3e5;
  border-inline-end: 1px solid #dde3e5;
}
