
@{
  Layout = "_FormBuilderLayout";
  ViewBag.Title = "Altinn Studio";
}

@section scripts {
  <link href="https://altinncdn.no/fonts/roboto/latin/roboto.css" rel="stylesheet">
  <script src="https://use.fortawesome.com/bdabc5c1.js"></script>
  <script src="https://use.fortawesome.com/ed31cded.js"></script>
}

<div id="root" class="media-body flex-column d-flex"></div>

<link  href="/designer/frontend/app-development/app-development.css" asp-append-version="true" rel="stylesheet">
<script src="/designer/frontend/app-development/app-development.js" asp-append-version="true" type="text/javascript"></script>
<script src="/designer/frontend/app-development/1.app-development.js" asp-append-version="true" type="text/javascript"></script>
<script src="/designer/frontend/app-development/2.app-development.js" asp-append-version="true" type="text/javascript"></script>
<script src="/designer/frontend/app-development/3.app-development.js" asp-append-version="true" type="text/javascript"></script>
<script src="/designer/frontend/app-development/4.app-development.js" asp-append-version="true" type="text/javascript"></script>
