.validationHeader {
  padding-bottom: var(--ds-size-3);
}

.validationLink {
  text-decoration: underline;
}

.validationAlertsWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-6);
}
