.modal {
  --modal-min-width: 320px;
  --modal-min-height: 100px;
  --modal-max-height: 80vh;
  --modal-max-width: 80%;
  --modal-position: 50%;
  --modal-translate: calc(var(--modal-position) * -1);
  --heading-height: 70px;
  --modal-border-size: 1px;
  --modal-border-radius: var(--fds-border_radius-medium);
  --modal-content-max-height: calc(
    var(--modal-max-height) - var(--heading-height) - var(--modal-border-size)
  );
  --modal-padding: var(--fds-spacing-3);

  background-color: var(--fds-semantic-background-default);
  border-radius: var(--modal-border-radius);
  border: var(--modal-border-size) solid var(--fds-semantic-border-neutral-subtle);
  height: max-content;
  left: var(--modal-position);
  max-height: var(--modal-max-height);
  max-width: var(--modal-max-width);
  min-height: var(--modal-min-height);
  min-width: var(--modal-min-width);
  position: absolute;
  top: var(--modal-position);
  transform: translate(var(--modal-translate), var(--modal-translate));
  width: max-content;
}

.modalOverlay {
  background-color: rgba(30, 43, 60, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.headingWrapper {
  align-items: center;
  background-color: var(--fds-semantic-background-default);
  border-bottom: 1px solid var(--fds-semantic-border-divider-default);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: var(--heading-height);
  padding: var(--modal-padding);
}

.contentWrapper {
  max-height: calc(var(--modal-content-max-height));
  overflow-y: auto;
}

.title {
  flex: 1;
}
