.labelAndHelpWrapper {
  display: flex;
  gap: var(--ds-size-2);
  align-items: center;
}

.legend {
  display: inline-flex;
}

.labelAndDescWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-1);
  align-items: flex-start;
}

.description {
  padding-bottom: var(--ds-size-2);
}

.labelPadding {
  padding-bottom: var(--ds-size-2);
}
