.mainContent {
  display: flex;
  flex-direction: column;
  background-color: var(--ds-color-neutral-surface-default);
  gap: var(--ds-size-3);
  padding-bottom: var(--ds-size-3);
}

.alertWrapper {
  margin: var(--ds-size-3);
}
