.address-component {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.address-component .form-control {
  margin-bottom: 18px;
}

.address-component input {
  max-width: 100%;
}

.address-component-postplace-zipCode {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: baseline;
}

.address-component-postplace {
  flex-grow: 4;
  padding-left: 1.5rem;
  max-width: 300px;
}

.address-component-zipCode {
  flex-grow: 0;
}

.address-component-small-inputs {
  max-width: 90px !important;
}

.address-component-label {
  font-weight: 500;
  padding-top: 2.4rem;
  padding-bottom: 1.2rem;
}

.address-component-label-smaller {
  font-weight: 100;
  font-size: 1.5rem;
}

.address-component-validation-label {
  color: red;
}
