.heading {
  color: #1e2b3c;
  font-family: var(--studio-font-family);
  letter-spacing: 1px;
  margin-bottom: var(--fds-spacing-7);
}

.icon {
  font-size: var(--fds-sizing-6);
  margin-right: var(--fds-spacing-1);
}

.wipMessage {
  width: 50%;
}
