<!DOCTYPE html>
<html lang="no" style="font-size: 10px;">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Kvittering</title>

  <link rel="icon" href="https://altinncdn.no/favicon.ico">

  <!-- Third Party CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <script src="https://use.fortawesome.com/ed31cded.js"></script>
  <script src="https://use.fortawesome.com/df832575.js"></script>
  <script src="https://use.fortawesome.com/bdabc5c1.js"></script>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

  <!-- Receipt CSS -->
  <link rel="stylesheet" type="text/css" href="~/css/receipt.css">

</head>
<body>
  <style>
    html, body {
      height: 100%;
    }
  </style>

  <div class="flex-column d-flex media-body">
    <div id="root" class="media-body flex-column d-flex"></div>
  </div>
  <script src="~/js/react/receipt.js"></script>
</body>
</html>
