.wrapper {
  margin-top: var(--ds-size-4);
  padding: var(--ds-size-3);
}

.header {
  padding-top: var(--ds-size-2);
  padding-bottom: var(--ds-size-0);
  padding-left: var(--ds-size-0);
}

.divider {
  margin-top: var(--ds-size-0);
  margin-bottom: var(--ds-size-6);
}

.buttons {
  display: flex;
  gap: var(--ds-size-2);
}

.optionDescription {
  color: var(--ds-color-neutral-text-subtle);
}
