.root {
  background: var(--fds-semantic-surface-neutral-subtle);
  flex: var(--properties-width-fraction);
}

.datamodelBindings {
  --gap: 1rem;
  --item-vertical-padding: calc(var(--gap) / 2);
  --vertical-padding: calc(var(--fds-spacing-5) - var(--item-vertical-padding));
  padding: var(--vertical-padding) 0;
}
