@{
    ViewData["Title"] = "Ups...";
}

<style>
    html, body {
        background-color: rgb(30,174,247);
    }
</style>
 
<div id="invaders-container">
    <canvas id="canvas" width="600" height="400"></canvas>
</div>

@section scripts {
    <script src="~/designer/js/error/game.min.js" asp-append-version="true"></script>
    <script src="~/designer/js/error/invaders404.min.js" asp-append-version="true"></script>
} 

<script>
    ImageMapper.Invasion = function(){
	return [
		[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
		[0,2,0,2,0,2,2,2,2,2,0,2,2,2,0],
		[0,0,0,0,0,0,0,0,0,2,0,0,0,0,0],
		[0,2,0,2,0,2,0,2,0,2,0,2,2,2,0],
		[0,0,0,0,0,2,0,0,0,0,0,0,0,0,0],
		[0,2,0,2,0,2,2,2,2,2,0,2,2,2,0],
		[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
	    ];
    };

    ImageMapper.Shield = function(){
	return [ 
            [0,1,1,0,0,1,0,0,1,1,1,0,1,0,1,0,0,1,0,1,0,0,1,0,0,0,1,1,1,0,0,0,1,1,1,0],
            [1,0,0,1,0,1,0,0,0,1,0,0,0,0,1,1,0,1,0,1,1,0,1,0,0,0,0,0,1,0,0,0,1,0,1,0],
            [1,1,1,1,0,1,0,0,0,1,0,0,1,0,1,1,1,1,0,1,1,1,1,0,0,0,0,1,1,0,0,0,1,0,1,0],
            [1,0,0,1,0,1,0,0,0,1,0,0,1,0,1,0,1,1,0,1,0,1,1,0,0,0,0,0,1,0,0,0,1,0,1,0],
            [1,0,0,1,0,1,1,1,0,1,0,0,1,0,1,0,0,1,0,1,0,0,1,0,0,0,1,1,1,0,1,0,1,1,1,0]
	    ];
    };

    var invaders = new Invaders404({
        canvasId: 'canvas',
        onLoose: function(){
            alert('Loooser! :)');
        },
        onWin: function(){
            alert('Du vant!');
        }
    });
    invaders.start();
</script>