.pageWrapper {
  width: 90%;
  margin: 0;
  padding: var(--ds-size-10);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
  width: 40rem;
}

.contentDivider {
  border: solid 1px var(--ds-color-border-subtle);
  margin-top: var(--ds-size-6);
  margin-bottom: var(--ds-size-4);
}

.migrationLink {
  display: inline;
}

.environmentWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--ds-size-5);
}
