apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../../../infra/runtime/syncroot/base/gateway.yaml
  - ../../../../../../infra/runtime/syncroot/base/apps-syncroot.yaml
  - ../../../../../../infra/runtime/flux-config/flux-config.yaml
  - ../fake-oidc
patches:
  # Use local OCI registry for gateway
  - patch: |-
      apiVersion: source.toolkit.fluxcd.io/v1
      kind: OCIRepository
      metadata:
        name: gateway-repo
        namespace: runtime-gateway
      spec:
        insecure: true
        provider: generic
        ref:
          tag: local
        url: oci://kind-registry:5000/gateway-repo
  # Use local kustomize overlay
  - patch: |-
      apiVersion: kustomize.toolkit.fluxcd.io/v1
      kind: Kustomization
      metadata:
        name: gateway
        namespace: runtime-gateway
      spec:
        path: ./local
        prune: true
  # Set local environment config
  - patch: |-
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: runtime-environment
        namespace: runtime-gateway
      data:
        upgrade_channel: local
        environment: local
        serviceowner: ttd
  # Patch apps-syncroot OCIRepository for local registry
  - patch: |-
      apiVersion: source.toolkit.fluxcd.io/v1
      kind: OCIRepository
      metadata:
        name: apps-syncroot-repo
        namespace: default
      spec:
        insecure: true
        provider: generic
        ref:
          tag: local
        url: oci://kind-registry:5000/apps-syncroot-repo
  # Patch apps-syncroot Kustomization for local path
  - patch: |-
      apiVersion: kustomize.toolkit.fluxcd.io/v1
      kind: Kustomization
      metadata:
        name: syncroot-apps-kustomization
        namespace: default
      spec:
        path: ./local
  # Set local metadata for flux notifications
  - patch: |-
      apiVersion: notification.toolkit.fluxcd.io/v1beta3
      kind: Alert
      metadata:
        name: helm-releases
        namespace: flux-system
      spec:
        eventMetadata:
          serviceOwner: ttd
          environment: local
