worker_processes 1;

events {
	worker_connections 1024;
}

http {

	proxy_buffer_size    128k;
    proxy_buffers   8 256k;
    proxy_busy_buffers_size   512k;
    large_client_header_buffers 64 16k;

  	client_max_body_size 50M;

   	sendfile on;

	upstream docker-gitea {
		server gitea:3000;
	}

	server {

		server_name [[DOMAIN]];

		proxy_cookie_path ~*^/.* /;
		proxy_redirect off;
		proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $host;

        location / {
            add_header X-Dashboard-Source dotnetRoot;
            proxy_pass http://host.docker.internal:[[DESIGNER_PORT]];
        }

		location /repos/ {
			proxy_pass http://docker-gitea/;
		}
	}
}
