.actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--ds-size-3);
}

.addButtonWrapper {
  display: flex;
  justify-content: center;
}

.addButton {
  max-width: 400px;
  flex: 1;
}

.environmentsWrapper {
  display: flex;
  gap: var(--ds-size-2);
}
