.card {
  --card-background-color: #b3d0ea;
  --card-width: 300px;
}

.card {
  width: var(--card-width);
  justify-content: center;
  background-color: var(--fds-semantic-background-default);
  border-width: var(--fds-border_width-active);
  border-style: dashed;
}

.card:hover {
  background: var(--card-background-color);
  border-color: var(--fds-semantic-surface-action-checked);
  cursor: pointer;
}

.card:focus {
  background: var(--card-background-color);
  border-color: var(--fds-semantic-surface-action-checked);
  outline: none;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fds-sizing-7);
  padding-top: 0;
}

.content {
  display: flex;
  flex-direction: column;
  padding: var(--fds-spacing-2);
  text-align: center;
}
