.actionLinksContainer {
  display: flex;
  justify-content: flex-end;
  gap: var(--ds-size-1);
}

.giteaButton {
  margin-right: var(--ds-size-2);
}

.giteaIcon {
  font-size: var(--ds-size-8);
  padding-top: var(--ds-size-1);
  color: var(--ds-color-success-text-default);
}

.editButton {
  padding-top: var(--ds-size-2);
}

.akselIcon {
  font-size: var(--ds-size-7);
  color: var(--ds-color-accent-base-default);
}
