.serviceContainerHeader {
  color: var(--fds-colors-grey-700);
  font-size: var(--fds-sizing-3);
  padding-top: var(--fds-spacing-2);
  border-top: 1px solid var(--fds-semantic-border-neutral-subtle);
}

.selectWrapper {
  display: flex;
  flex-direction: row;
  gap: var(--fds-spacing-4);
  align-items: center;
}
.selectWrapper > * {
  flex: 1;
}
