.circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ds-color-accent-base-default);
  width: calc(var(--icon-size) * 0.75);
  height: calc(var(--icon-size) * 0.75);
  padding: calc(var(--icon-size) * 0.25);
}

.circle > * {
  width: 100%;
  height: 100%;
}
