.button {
  text-decoration: underline;
  text-align: left;
  padding: 5px 5px 5px 10px;
}

.srOnly {
  position: absolute;
  border: 0;
  z-index: -1;
}

.srOnly:focus {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  clip: none;
  z-index: 999;
  padding: 8px;
}
