.dialog {
  background-color: var(--ds-color-warning-surface-tinted);
  border: 1px solid var(--ds-color-warning-border-default);
  color: var(--ds-color-text-default);

  --dsc-alert-icon-color: var(--ds-color-text-subtle);
}

.text {
  padding: 0;
}

.alert {
  border: unset;
}
