.link {
  display: inline-flex;
  align-items: center;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
  color: #004E95;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.link > svg {
  margin-left: 5px;
}

.link:hover {
  text-decoration: none;
}

.link:focus {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;
  outline: 2px solid #98177E;
  outline-offset: 3px;
  border-radius: 2px;
}

.link:visited {
  color: #7A1265;
  text-decoration: none;
}
