version: '3.4'

networks:
  altinnplatform_network:
    external: false

services:
  altinn_platform_authorization:
    container_name: altinn-platform-authorization
    image: altinnplatformauthorization:latest
    restart: always
    networks:
      - altinnplatform_network
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5050
    ports:
      - "5050:5050"
    build:
      context: .
      dockerfile: Authorization/Dockerfile
