/* @import '~altinn-designsystem/dist/css/style.dist.tjenester3.min'; */

/* .fa,
.fa-stack {
  font-size: 2.25em;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 0;
  width: 1em;
  text-align: center;
  vertical-align: middle;
} */

body {
  /* altinn-designsystem seems to set another background color. We need to keep it #fff for dashboard */
  background: #fff;
}

/* fix styles for data table footer */
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
