.container {
  padding: 18px;
}

.errorDetails {
  background: #eee;
  border: 2px solid #ddd;
  padding: 12px;
  max-width: 540px;
}

.errorDetails .title {
  font-weight: bold;
  margin-bottom: 0px;
}
