@{ViewBag.Title = "Om tjenester 3.0"; }

<h1><span style="font-weight: lighter">tjenester 3.0</span></h1>
<b style="color:red;">"pre-alpha" PoC</b>

<pre>

<a href="https://github.com/aspnet/home">aspnet/core</a>: 2.1 RC1
<a href="https://github.com/dotnet/core">dotnet/core</a>: 2.1 RC1
<a href="https://github.com/dotnet/roslyn">dotnet/roslyn</a>
<a href="http://v4-alpha.getbootstrap.com/">bootstrap </a>: 4.1
<a href="https://github.com/stefanocudini/bootstrap-list-filter">bootstrap-list-filter</a>: 0.3.3
<a href="https://github.com/jonmiles/bootstrap-treeview">bootstrap-treeview</a>: 1.2.0
<a href="https://github.com/FortAwesome/Font-Awesome">font-awsome</a>: 4.7.0
<a href="http://www.nuget.org/packages/HtmlAgilityPack">HtmlAgilityPack</a>: 1.8.1
<a href="https://github.com/jquery/jquery">jquery</a>: 3.3.1
<a href="https://github.com/jquery/jquery-ui">jquery-ui</a>: 1.12.1
<a href="https://github.com/jzaefferer/jquery-validation">jquery-validation</a>: 1.17.0
<a href="https://github.com/aspnet/jquery-validation-unobtrusive">jquery-validation-unobtrusive</a>: 3.2.9
<a href="https://github.com/jdorn/json-editor">json-editor</a>: 0.7.28
<a href="https://github.com/beautify-web/js-beautify">js-beautify</a>: 1.7.5
<a href="https://github.com/libgit2/libgit2sharp">libgit2sharp</a>
<a href="https://github.com/lunet-io/markdig">markdig</a>: 0.15.0
<a href="https://github.com/Microsoft/monaco-editor">monaco-editor</a>: 0.12.0
<a href="https://github.com/moq/moq4">Moq</a>: 4.8.2
<a href="https://github.com/requirejs/requirejs">requirejs</a>: 2.3.5
<a href="https://github.com/requirejs/text">requirejs/text</a>: 2.0.15
<a href="https://github.com/mikeric/rivets">rivets</a>: 0.9.6
<a href="https://github.com/select2/select2">select2</a>: 4.0.6
<a href="https://github.com/jashkenas/underscore">underscore</a>: 1.9.0
<a href="https://github.com/xunit/xunit">xunit</a>: 2.3.1


</pre>