@{ViewBag.Title = "Dokumentasjon";}



<a href="https://altinn.github.io/docs/no/altinncore/" target="_blank" title="Dokumentasjon på GitHub (åpnes i nytt vindu)">
    <i class="fa fa-github"  aria-hidden="true"></i>
    https://altinn.github.io/docs/no/altinncore/</a>
