@model IList<EditionConfiguration>
@using AltinnCore.ServiceLibrary.Configuration;

@{
    ViewData["Title"] = "Services";
}

<h2>Utgaver for @ViewBag.Org @ViewBag.Service</h2>


<div id="servicelist" class="list-group my-2">

    <ul>
        @foreach (EditionConfiguration service in Model)
        {
            <li><a href="/ManualTesting/?org=@ViewBag.Org&service=@ViewBag.Service&edition=@service.Code">@service.Code</a></li>
        }
    </ul>
</div>
