.root {
  background: white;
  border: 1px solid #006bd8;
  box-sizing: border-box;
  color: black;
  margin-top: 4px;
  padding: 4px;
}

.root:global(.Mui-disabled) {
  background: #f4f4f4;
  border: 1px solid #6a6a6a;
  box-sizing: border-box;
  color: black;
}
