.root {
  background-color: var(--ds-color-neutral-background-default);
  flex: var(--elements-width-fraction);
}

.pagesContent {
  padding: var(--fds-spacing-2);
}

.pagesContent .addButton {
  padding-bottom: var(--fds-spacing-3);
  padding-top: var(--fds-spacing-2);
}

.componentsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--ds-color-surface-neutral);
  padding-inline: var(--ds-size-4);
  height: var(--ds-size-15);
  border-bottom: 1px solid var(--ds-color-neutral-border-subtle);
  box-sizing: border-box;
}

.collapsedPanel {
  margin-top: var(--ds-size-2);
  width: 100%;
}
.noPageSelected {
  padding-inline: var(--fds-spacing-3);
}

.errorMessage {
  padding: var(--fds-spacing-3);
}
