.section {
  margin-top: var(--ds-size-4);
  margin-bottom: var(--ds-size-4);
}

.header {
  display: flex;
  margin-bottom: var(--ds-size-2);
}

.headerTitle {
  flex: 1;
}

.headerLabel {
  font-weight: var(--ds-font-weight-medium);
}

.headerDescription {
  margin-top: var(--ds-size-1);
  color: var(--ds-color-neutral-text-subtle);
}

.tabLabel {
  display: inline-flex;
  gap: var(--ds-size-1);
}

.tabErrorIcon {
  color: var(--ds-color-danger-text-subtle);
}
