.a-item {
  display: flex;
  user-select: none;
  padding: 0.5rem !important;
  margin: 0 0 0.5rem 0 !important;
  align-items: flex-start;
  align-content: flex-start;
  line-height: 1.5;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #ddd;
}

.a-item+.a-item-clone {
  display: none !important;
}
