.buttons {
  display: flex;
  gap: var(--fds-spacing-3);
  padding-top: var(--fds-spacing-3);
}

.dataTypeSelect {
  padding-left: var(--fds-spacing-3);
  padding-right: var(--fds-spacing-3);
}

.selectWithButtonNextToIt {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--fds-spacing-3);
}
