:root:root {
  --toastify-color-info: var(--ds-color-info-base-default);
  --toastify-color-success: var(--ds-color-success-base-default);
  --toastify-color-warning: var(--ds-color-warning-surface-tinted);
  --toastify-color-error: var(--ds-color-danger-base-default);
  --toastify-toast-width: 400px;
  --toastify-toast-padding: var(--ds-size-5) var(--ds-size-5) var(--ds-size-6) var(--ds-size-5);
}

.Toastify__toast {
  line-height: 1.5rem;
}
