.chipWrapper {
  display: flex;
  flex-wrap: wrap;
}

.dropdownWrapper {
  margin-top: var(--ds-size-8);
  margin-bottom: var(--ds-size-3);
}

.chip {
  margin: 0;
  margin-right: var(--ds-size-1);
  margin-top: var(--ds-size-1);
}
