.branchIcon {
  width: 24px;
  height: 24px;
  color: white;
}

.rightWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.wrapper {
  align-items: center;
  display: flex;
  height: var(--subtoolbar-height);
  justify-content: space-between;
  padding: 0 2rem;
  background-color: #284e6a;
  height: 50px;
}
