.container {
  background: var(--fds-semantic-surface-neutral-subtle);
  border: 1px solid var(--fds-semantic-border-divider-default);
  border-radius: var(--fds-border_radius-medium);
  padding: var(--fds-spacing-2);
  box-sizing: border-box;
}

.formControlSpacing {
  margin-bottom: var(--fds-spacing-3);
}

.actionButtonContainer {
  display: flex;
  gap: var(--fds-spacing-3);
  margin-top: var(--fds-spacing-3);
}
