.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 500px;
}

.root :global(.MuiAutocomplete-input) {
  width: 150px;
}

.header {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 24px;
  padding: 0;
}

.header :global(.Mui-focusVisible) {
  background: gray;
}

.noItem {
  font-weight: 500;
  margin: 18px;
}
