.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.root :global(.MuiAutocomplete-input) {
  width: 150px;
}

.noItemHeadingWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: var(--fds-spacing-6);
  height: var(--subtoolbar-height);
  border-bottom: 1px solid var(--fds-semantic-border-neutral-subtle);
}

.tabHeader {
  height: var(--subtoolbar-height);
  font-size: var(--fds-typography-heading-small);
}

/* Should this be deleted? */
.header :global(.Mui-focusVisible) {
  background: gray;
}
