.deploymentListGrid {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-6);
}

.table {
  background-color: #ffffff;
  min-width: 30rem;
}

.colorBlack {
  color: #000;
}

.tableRow {
  height: 2.6rem;
}

.tableWrapper {
  max-height: 350px;
  overflow: auto;
}
