.headingContainer {
  padding-right: var(--fds-spacing-6);
  /* box-shadow: unset;
  display: block;
  position: relative; */
}

.loadingSpinner {
  display: flex;
  align-items: center;
  gap: var(--fds-spacing-6);
}

.envTitle {
  text-transform: uppercase;
}

.success {
  display: flex;
  justify-content: space-between;
}

/* .headingContainer > svg {
  position: absolute;
  right: var(--fds-spacing-3);
  top: var(--fds-spacing-3);
} */
