.alert {
  padding-right: var(--fds-spacing-6);
  /* box-shadow: unset;
  display: block;
  position: relative; */
}

.heading {
  text-transform: uppercase;
}

.loadingSpinner {
  display: flex;
  align-items: center;
  gap: var(--fds-spacing-6);
}

/* .headingContainer > svg {
  position: absolute;
  right: var(--fds-spacing-3);
  top: var(--fds-spacing-3);
} */
