.bodyContainer {
  display: flex;
  flex: 1;
  gap: var(--fds-spacing-12);
  padding: var(--fds-spacing-6);
}

.accordionHeader > button {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  padding-right: 0 !important;
}

.accordionHeader > button > span {
  width: 100%;
}

.accordionContent {
  padding: 0;
  padding-left: var(--fds-spacing-10);
}
