.appDeploymentList {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-6);
  flex: 1;
}

.heading {
  margin-bottom: var(--fds-spacing-2);
}

.tableWrapper {
  max-height: 550px;
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: var(--fds-spacing-1);
}

.tableHeaderCell,
.tableCell {
  padding: var(--fds-spacing-2);
}

.buildResult {
  padding: var(--fds-spacing-2);
  display: flex;
  align-items: center;
}

.buildResult * {
  font-size: inherit !important;
}

.canceled {
  background-color: var(--fds-semantic-surface-warning-subtle);
}
.failed {
  background-color: var(--fds-semantic-surface-danger-subtle);
}
.none {
  background-color: var(--fds-semantic-surface-info-subtle);
}
.partiallySucceeded {
  background-color: var(--fds-semantic-surface-warning-subtle);
}
.succeeded {
  background-color: var(--fds-semantic-surface-success-subtle);
}

.icon {
  --icon-size: calc((4 * 6 / 16) * var(--fds-font-size-f0)); /** Fluid sizing-6 */
  display: block;

  height: var(--icon-size);
  width: var(--icon-size);
}

.icon-canceled {
  color: var(--fds-semantic-border-warning-default);
}
.icon-failed {
  color: var(--fds-semantic-border-danger-default);
}
.icon-none {
  color: var(--fds-semantic-border-info-default);
}
.icon-partiallySucceeded {
  color: var(--fds-semantic-border-warning-default);
}
.icon-succeeded {
  color: var(--fds-semantic-border-success-default);
}

.selected {
  font-weight: bold;
}
