.createReleaseForm {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.createReleaseInvalidTagName {
  background-color: #fbf6bd;
  padding: 1.2rem;
  padding: 1.2rem 0 1.2rem 0;
}

.releaseVersionInput {
  width: 50%;
}
