.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #3e4f62;
  padding-block: var(--ds-size-2);
}

.leftContentWrapper {
  display: flex;
  align-items: center;
  padding-inline: var(--ds-size-4);
}

.rightContentWrapper {
  display: flex;
  align-items: center;
  gap: var(--ds-size-2);
  padding-inline: var(--ds-size-4);
}

.validationDrawer {
  z-index: 3;
}
