.root {
  display: flex;
}

.label {
  flex: 1;
}

.root:hover .label {
  background-color: var(--fds-semantic-surface-action-first-no_fill-hover);
  cursor: pointer;
}

.deleteButton {
  border-radius: 0;
}

.root:not(:hover):not(:focus-within) .deleteButton {
  visibility: hidden;
}
