.configureLayoutSetButton {
  text-align: left;
}

.configureLayoutSet {
  display: flex;
  margin: 10px;
}

.configureLayoutSetInfo {
  max-width: 500px;
  border-radius: 20px;
  padding: 10px;
}

.informationButton {
  width: 25px;
  height: 25px;
  margin-top: 5px;
}

.label {
  display: block;
  margin-bottom: 8px;
}
