.elementContainer {
  display: flex;
  align-items: center;
}

.pageContainer {
  flex: 1;
}

.pageButton {
  cursor: pointer;
  padding: var(--fds-spacing-3) var(--fds-spacing-5);
}

.selected .pageButton {
  font-weight: 700;
}

.pageField {
  padding: 0 var(--fds-spacing-3);
}

.ellipsisButton {
  margin-left: 1.2rem;
  visibility: hidden;
}

.elementContainer:hover .ellipsisButton {
  visibility: visible;
}

.errorMessage {
  font-size: 13px;
  font-weight: 400;
  padding-top: 6px;
}

.invalid {
  color: red;
}
