.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow-wrap: anywhere;
  border-bottom: 1px solid #d2d5d8;
}

.wrapper:first-child {
  border-top: 1px solid #d2d5d8;
}

.accordionWrapper {
  flex: 1;
}

.navigationMenu {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  padding-block: 12px;
  padding-left: 10px;
}

.accordionHeader {
  flex: 1;
}

.accordionHeader button {
  border: none;
  background-color: var(--fds-semantic-background-default);
}

.accordionContent {
  padding: 0;
  padding-inline: 5px;
}

.accordionItem > div:last-child {
  border-bottom: none !important;
}

.accordionHeaderRow {
  display: flex;
}
