.wrapper {
  padding: 1rem 0;
}

.editWrapper {
  display: flex;
}

.editSection {
  background-color: #fff;
  border: 0.15rem solid #fff;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
  margin-bottom: 1.2rem;
  padding: 2.4rem;
  flex: 1;
}

.containerEdit {
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

.wrapper:hover .containerEdit, .editWrapper:hover .containerEdit {
  display: flex;
  visibility: visible;
}

.fieldset > div {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.formGroupWrapper {
  border-color: #1EAEF7;
  border-style: dotted;
  border-width: 0.15em 0;
}

.formGroup {
  background-color: #EFEFEF;
  color: #0062BA !important;
  cursor: pointer;
  display: flex;
  height: 48px;
  padding-right: 1.2rem;
}

.formGroupBar {
  display: flex;
  align-items: center;
  flex: 1;
}
