.preview,
.edit,
.container {
  display: flex;
}

.preview {
  align-items: center;
  justify-content: space-between;
  min-height: var(--ds-size-10);
}

.edit {
  background-color: white;
  border-radius: 4px;
  border: 1px solid var(--ds-color-neutral-border-subtle);
  flex-direction: column;
  gap: 1rem;
  padding: var(--ds-size-4);
}

.buttonWrapper {
  display: flex;
  gap: 1rem;
}
