.editOptionTabModal[open] {
  --code-list-modal-min-width: min(80rem, 100%);
  --code-list-modal-height: min(45rem, 100%);

  min-width: var(--code-list-modal-min-width);
  height: var(--code-list-modal-height);
}

.content {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 500;
}

.codeListLabels {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: var(--fds-spacing-2);
}

.buttonContainer {
  display: flex;
  gap: var(--fds-spacing-2);
  margin-bottom: var(--fds-spacing-2);
}
