.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  min-height: 0;
}

.editor {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  min-height: 200px;
  overflow-y: auto;
}

.inspector {
  background-color: #f7f7f7;
  overflow-x: clip;
  overflow-y: auto;
}

.addMenu {
  margin-bottom: 2rem;
}

.dividerAbove {
  border-top: 1px solid #c9c9c9;
  margin-top: 4px;
  padding-top: 4px;
}
