.card {
  margin-bottom: var(--fds-spacing-4);
  border: 1px solid var(--fds-semantic-border-neutral-subtle);
  max-width: 800px;
}

.dateWrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}

.dateInputFields {
  display: flex;
  justify-content: space-between;
}

.divider {
  margin-block: 30px;
}

.errorMessagePlaceHolder {
  height: 30px;
}

.switch {
  margin-block: 10px;
}
