.hidden {
  visibility: hidden;
}
.pagination {
  ul[class*='fds-pagination'] {
    padding: 0;
  }
}
.rowsPerPageDropdown {
  display: flex;
  flex-direction: row-reverse;

  div[class*='fds-combobox__input__wrapper'] {
    width: 80px;
  }

  div[class*='fds-combobox__chip-and-input'] {
    width: 34px;
  }
}
