.fileUploadTextBoldSmall {
  font-weight: 500;
  font-size: 0.75rem;
  margin-bottom: 0;
}

.fileUpload {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--ds-size-7);
  border-width: 2px;
  border-color: var(--colors-primary-blue);
  border-style: dotted;
  cursor: pointer;
  background: transparent;
}

.fileUploadInvalid:focus {
  border-style: solid !important;
  outline-color: #e23b53 !important;
  border-color: #e23b53 !important;
}

.fileUpload:hover {
  border-style: solid !important;
}

.fileUpload:focus {
  box-shadow: var(--_ds--focus, var(--dsc-focus-boxShadow));
  outline: var(--_ds--focus, var(--dsc-focus-outline));
  outline-offset: var(--_ds--focus, var(--ds-border-width-focus));
}

.active {
  border-style: solid;
}

.validationError {
  border-style: dotted;
  border-color: var(--colors-danger);
}
