apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../../infra/runtime/syncroot/base/operator.yaml
patches:
  - patch: |-
      apiVersion: source.toolkit.fluxcd.io/v1
      kind: OCIRepository
      metadata:
        name: operator-app-repo
        namespace: runtime-operator
      spec:
        insecure: true
        provider: generic
        ref:
          tag: local
        url: oci://kind-registry:5000/runtime-operator-repo
  - patch: |-
      apiVersion: kustomize.toolkit.fluxcd.io/v1
      kind: Kustomization
      metadata:
        name: operator-app
        namespace: runtime-operator
      spec:
        path: ./local-minimal
        prune: true
  - patch: |-
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: runtime-environment
        namespace: runtime-operator
      data:
        upgrade_channel: localtest
        environment: localtest
        serviceowner: ttd

