.wrapper {
  display: block;
  margin-top: var(--ds-size-3);
  width: 100%;
  margin-bottom: calc(-1 * var(--ds-size-4));
}

.navigateSubformButton {
  margin-left: var(--ds-size-5);
  margin-top: var(--ds-size-1);
  margin-bottom: var(--ds-size-2);
}
