.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 6px 6px 20px;
  background-color: white;
  border-radius: 4px;
  min-height: var(--fds-sizing-10);
}

.buttonWrapper {
  display: flex;
}
