.selected {
  --fdsc-alert-box-shadow-left: 8px 0 0 0 var(--fds-semantic-border-action-primary-default) inset;
  box-shadow: var(--fdsc-alert-box-shadow-left);
}

.selected:focus:not(:focus-visible) {
  --fdsc-alert-box-shadow-left: 8px 0 0 0 var(--fds-semantic-border-action-primary-active) inset;
  box-shadow: var(--fdsc-alert-box-shadow-left);
}

.newPage {
  box-shadow: none;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-block: 20px;
  border: none;
  border-bottom: 1px solid var(--fds-semantic-border-neutral-divider);
  background-color: var(--fds-semantic-background-subtle);
  cursor: pointer;
}

.newPage:focus-within {
  --fdsc-alert-box-shadow-left: 8px 0 0 0 var(--fds-semantic-border-action-primary-active) inset;
  box-shadow: var(--fdsc-alert-box-shadow-left);
}

.buttonText {
  color: inherit;
  margin-left: 10px;
}
