.layoutSetsOption {
  text-overflow: ellipsis;
  width: 100%;
}

.createSubformLinkButton {
  padding-left: var(--fds-spacing-1);
  border-radius: var(--fds-border_radius-medium);
}

.saveSubformButton,
.createSubformLinkButton {
  align-self: flex-start;
}
