.altinn2RoleWarning {
  margin-top: var(--ds-size-4);
}

.altinn2RoleWarningHeading {
  margin-bottom: var(--ds-size-2);
  font-weight: var(--ds-font-weight-medium);
  font-size: var(--ds-heading-xs-font-size);
}
