.actionLinksContainer {
  display: flex;
  justify-content: flex-end;
  gap: var(--fds-spacing-1);
}

.giteaButton {
  margin-right: 0.45rem;
}

.giteaIcon {
  font-size: 2rem;
  padding-top: 0.1rem;
  padding-right: 0.1rem;
  color: var(--fds-semantic-text-success-default);
}

.editButton {
  padding-top: 0.4rem;
}

.nativeIcon {
  font-size: 1.7rem;
  color: var(--fds-semantic-text-action-default);
}
