.actionLinksContainer {
  display: flex;
  justify-content: flex-end;
  gap: var(--fds-spacing-1);
}

.giteaButton {
  margin-right: var(--fds-spacing-2);
}

.giteaIcon {
  font-size: 2rem;
  margin-bottom: var(--fds-spacing-1);
  margin-right: 0.4rem;
  color: var(--fds-semantic-text-success-default);
}
