.favoriteIconHeaderCell {
  width: 42px;
}

.nameHeaderCell {
  width: 20%;
}

.createdByHeaderCell {
  width: 20%;
}

.lastUpdatedHeaderCell {
  width: 15%;
}

.actionIconsHeaderCell {
  width: 155px;
}

.repoLink,
.repoLink:visited {
  color: inherit;
  text-decoration: none;
}

.repoLink:hover {
  color: inherit;
  text-decoration: underline;
}

.actionLinks {
  display: flex;
  justify-content: flex-end;
  gap: var(--fds-spacing-1);
}

.giteaButton {
  margin-right: var(--fds-spacing-2);
}

.giteaIcon {
  font-size: 2rem;
  margin-bottom: var(--fds-spacing-1);
  margin-right: 0.4rem;
  color: var(--fds-semantic-text-success-default);
}
