/*.favoriteIconHeaderCell {*/
/*  font-size: 0; !*Hides text, but keeps it accessible for screen readers*!*/
/*  width: 46px; !*Has to be exactly 46px to make the width the same for empty and filled table columns*!*/
/*}*/

/*.nameHeaderCell {*/
/*  width: 20%;*/
/*}*/

/*.createdByHeaderCell {*/
/*  width: 20%;*/
/*}*/

/*.lastUpdatedHeaderCell {*/
/*  width: 15%;*/
/*}*/

/*.actionIconsHeaderCell {*/
/*  font-size: 0;*/
/*}*/

tr {
  display: grid;
  grid-template-columns: 4.5rem 1fr 1fr 0.5fr 1fr 11rem;
}

td {
  display: flex;
  align-items: center;
}

/*Hides text, but keeps it accessible for screen readers*/
.favoriteIconHeaderCell,
.actionIconsHeaderCell {
  font-size: 0;
}
