apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: runtime-obs

resources:
  - ../base

patches:
  - path: patches/gateway-instance-labels.yaml
  - path: patches/router-config.yaml
  - path: patches/network-policy-labels.yaml
  - path: patches/gateway-config.yaml
  - path: patches/gateway-secrets.yaml
