.popoverContent {
  width: 445px;
  max-width: 100%;
}

.popoverContentCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--fds-spacing-5);
  width: 445px;
  max-width: 100%;
}
