.editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  min-height: 200px;
  overflow-y: auto;
}

.inspector {
  background-color: #f7f7f7;
  overflow-x: clip;
  overflow-y: auto;
  width: 100%;
}
