apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../../../infra/runtime/syncroot/base/studio-gateway.yaml
  - ../../../../../../infra/runtime/syncroot/base/flux-notifications.yaml
  - ../fake-oidc
patches:
  # Use local OCI registry
  - patch: |-
      apiVersion: source.toolkit.fluxcd.io/v1
      kind: OCIRepository
      metadata:
        name: studio-gateway-repo
        namespace: runtime-gateway
      spec:
        insecure: true
        provider: generic
        ref:
          tag: local
        url: oci://kind-registry:5000/studio-gateway-repo
  # Use local kustomize overlay
  - patch: |-
      apiVersion: kustomize.toolkit.fluxcd.io/v1
      kind: Kustomization
      metadata:
        name: studio-gateway
        namespace: runtime-gateway
      spec:
        path: ./local
        prune: true
  # Set local environment config
  - patch: |-
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: runtime-environment
        namespace: runtime-gateway
      data:
        upgrade_channel: local
        environment: local
        serviceowner: ttd
  # Set local metadata for flux notifications
  - patch: |-
      apiVersion: notification.toolkit.fluxcd.io/v1beta3
      kind: Alert
      metadata:
        name: helm-releases
        namespace: flux-system
      spec:
        eventMetadata:
          serviceOwner: ttd
          environment: local
