.wrapper {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--fds-spacing-4);
}

.leftContentWrapper {
  display: flex;
  align-items: center;
}

.rightContentWrapper {
  display: flex;
  align-items: center;
  padding-inline: var(--fds-spacing-4);
  height: 60px; /* TODO - should we create a variable for this? */
}
