.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #284e6a;
}

.leftContentWrapper {
  display: flex;
  align-items: center;
}

.rightContentWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 60px;
}
