.loginIconWrapper {
  margin-block: var(--fds-spacing-8);
  position: relative;
  display: inline-block;
  padding: var(--fds-spacing-4);
}

.loginIcon {
  font-size: var(--fds-sizing-15);
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--fds-semantic-text-neutral-default);
}

.loginIconBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--fds-semantic-surface-action-first-subtle-hover);
  transform: rotate(45deg);
  z-index: 1;
}

.loginButton {
  margin-bottom: var(--fds-spacing-8);
}

.descriptionText {
  text-align: center;
  padding-inline: var(--fds-spacing-12);
  margin-bottom: var(--fds-spacing-8);
}
