.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 30px;
  box-sizing: content-box;
  background: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  width: 285px;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item:hover {
  background: #e3f7ff;
  cursor: pointer;
}

.itemSelected {
  background: #e3f7ff;
  border: 1px solid #004c8f;
}

.typeIcon {
  padding-right: 5px;
  font-size: 24px !important;
}

.cogIcon {
  padding-left: 5px;
  padding-right: 5px;
}
