.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--subtoolbar-height);
  padding-inline: var(--fds-spacing-6);
  border-bottom: 1px solid var(--fds-semantic-border-neutral-subtle);
}

.addTypeButton {
  color: var(--fds-semantic-surface-neutral-inverted);
}

.typesList {
  display: flex;
  flex-direction: column;
  padding-block: var(--fds-spacing-5);
  padding-inline: var(--fds-spacing-6);
  gap: var(--fds-spacing-3);
}
