.root {
  box-sizing: border-box;
  padding-inline: var(--fds-spacing-6);
  padding-bottom: var(--fds-spacing-6);
  min-height: 100%;
  background: rgba(224, 224, 224, 0.3);
  border-right: 1px solid var(--fds-semantic-border-neutral-subtle);
}

.types {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--fds-spacing-2);
}

.addRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: var(--subtoolbar-height);
}

.addRowText {
  grid-column: 1 / 3;
  font-size: var(--fds-font-size-f0);
}

.addRowButton {
  grid-column: 3;
  margin-left: auto;
  margin-right: 0;
  color: #000000;
}

/* Should this be deleted? */
.root :global(.MuiAutocomplete-input) {
  width: 150px;
}

/* Should this be deleted? */
.header :global(.Mui-focusVisible) {
  background: gray;
}
