.editCard {
  display: flex;
  width: 300px;
  min-height: 320px;
  height: fit-content;
  gap: var(--ds-size-3);
  border-radius: var(--ds-border-radius-lg);
  border: var(--ds-border-width-focus) solid var(--ds-color-brand1-base-active);
  flex-shrink: 0;
  flex-direction: column;
}

.editCard select {
  width: 100%;
}

.btnGroup {
  display: flex;
  gap: var(--ds-size-2);
}
