.container {
  color: #1f2c3d;
  display: flex;
  align-items: flex-start;
  font-family: var(--studio-font-family);
  margin: var(--fds-spacing-1);
  padding: var(--fds-spacing-5);
  gap: var(--fds-spacing-3);

  overflow-x: scroll;
  background-color: #e6eff8;
  padding-bottom: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--fds-spacing-1);
  padding-bottom: var(--fds-spacing-4);
}

.addCardsContainer {
  display: flex;
  width: 300px;
  min-height: 320px;
  height: fit-content;
  flex-direction: column;
  gap: var(--fds-spacing-3);
  padding-left: var(--fds-spacing-1);
}

.addCardsContainer > * {
  flex: 1;
}
