.editCard {
  display: flex;
  width: 300px;
  min-height: 320px;
  height: fit-content;
  gap: var(--fds-spacing-3);
  border-radius: var(--fds-border_radius-large);
  border: var(--fds-border_width-active) solid var(--fds-semantic-border-first-active);
  flex-shrink: 0;
  flex-direction: column;
}

.editCard select {
  width: 100%;
}

.btnGroup {
  display: flex;
  gap: var(--fds-spacing-2);
}
