.content {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-3);
}

.details * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
