.configWarningWrapper {
  padding: var(--spacing-6) 0;
}

.configWarningHeader {
  align-items: center;
}

.configWarningHeader {
  background-color: var(--ds-color-danger-surface-tinted);
}

.configWarningContent {
  margin: var(--ds-size-2) var(--ds-size-4);
  padding: var(--ds-size-6) var(--ds-size-4);
  border: 1px solid var(--ds-color-neutral-border-subtle);
  border-radius: var(--ds-border-radius-lg);
  background-color: var(--ds-color-neutral-surface-default);
}

.configWarningList {
  margin-top: var(--ds-size-2);
}

.duplicatedId {
  font-weight: bold;
}
