@{
    ViewBag.Title = "Altinn Studio";
}

<html lang="no">

<head>
    <title>@ViewBag.Title</title>
    <link href="https://altinncdn.no/fonts/roboto/latin/roboto.css" rel="stylesheet">
    <link href="https://altinncdn.no/fonts/inter/inter.css" rel="stylesheet">
    <link rel="shortcut icon" href="/designer/img/favicon.ico" />
    <script type="text/javascript">
        var instrumentationKey = "@ViewBag.InstrumentationKey"
        window.instrumentationKey = instrumentationKey;
    </script>
</head>

<body>
    <div id="root" class="media-body flex-column d-flex"></div>
    <link href="/designer/frontend/studio-root/studio-root.css" rel="stylesheet" asp-append-version="true" />
    <script src="/designer/frontend/studio-root/studio-root.js" type="text/javascript"
        asp-append-version="true"></script>
</body>

</html>
