@{ViewBag.Title = "Altinn Studio";}

<html lang="no">
<head>
  <title>@ViewBag.Title</title>
  <link rel="shortcut icon" href="/designer/img/favicon.ico"/>
  <style>
    html, body {
      height: 100%;
      font-family: Roboto, "San Fransisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    ::-webkit-scrollbar {
      width: 5px;
    }
    ::-webkit-scrollbar-thumb {
      background: darkgray;
      border-radius: 5px;
    }
  </style>
</head>
<body>
<div id="root" class="media-body flex-column d-flex"></div>
<link  href="/designer/frontend/dashboard/dashboard.css" rel="stylesheet"      asp-append-version="true"/>
<script src="/designer/frontend/dashboard/dashboard.js" type="text/javascript" asp-append-version="true"></script>
</body>
</html>
