.profileMenuWrapper {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.userOrgNames {
  text-align: right;
  white-space: pre-line;
  line-height: 25px;
  font-size: 1rem;
  margin-right: 15px;
}
