@{
    ViewBag.Title = "Konfig - Sikkerhet";
}
@section Scripts {
    <script src="/designer/js/lib/jsoneditor.js" asp-append-version="true"></script>
}
@section styles {
    <style>
       
        .table.table-bordered {
            width: 100%!important ;
        }
    </style>
}

<!--h3><i class="fa fa-sliders fa-rotate-90" aria-hidden="true"></i> Sikkerhet</h3>
<hr /-->
<div class="alert alert-success" role="alert" id="saveConfirmation" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div id="message"></div>
    <pre id="json"></pre>
</div>

<div id="editor_holder"></div>
<br />
<input type="button" class="btn btn-primary" value="Lagre" onclick="submitForm()" />

<script>
    var _editor;
    var _holder = document.getElementById('editor_holder');
    var _schema;
    $(document).ready(function () {
        JSONEditor.defaults.theme = "bootstrap3";
        JSONEditor.defaults.options.disable_array_delete_last_row = true;
        JSONEditor.defaults.options.disable_array_delete_all_rows = true;
        JSONEditor.defaults.options.disable_edit_json = true;
        JSONEditor.defaults.options.disable_properties = true;
        JSONEditor.defaults.options.disable_collapse = true;
        JSONEditor.defaults.options.show_errors = "always";

        $.when(
            $.ajax("@Url.Action("Schema")?id=config-security-schema"),
            $.ajax("@Url.RouteUrl("editionRoute", new { action = "GetConfig", controller = "Config", id = "security"})"))
            .done(function (a1, a2) {
                _schema = a1[0];
                console.log(a2);
                _editor = new JSONEditor(_holder, {
                    keep_oneof_values: true,
                    remove_empty_properties: false,
                    disable_array_reorder: true,
                    required_by_default: true,
                    schema: _schema,
                    startval: JSON.parse(a2[0])
                });
            });
    });

    function submitForm() {
        var errors = _editor.validate();
        if (errors.length) {
            //TODO: show error msg
        } else {
            var jsonData = _editor.getValue();
            var jsonString = JSON.stringify(jsonData, null, 3);

            jQuery.post({
                url: "@Url.RouteUrl("editionRoute", new { action = "SaveConfig", controller = "Config", id = "security"})",
                contentType: "application/json; charset=UTF-8",
                data: jsonString,
                success: function (data) {
                    $("#message").html(data.Message);
                    $("#json").html(jsonString);
                    $("#saveConfirmation").show();
                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });
        }
    }
</script>

