.root {
  display: flex;
}

.label {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.root:hover .label {
  background-color: var(--ds-color-accent-surface-hover);
}

.deleteButton {
  border-radius: 0;
}

.root:not(:hover):not(:focus-within) .deleteButton {
  visibility: hidden;
}

.duplicateComponentIds {
  background-color: var(--ds-color-danger-surface-tinted) !important;
}

.deprecatedComponent {
  background-color: var(--ds-color-warning-surface-tinted);
}
