.textResource > button,
.textResource > fieldset {
  margin-inline: 0px;
  padding-inline: 0px;
}

.componentCellContent {
  font-size: var(--ds-font-size-3);
  line-height: var(--ds-line-height-sm);
  font-weight: var(--ds-font-weight-medium);
}
