.resourceFieldHeader {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: var(--ds-size-2);
}

.inputWrapper {
  width: 32rem;
  position: relative;
}

.warningCardWrapper {
  margin-top: var(--ds-size-1);
}

.toggleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--ds-size-4);
}

.toggleText {
  color: var(--ds-color-text-subtle);
}

.markdownToolbar {
  display: flex;
  align-items: flex-end;
}
.tabControlContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.translationFieldDescription {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
}
.translationFieldTabError {
  color: var(--ds-color-danger-text-subtle);
}
.translationFieldError {
  display: block;
}
