.collapsible {
  overflow: hidden;
  transition:
    visibility 0.3s ease-in-out,
    max-height 0.3s ease-in-out,
    opacity 0.2s ease-in-out;
  will-change: max-height;
  box-sizing: border-box;
}

.collapsibleClosed {
  visibility: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-top-width: 0;
  border-bottom-width: 0;
}
