.root > div {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--ds-size-5);
}

.widthAndPlacement {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.widthContainer {
  flex: 1;
}

.placementContainer {
  flex: 3;
}
