@media print {
  .appContainer {
    display: contents;
  }
  .panel {
    display: none;
  }
}

.panel {
  background-color: #efefef;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  min-height: 10px;
}

.handle {
  width: 100%;
  height: 10px;
  background-color: #333;
  cursor: ns-resize;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  touch-action: none;
}

.handle::before {
  color: white;
  content: '•••';
  line-height: 10px;
  height: 10px;
}

.panelContent {
  height: calc(100% - 10px);
  width: 100%;
}

.closeButton > button {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 1001;
}

.tabs {
  height: 100%;
  width: 100%;
}

.tabs > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tabs [role='tabpanel'] {
  min-height: 0;
  flex: 1;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 12px;
}
