.tableData {
  padding-block: 15px;
  border-bottom: 2px solid #BCC7CC;
}

.tableDataLarge {
  width: 27%;
}

.tableDataMedium {
  width: 18%;
}

.tableDataSmall {
  width: 10%;
  justify-content: flex-end;
}

.tableDataDate {
  padding-left: 1%;
}

.tableDataText {
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto, 'San Fransisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
