:root {
  --font-family: 'Inter', sans-serif;

  /*
    Added to make sure the font-family is correct in app-preview.
    For some reason, the correct font-family does not work without this.
  */
  font-family: var(--font-family);
}

.previewContainer {
  --toolbar-height: 80px;
  --subtoolbar-height: 60px;
  --header-border-bottom-width: 1px;
  --header-height: calc(
    var(--toolbar-height) + var(--subtoolbar-height) + var(--header-border-bottom-width)
  );
  --left-menu-width: 68px;

  background-color: #efefef;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}
