.configContent {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-2);
}

.displayTile {
  padding-inline: var(--fds-spacing-5);
}

.detailsContent {
  margin: 0;
  padding: var(--fds-spacing-5);
  padding-inline: 0;
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-2);
}
