@{
  Layout = "_FormBuilderLayout";
  ViewBag.Title = "Altinn Studio";
}

@section scripts {
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <script src="https://use.fortawesome.com/bdabc5c1.js"></script>
  <script src="https://use.fortawesome.com/ed31cded.js"></script>
  <script src="~/designer/js/lib/bootstrap.min.js" asp-append-version="true"></script>
  <script src="~/designer/js/lib/jquery.min.js" asp-append-version="true"></script>
  <script src="~/designer/js/lib/monaco-editor/vs/loader.js" asp-append-version="true"></script>
}

@{
  string org = ViewContext.RouteData.Values["org"] as string;
  string app = ViewContext.RouteData.Values["app"] as string;
}

<script>
    window.org = '@org';
    window.app = '@app';
</script>

<!-- These imports are imported multiple times, we will need to clean up afterwards -->
<link rel="stylesheet" href="~/designer/css/bootstrap.min.css">
<link rel="stylesheet" href="~/designer/css/react/app-development.css">

<div id="root" class="media-body flex-column d-flex"></div>
<script src="~/designer/js/react/app-development.js" asp-append-version="true" type="text/javascript"></script>
<script src="~/designer/js/react/1.app-development.js" asp-append-version="true" type="text/javascript"></script>
<script src="~/designer/js/react/2.app-development.js" asp-append-version="true" type="text/javascript"></script>
<script src="~/designer/js/react/3.app-development.js" asp-append-version="true" type="text/javascript"></script>
<script src="~/designer/js/react/4.app-development.js" asp-append-version="true" type="text/javascript"></script>
