
@{
  Layout = "_FormBuilderLayout";
  ViewBag.Title = "Altinn Studio";
}

@section scripts {
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <script src="https://use.fortawesome.com/bdabc5c1.js"></script>
  <script src="https://use.fortawesome.com/ed31cded.js"></script>
  <script src="~/designer/js/lib/bootstrap.min.js" asp-append-version="true"></script>
  <script src="~/designer/js/lib/jquery.min.js" asp-append-version="true"></script>
  <script src="~/designer/js/lib/monaco-editor/vs/loader.js" asp-append-version="true"></script>
}

<!-- These imports are imported multiple times, we will need to clean up afterwards -->
<link rel="stylesheet" href="~/designer/css/bootstrap.min.css">
<div id="root" class="media-body flex-column d-flex"></div>

<link  href="/designer/frontend/app-development/app-development.css" asp-append-version="true" rel="stylesheet">
<script src="/designer/frontend/app-development/app-development.js" asp-append-version="true" type="text/javascript"></script>
<script src="/designer/frontend/app-development/1.app-development.js" asp-append-version="true" type="text/javascript"></script>
<script src="/designer/frontend/app-development/2.app-development.js" asp-append-version="true" type="text/javascript"></script>
<script src="/designer/frontend/app-development/3.app-development.js" asp-append-version="true" type="text/javascript"></script>
<script src="/designer/frontend/app-development/4.app-development.js" asp-append-version="true" type="text/javascript"></script>
