.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.toolbar {
  display: flex;
  flex-direction: row;
  gap: 6px;
  padding: 6px;
  border-bottom: 2px solid #ccc;
}

.filterField {
  flex: 1;
}

.logContainer {
  background-color: white;
  overflow-y: auto;
  flex: 1;
}

.logContainer > div {
  display: flex;
  gap: 4px;
  padding: 4px 6px;
  font-family: monospace;
  font-size: 0.75rem;
}

.logContainer > div:hover {
  background-color: #f5f5f5;
}

.logContainer pre {
  margin: 0;
  overflow: hidden;
  white-space: pre-wrap;
}
