.labelAndHelpTextWrapper {
  display: flex;
  align-items: center;
  gap: var(--ds-size-2);
  padding-bottom: var(--ds-size-1);
}

.link {
  display: inline;
  font-size: var(--ds-font-size-3);
  line-height: var(--ds-line-height-md);
  font-weight: var(--ds-font-weight-regular);
}
