ALTINN_TESTTOOLS_USERNAME=username
ALTINN_TESTTOOLS_PASSWORD=password
PID=12345678901
PARTY_ID=50000000
USER_ID=20000000
INSTANCE_ID=00000000-0000-0000-0000-000000000000
ENV=at24
SCOPES=altinn:portal/enduser
APP_OWNER=ttd
APP_NAME=subform-test
