
<h1>Kvittering</h1>

<a asp-controller="Instance"
   asp-action="ViewPrint"
   asp-route-org="@ViewBag.Org"
   asp-route-service="@ViewBag.Service"
   asp-route-edition="@ViewBag.Edition"
   asp-route-instanceId="@ViewBag.FormID">

    Print
    </a>

   
