@model AltinnCore.ServiceLibrary.Models.StartServiceModel

<form asp-action="StartService" asp-controller="Instance">
    <input type="hidden" asp-for="ServiceID" />
   <div class="form-group">
        <label asp-for="PartyId">Select reportee</label>
        <select asp-for="PartyId" asp-items="@Model.PartyList" class="form-control"></select>

        <span asp-validation-for="PartyId" class="text-danger"></span>
    </div>
    <input class="btn btn-primary" type="submit" value="Start" />
</form>


