.deleteLoader {
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  float: right;
}

.button {
  float: right;
  padding-right: 0;
}

tr.blueUnderlineDotted td {
  border-bottom: 1px dotted #1eadf7;
}

.altinnLoader {
  margin-bottom: 1rem;
  margin-right: 0.8125rem;
}
