<configuration>
  <config>
    <add key="maxHttpRequestsPerSource" value="100" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="app-lib" value="_packages" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="app-lib">
      <package pattern="Altinn.App.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
