.leftContent svg {
  color: #fff;
}

.rightContent {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.subHeader {
  color: white;
  border-bottom: 1px solid gray;
  background-color: #0c6536;
  display: flex;
  align-items: center;
  height: var(--subtoolbar-height);
  margin-top: 80px;
}

.leftSubHeaderComponents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewSizeButtons {
  flex: 0 0 auto;
  width: fit-content;
  margin-right: 100px;
  --component-toggle_button-color-border-inactive: white;
  --component-toggle_button-color-border-active: white;
  --component-toggle_button-color-background-active: white;
  --component-toggle_button-color-background-inactive: transparent;
  --component-toggle_button-color-text-active: black;
  --component-toggle_button-color-text-inactive: white;
}

.layoutSetSelector input {
  color: white;
}

.layoutSetSelector {
  padding-top: 5px;
  width: 200px;
}

.layoutSetSelector > * {
  color: white;
  --arrow-color: white;
  --arrow-border_left: none;
  --component-input-color-border-hover: white;
  --component-input-color-background-default: #3e845e;
  --component-input-color-border-default: none;
}

.rightSubHeaderButtons {
  flex-direction: row;
  text-align: right;
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  flex: 3;
}

/* Overriding this style because it is hardcoded in the design system */
.viewSizeButtons button[aria-pressed='false']:hover {
  background-color: #dbf5d5 !important;
  color: black !important;
}

.backToEditorBtn {
  width: fit-content;
  --component-button-outline-primary-color-background-default: white;
  --component-button-outline-primary-color-border-default: transparent;
}
