.actionsCell {
  display: flex;
  justify-content: flex-end;
  gap: var(--ds-size-3);
}

.detailCell {
  background-color: var(--fds-semantic-surface-neutral-subtle);
  padding: var(--fds-spacing-4);
}
