/* Override design system component to enable horizontal layout
  No longer supported with horizontal layout in design system.
  Possible breaking change if we remove this option of styling.
  */
.horizontal div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--fds-spacing-2);
}
.horizontal div div {
  display: block;
}
.checkBoxLabelContainer {
  display: flex;
  gap: var(--fds-spacing-1);
  align-items: center;
}
