.root {
  display: flex;
  align-items: center;
  height: var(--subtoolbar-height);
  gap: var(--fds-spacing-3);
  border-bottom: 1px solid var(--fds-semantic-border-neutral-subtle);
}

.headingButton {
  display: flex;
  font: var(--fds-typography-paragraph-short-large);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 0;
}

.headingButton:hover {
  background-color: var(--fds-colors-blue-100);
}

.selected .headingButton {
  /*background-color: var(--studio-treeitem-selected-background-colour);*/
  background: linear-gradient(
    to right,
    var(--studio-treeitem-vertical-line-colour-root) 0 var(--studio-treeitem-vertical-line-width),
    var(--studio-treeitem-selected-background-colour) var(--studio-treeitem-vertical-line-width)
      100%
  );
  /*border-left-color: var(--studio-treeitem-vertical-line-colour-root);*/
}
