.root {
  display: flex;
  align-items: center;
  height: var(--subtoolbar-height);
  gap: var(--fds-spacing-3);
  border-bottom: 1px solid var(--fds-semantic-border-neutral-subtle);
}

.headingButton {
  display: flex;
  font: var(--fds-typography-paragraph-short-large);
  border-left: var(--studio-treeitem-vertical-line-width) solid transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.headingButton:hover {
  background-color: var(--fds-colors-blue-100);
}

.selected .headingButton {
  background-color: var(--studio-treeitem-selected-background-colour);
  border-left-color: var(--studio-treeitem-vertical-line-colour-root);
}
