.buttonCell {
  padding: 4px 36px 4px 4px;
}

.tableButtonWrapper {
  display: flex;
  justify-content: right;
}

.tableContainer {
  margin-top: 26px;
}

.table {
  width: 100%;
}

/* ====
TODO(1779): Remove these styles after going through all the different Table styles in
Altinn, and making sure they are consistent. */

.table {
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12);
}
@media (max-width: 992px) {
  .table {
    border-top: 1px solid #dde3e5;
  }
}
.table th {
  background-color: #f5f5f5;
  border-bottom: 1px solid #dde3e5;
  padding-top: 15px;
  padding-bottom: 15px;
}

.table td {
  border-bottom: 1px solid #dde3e5;
  padding-top: 12px;
  padding-bottom: 12px;
}
/* ==== */

.table tr:hover {
  background-color: unset;
}

.tableFooter {
  background-color: #f5f5f5; /* Remove this when upgrading to the new design system component look*/
}
tr.tableFooter:hover {
  background-color: var(--fds-semantic-background-subtle);
}

.startNewButtonContainer {
  margin-top: 12px;
}

.descriptionParagraph {
  margin-top: 12px;
}

.paginationWrapper {
  display: flex;
  justify-content: left;
}

.paginationWrapperMobile {
  display: flex;
  justify-content: center;
}

.mobileTableCell {
  padding-top: 12px;
  padding-bottom: 12px;
}

.leftOffHeading {
  padding-top: 12px;
  padding-bottom: 12px;
}
