.configPanel {
  --margin-inline: 1rem;

  background-color: var(--fds-semantic-surface-neutral-subtle);
  flex: 1;
  overflow-y: scroll;
  border-left: 1px solid var(--fds-semantic-border-neutral-subtle);
}

.configPanelParagraph {
  margin-inline: var(--margin-inline);
  margin-top: 1rem;
}
