.container,
.heading,
.content {
  display: flex;
  flex-direction: column;
}

.container {
  gap: var(--ds-size-10);
}

.heading {
  gap: var(--fds-spacing-6);
}

.content {
  gap: var(--ds-size-4);
}
