.wrapper {
  border-top: 1px solid var(--ds-color-neutral-border-subtle);
  margin-inline: var(--ds-size-2);
  padding: var(--ds-size-3);
}

.content-wrapper {
  margin-top: var(--ds-size-4);
}

.addColumnButton {
  margin-top: var(--ds-size-3);
  margin-left: var(--ds-size-5);
}
