.datamodelLink {
  display: flex;
  align-items: center;
}

.linkIcon {
  font-size: 1.5rem;
}

.selectDataModelComponent {
  margin-top: -25px;
  width: 100%;
}

.linkedDatamodelContainer {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: var(--fds-spacing-1);
  padding-block: 0.75rem;
}

.selectedOption {
  gap: var(--fds-spacing-1);
  word-break: break-word;
}
