.wrapper {
  
}

.editDatamodelWrapper {
  display: grid;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-left: var(--fds-sizing-5, 1rem);
  padding-right: var(--fds-sizing-5, 1rem);
}

.linkIcon {
  font-size: 1rem;
}

.labelAndSelectedOption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--fds-semantic-text-neutral-default);
}

.selectedOption,
.datamodelLink {
  display: flex;
  align-items: center;
  gap: 4px;
}

.selectedOption {
  word-break: break-word;
}
