.root {
  margin-top: var(--fds-spacing-5);
  border-top: 1px solid var(--fds-semantic-border-divider-default);
}

.codeListSwitchWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin: var(--fds-spacing-5);
}

.errorMessage {
  margin: var(--fds-spacing-5) var(--fds-spacing-5) 0;
}
