.searchWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-end;
  margin-top: var(--fds-spacing-8);
}

.spinnerContainer {
  height: 500px; /* height of 10 grid rows (must be equal to height of grid to avoid scroll jumping when changing pagination page) */
}

.addMoreWrapper {
  margin-top: var(--fds-spacing-8);
}

.paginationWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.buttonIcon {
  font-size: 1.5rem;
}

.hiddenHeader {
  visibility: hidden;
}

.membersTable {
  width: 100%;
  margin-bottom: var(--fds-spacing-2);
}

.orgNrCell {
  padding-top: var(--fds-spacing-4);
  padding-bottom: var(--fds-spacing-4);
}

.smallColumn {
  width: 15%;
}

.mediumColumn {
  width: 25%;
}

.largeColumn {
  width: 45%;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
