.searchWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-end;
  margin-top: 2.5rem;
}

.noSearchResults {
  position: absolute;
  margin-top: 0.5rem;
}

.spinnerContainer {
  height: 250px; /* height of 5 grid rows (must be equal to height of grid to avoid scroll jumping when changing pagination page) */
}

.addMoreWrapper {
  margin-top: 1rem;
}

.paginationWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.buttonIcon {
  font-size: 1.5rem;
}

.hiddenHeader {
  visibility: hidden;
}

.membersTable {
  width: 100%;
}

.smallColumn {
  width: 15%;
}

.mediumColumn {
  width: 25%;
}

.largeColumn {
  width: 45%;
}
