.metric {
  border: none;
  padding: var(--ds-size-4) var(--ds-size-8) var(--ds-size-6) var(--ds-size-15);
  white-space: nowrap;
}

.metric:before {
  margin-top: 6px;
}

.metricTitle {
  display: flex;
  gap: var(--ds-size-2);
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.metricText {
  display: flex;
  align-items: center;
  gap: var(--ds-size-4);
  white-space: nowrap;
}

.metricCount {
  font-size: 1.4rem;
  font-weight: bold;
}

.chart {
  height: 150px;
  width: 100%;
}
