.title {
  align-items: center;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  gap: var(--ds-size-8);
  margin-bottom: 10px;
}

.name {
  flex: 1;
  padding: 6px 0px;
}

.marker {
  font-size: 2.5rem;
  border-radius: var(--ds-border-radius-md);
  padding: var(--ds-size-1) var(--ds-size-3);
  height: 100px;
  width: 125px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.error {
  color: var(--ds-color-danger-surface-default);
  background-color: var(--ds-color-danger-border-default);
}

.success {
  color: var(--ds-color-success-surface-default);
  background-color: var(--ds-color-success-border-default);
  opacity: 0.7;
}
