.heading {
  display: flex;
  align-items: center;
  gap: var(--ds-size-4);
  margin-bottom: var(--ds-size-8);
  height: 45px;
}

.select {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  margin: 0 !important;
  width: 70px !important;
}

.metrics {
  display: flex;
  gap: var(--ds-size-12);
  flex-wrap: wrap;
}
