.title {
  align-items: center;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  gap: var(--ds-size-8);
}

.name {
  flex: 1;
  padding: 6px 0px;
}

.chart {
  height: 150px;
  width: 300px;
}

.marker {
  font-size: 1.2rem;
  border-radius: var(--ds-border-radius-md);
  padding: var(--ds-size-1) var(--ds-size-3);
}

.error {
  color: var(--ds-color-danger-surface-default);
  background-color: var(--ds-color-danger-border-default);
}

.success {
  color: var(--ds-color-success-surface-default);
  background-color: var(--ds-color-success-border-default);
  opacity: 0.7;
}
