.heading {
  margin-bottom: var(--ds-size-12);
}

.subheading {
  margin-bottom: var(--ds-size-6);
}

.select select {
  font-size: 0.9rem;
}

.content {
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  gap: var(--ds-size-30);
  white-space: nowrap;
}

.metrics {
  display: flex;
  gap: var(--ds-size-12);
  flex-wrap: wrap;
}
