.title {
  align-items: center;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  gap: var(--ds-size-8);
}

.name {
  flex: 1;
  padding: 6px 0px;
}

.chart {
  height: 150px;
  width: 100%;
}

.metric {
  border: none;
  padding: var(--ds-size-4) var(--ds-size-8) var(--ds-size-6) var(--ds-size-15);
  white-space: nowrap;
}

.metric:before {
  margin-top: 6px;
}

.metricTitle {
  display: flex;
  gap: var(--ds-size-2);
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.metricText {
  display: flex;
  align-items: center;
  gap: var(--ds-size-2);
  white-space: nowrap;
}

.metricCount {
  font-size: 1.4rem;
  font-weight: bold;
}

.metricLink {
  margin-left: var(--ds-size-2);
  padding: var(--ds-size-1) var(--ds-size-2);
  text-decoration: underline;
  white-space: nowrap;
}

.metric[data-color='danger'] .metricLink {
  background-color: var(--ds-color-danger-surface-hover);
}

.metric[data-color='success'] .metricLink {
  background-color: var(--ds-color-success-surface-hover);
}

.metric[data-color='info'] .metricLink {
  background-color: var(--ds-color-info-surface-hover);
}
