.heading {
  margin-bottom: var(--ds-size-8);
}

.subheading {
  margin-bottom: var(--ds-size-6);
}

.content {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  gap: var(--ds-size-4);
  flex-wrap: wrap;
  align-items: start;
}

.metrics {
  display: flex;
  gap: var(--ds-size-6);
  flex-wrap: wrap;
}

.metric {
  max-width: 360px;
}
