.hasPolicy {
  background-color: #CFF0FF;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding-block: 5px;
  padding-inline: 15px;
}

.noPolicy {
  background-color: #F1F1F1;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding-block: 5px;
  padding-inline: 15px;
}
