@import 'src/styles/tjenester3.css';

/* Global variables */
:root {
  --table-input-margin: 15px; /* From design-system, move to figma-tokens? */

  --modal-padding-x: 24px;
  --modal-padding-y: 24px;

  --page-max-width: none;
  --page-padding-x: 24px;

  --repeating-group-edit-surface-color: #f1fbff;
  --repeating-group-edit-border-color: var(--colors-blue-400);
  --repeating-group-edit-divider-color: var(--colors-blue-200);
  --repeating-group-error-color: var(--colors-red-200);

  /*Border styles*/
  --border-color-primary: #008fd6;
  --dashed-border-primary: 1px dashed var(--border-color-primary);
  --solid-border-primary: 2px solid var(--border-color-primary);
  --dotted-border-primary: 2px dotted var(--border-color-primary);

  --button-margin-top: 2rem;
  --button-gap: 0.75rem;
}

@media only screen and (min-width: 768px) {
  :root {
    --modal-padding-x: 84px;
    --modal-padding-y: 36px;
  }
}

@media only screen and (min-width: 992px) {
  :root {
    --modal-padding-x: 96px;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --page-max-width: 1056px;
    --page-padding-x: 0;
  }
}

/* Custom CSS for all app */

/* Workaround to avoid (PDF) postfix from Altinn designsystem */
a[href$='.pdf']::after {
  content: none !important;
  display: inline !important;
}

body {
  margin: 0;
  background-color: #efefef;
}

@media print {
  body {
    background-color: white !important;
  }
}

input:checked + .slider {
  background-color: #1eaef7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:focus + .slider {
  box-shadow: 0 0 1px #1eaef7;
}

p {
  font-family: 'Altinn-DIN';
}

h2 {
  font-size: 22px;
  font-weight: normal;
}

@media only screen and (min-width: 576px) {
  h2 {
    font-size: 28px;
  }
}

option {
  overflow: 'hidden';
  text-overflow: 'ellipsis';
}

.a-form-label.description-label {
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
  word-break: break-word;
  text-overflow: ellipsis;
}

.a-form-label.description-label p {
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
}

.a-form-label.description-label ul,
.form-group.a-form-group ul {
  padding-left: 1.25rem;
  margin-bottom: 1rem;
}

.a-form-label.title-label {
  font-weight: 500;
  margin-bottom: 0.75rem;
  word-break: break-word;
  text-overflow: ellipsis;
}

.a-form-label.title-label p {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 0;
}

.label-optional {
  font-size: 0.875rem;
  font-weight: 400;
  color: #6a6a6a;
}

.a-form-group .form-control {
  border: var(--solid-border-primary);
  background-color: #fff;
}

.a-form-group .input-group .input-group-prepend {
  border: var(--solid-border-primary);
}

.attachmentList-title p {
  font-size: 1.25rem;
  font-weight: 500;
}

.cursorPointer {
  cursor: pointer;
}

.hidden-button-text {
  display: none;
}

.react-modal {
  background: transparent;
  min-width: 600px;
  max-width: 800px;
  top: 10%;
  margin-bottom: 10%;
}

.react-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(30, 174, 247, 0.3);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f3f3f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  margin: 0px !important;
}

.slider.round:before {
  border-radius: 50%;
}

select.disabled {
  border: 2px solid #6a6a6a !important;
  color: #000;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjhweCIgaGVpZ2h0PSI0cHgiIHZpZXdCb3g9IjAgMCA4IDQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDQwLjIgKDMzODI2KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5UcmlhbmdsZTwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxwb2x5Z29uIGlkPSJUcmlhbmdsZSIgZmlsbD0iIzAwMDAwMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNC4wMDAwMDAsIDIuMDAwMDAwKSBzY2FsZSgxLCAtMSkgdHJhbnNsYXRlKC00LjAwMDAwMCwgLTIuMDAwMDAwKSAiIHBvaW50cz0iNCAwIDggNCAwIDQiPjwvcG9seWdvbj4KICAgIDwvZz4KPC9zdmc+)
      no-repeat right 0.469rem center,
    repeating-linear-gradient(135deg, #efefef, #efefef 2px, #fff 3px, #fff 5px) !important;
  background-size: 8px 10px, cover !important;
}

/* Modal header */
.a-iconText.a-iconText-background {
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #eee;
}

[dir='ltr'] .a-iconText.a-iconText-background {
  padding-left: 24px;
}

[dir='rtl'] .a-iconText.a-iconText-background {
  padding-right: 24px;
}

@media only screen and (min-width: 768px) {
  [dir='ltr'] .a-iconText.a-iconText-background {
    padding-left: 84px;
  }

  [dir='rtl'] .a-iconText.a-iconText-background {
    padding-right: 84px;
  }
}

@media only screen and (min-width: 992px) {
  [dir='ltr'] .a-iconText.a-iconText-background {
    padding-left: 96px;
  }

  [dir='rtl'] .a-iconText.a-iconText-background {
    padding-right: 96px;
  }
}

/* Modal body */

#errorReport .modal-content {
  margin-bottom: 24px;
}

.language-dir-rtl {
  direction: rtl;
  text-align: right;
}

/* Align text in table when right to left languages*/
[dir='rtl'] td {
  text-align: right;
}

/* Modal header */

.a-modal-navbar {
  margin-top: 12px;
}

@media only screen and (min-width: 977px) {
  .a-modal-navbar {
    margin-top: 36px;
  }
}

/* Button */
.a-btn-sm-fullwidth {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .a-btn-sm-fullwidth {
    width: auto;
  }
}

.a-btn-success:focus {
  outline: 2px solid #0062ba;
}
