.navigationMenu {
  display: flex;
  align-items: center;
  padding: var(--fds-spacing-1);
  background-color: var(--background-color);
  border: 0.5px solid var(--fds-semantic-border-neutral-subtle);
}

.navigationMenuGroup {
  border-bottom: 0;
}

.accordionHeader,
.accordionHeaderWarning {
  flex: 1;
}

.accordionHeaderWarning button {
  background-color: var(--fds-semantic-surface-danger-subtle) !important;
}

.accordionContent {
  padding: 0;
  background-color: var(--fds-semantic-surface-neutral-default);
}

.accordionItem:not(:first-child) {
  border-top: 1px solid var(--fds-semantic-border-neutral-subtle);
}

.accordionHeaderRow {
  display: flex;
  border-left: 0.5px solid var(--fds-semantic-border-neutral-subtle);
}

.pdfIcon {
  font-size: var(--fds-sizing-6);
}

.customNavigationMenu {
  background-color: var(--fds-semantic-surface-neutral-neutral);
}
