.container {
  --toolbar-height: 55px;
  --header-border-bottom-width: 1px;
  --header-height: calc(var(--toolbar-height) * 2 + var(--header-border-bottom-width));
  --left-menu-width: 68px;

  background-color: lightgray;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .container {
    --header-height: calc(var(--toolbar-height) + var(--header-border-bottom-width));
  }
}

.contentWrapper {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: var(--header-height);
}

.mergeConflictApp {
  height: 100%;
  width: 100%;
}

.subApp {
  background: white;
  height: calc(100vh - var(--header-height));
  flex: 1 0 0;
}

.subApp > div {
  height: 100%;
}
