.settingsHeading {
  display: flex;
  align-items: center;
  padding-left: var(--ds-size-4);
  padding-block: var(--ds-size-4);
}

.settingsHeadingDescription {
  padding: var(--ds-size-4);
  padding-top: 0;
}
