.navigationTabContent {
  --icon-size: 28px;
  --icon-size-locker: 21px;
  --icon-border-width: 2px;
  --font-weight-semi-bold: 500;
  --task-list-height: 637px;
  --task-list-width: 541px;
  --border-radius: 8px;
  --paragraph-width: 750px;
}

.navigationTabContent {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-5);
}

.navigationTabContent p {
  max-width: var(--paragraph-width);
  padding-top: var(--fds-spacing-1);
}

.navigationTaskList {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-5);
  max-width: var(--task-list-width);
  max-height: var(--task-list-height);
  padding: var(--fds-spacing-3) var(--fds-spacing-5);
  background-color: var(--fds-semantic-surface-neutral-subtle);
  border: var(--fds-border_width-default) solid #b8bcc1;
  border-radius: var(--border-radius);
  overflow-y: auto;
}

.taskWrapper,
.taskContent {
  display: flex;
  align-items: center;
}

.taskWrapper {
  justify-content: space-between;
}

.taskTypeName {
  font-weight: var(--font-weight-semi-bold);
  margin-left: var(--fds-spacing-2);
}

.taskIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  width: var(--icon-size);
  height: var(--icon-size);

  border: var(--icon-border-width) solid var(--fds-colors-grey-600);
  border-radius: var(--fds-border_radius-interactive);

  background-color: var(--fds-colors-grey-100);
  color: var(--fds-colors-grey-800);
}

.taskIconLocker {
  width: var(--icon-size-locker);
  height: var(--icon-size-locker);
}

.warningMessage {
  display: inline-flex;
}
