.navigationTabContent {
  max-width: 744px;
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-5);
}

.navigationDescription {
  padding-top: var(--fds-spacing-1);
}

.divider {
  border-top: 1px solid;
  border-color: var(--fds-semantic-border-divider-subtle);
  width: 90%;
  margin-left: 0;
}
