.resourceAccessListsWrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--ds-size-9);
  margin: var(--ds-size-4);
}

.listCheckboxWrapper {
  width: 100%;
}

.listCheckboxItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--ds-size-4);
  padding: var(--ds-size-2);
  border-bottom: 1px solid var(--ds-color-border-subtle);
}
