.nameCell {
  width: 70%;
  word-break: break-all;
}

.dateCell {
  width: 10%;
  white-space: nowrap;
}

.expiredTag {
  margin-left: var(--ds-size-2);
}

.deleteCell {
  text-align: end;
  width: 10%;
}

@keyframes fadeHighlight {
  0% {
    background-color: var(--ds-color-success-surface-tinted);
  }
  100% {
    background-color: transparent;
  }
}

.newRow td {
  animation: fadeHighlight 3s ease-out forwards;
}
