.nameCell {
  word-break: break-all;
}

.dateCell {
  white-space: nowrap;
}

.expiredTag {
  margin-left: var(--ds-size-2);
}

.deleteCell {
  text-align: end;
}

@keyframes fadeHighlight {
  0% {
    background-color: var(--ds-color-success-surface-tinted);
  }
  100% {
    background-color: transparent;
  }
}

.newRow td {
  animation: fadeHighlight 3s ease-out forwards;
}
