.container {
  display: flex;
  flex-direction: column;
  margin: 100px auto auto;
  background-color: white;
  padding: 50px 100px;
  width: 660px;
  border: 1px solid #c9c9c9;
  border-radius: var(--ds-border-radius-md);
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: var(--fds-spacing-3);
  padding-top: var(--fds-spacing-3);
  padding-bottom: var(--fds-spacing-3);
}

.link {
  padding-bottom: var(--fds-spacing-3);
}
