.wrapper {
  display: flex;
  justify-content: space-between;
  margin-block: var(--ds-size-3);
}

.inputWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: var(--ds-size-1);
}

.textfieldWrapper {
  width: 48%;
}

.buttonWrapper {
  width: var(--ds-size-8);
}

.label {
  margin-bottom: var(--ds-size-2);
}
