<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.DisplayName}}, velkommen til {{AppName}}</title>
</head>

<body>
	<p>Hei <b>{{.DisplayName}}</b>, dette er en bekreftelse på din registrering i {{AppName}}!</p>
	<p>Du kan logge inn med brukernavn: {{.Username}}.</p>
	<p><a href="{{AppUrl}}user/login">{{AppUrl}}user/login</a></p>
	<p>Hvis denne kontoen har blitt opprettet for deg, vennligst <a href="{{AppUrl}}user/forgot_password">sett nytt passord</a> first.</p>
	<p>© <a target="_blank" rel="noopener noreferrer" href="{{AppUrl}}">{{AppName}}</a></p>
</body>
</html>
