.preview,
.edit,
.container {
  display: flex;
}

.preview {
  align-items: center;
  justify-content: space-between;
  min-height: var(--fds-sizing-10);
}

.edit {
  background-color: white;
  border-radius: 4px;
  border: 1px solid var(--fds-semantic-border-divider-default);
  flex-direction: column;
  gap: 1rem;
  padding: var(--fds-spacing-4);
}

.buttonWrapper {
  display: flex;
  gap: 1rem;
}
