.header {
  border-bottom: var(--studio-border-divider);
  padding-bottom: var(--fds-spacing-5);
}

.resourcesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--fds-spacing-5);
  padding-top: var(--fds-spacing-5);
}
