@{ViewBag.Title = "Dokumentasjon";}



<a href="https://docs.altinn.studio/" target="_blank" title="Dokumentasjon på GitHub (åpnes i nytt vindu)">
    <i class="fab fa-github"  aria-hidden="true"></i> https://docs.altinn.studio/
</a>
