@{
  ViewBag.Title = "Altinn Studio";
}
<html lang="no">

<head>
  <title>@ViewBag.Title</title>
  <link rel="shortcut icon" href="~/designer/img/favicon.ico" />
  <link rel="stylesheet" href="~/designer/css/react/dashboard.css" />
</head>

<body>
  <div id="root" class="media-body flex-column d-flex"></div>
  @*<script src="~/designer/js/react/dashboard.js" type="text/javascript"></script>*@
  <script src="http://localhost:8080/dashboard.js" type="text/javascript"></script>
</body>

</html>
