.description {
  word-break: break-word;
  line-height: var(--ds-size-6);
  color: var(--semantic-text-neutral-subtle);
  display: inline-block;
  font-weight: normal;
  font-size: var(--ds-size-4);
}
