.container {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-4);
  padding: 0;
  --custom-receipt-spacing: var(--fds-spacing-5);
}

.customReceiptText {
  padding-inline: var(--custom-receipt-spacing);
}

.paragraph {
  padding-bottom: var(--fds-spacing-1);
}

.detailsContent {
  margin: 0;
  padding: var(--fds-spacing-5);
  padding-inline: 0;
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-2);
}
