.textEditor {
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: grid;
  grid-template-columns: auto minmax(20%, 400px);
  justify-items: center;
}

.search {
  width: 100%;
  max-width: var(--studio-search-max-width);
}

.textEditorMain {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.textEditorTopRow {
  border-bottom: 1px solid #bcc7cc;
  padding: var(--ds-size-6);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.filterAndSearch {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--ds-size-4);
  justify-content: flex-end;
}

.sortAlphabetically {
  gap: var(--ds-size-4);
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.sortChip > input {
  position: absolute;
  height: 1px;
  width: 1px;
  opacity: 0;
  pointer-events: none;
}

.textEditorBody {
  margin-left: var(--ds-size-6);
  overflow: auto;
}

::-webkit-scrollbar {
  height: 5px;
}
