.editLinkCell {
  display: flex;
  justify-content: flex-end;
}

.editLink {
  font-size: var(--ds-font-size-7);
}

.tagContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--ds-size-1);
}

.headerCell {
  top: 0;
  position: sticky;
  background: #fff;
}

.envHeaderCell {
  display: flex;
  align-items: center;
  gap: var(--ds-size-2);
}
