<configuration>
  <config>
    <add key="maxHttpRequestsPerSource" value="100" />
  </config>
  <!--
    The v8 side of the upgrade tests runs a released v8 version of the app libraries from nuget.org,
    so unlike the other test apps it does not map Altinn.App.* to the locally packed libraries.
  -->
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
