.errorList {
  padding: 0;
  padding-top: var(--ds-size-2);
  margin: 0;
  list-style-type: none;
}

.softValidation {
  margin-top: var(--ds-size-2);
  break-inside: avoid;
}

.softValidationListItem {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
