# Dependency directories
node_modules/

# Example tests
cypress/integration/examples

# Environment settings
cypress.env.json

# Screenshots and videos
screenshots/
videos/

# Reports
reports/

# Downloads
downloads/

#https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
/.pnp.*
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions

.env

# Redux state history saved when tests fail
/redux-history
