## Create a copy of this file and name it ".env", and update the values to your needs.

## This should be the path to where docker-compose for localtest is
LOCALTEST_PATH="C:/Code/altinn-studio/src/development"

## This should be the path to the root folder of the app you want to run tests against
APP_PATH="C:/Code/altinn-app-repos/frontend-test"

## This should be the path to the root of app-frontend project
APP_FRONTEND_PATH="C:/Code/app-frontend-react"
