.root {
  --gap: var(--ds-size-2);
  align-items: center;
  display: flex;
  padding: var(--gap) 0;
  gap: var(--gap);
}

.heading .headingButton {
  display: flex;
  font-size: var(--ds-font-size-4);
  line-height: var(--ds-line-height-sm);
  font-weight: var(--ds-font-weight-regular);
  border: none;
  border-radius: 0;
  color: var(--ds-color-neutral-text-default);
}

.root.selected .headingButton {
  background-color: var(--studio-legacy-treeitem-selected-background-colour);
  box-shadow: inset var(--studio-legacy-treeitem-vertical-line-width) 0 0 0
    var(--studio-legacy-treeitem-vertical-line-colour-root);
}
