.mainContentContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 750px;
}
.mainContentContainer h2 {
  font-size: 20px;
  margin-top: 20px;
}
.mainContentContainer > * {
  margin: 0;
}
.sideBySide {
  display: flex;
  flex-direction: row;
}
.sideBySide :first-child {
  flex: 1;
}
