.modalContainer {
  padding: 24px;
  width: 471px;
  display: flex;
  gap: 18px;
  flex-direction: column;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}
