.configPanel {
  background-color: var(--ds-color-neutral-surface-tinted);
  overflow-y: scroll;
  border-left: 1px solid var(--ds-color-neutral-border-subtle);
}

.configPanelParagraph {
  margin-inline: 1rem;
  margin-top: 1rem;
}
