@using AltinnCore.ServiceLibrary.Configuration;
@using AltinnCore.Common.Models;
@model AltinnStudioViewModel

@{ViewBag.Title = "Ny tjeneste";}

<!--h3>Ny tjeneste</h3-->

<form asp-route-controller="Owner" asp-route-action="CreateService">
    <fieldset>
        <div class="form-group">
            <label asp-for="ServiceConfiguration.Code">Navn</label>
            <input asp-for="ServiceConfiguration.Code" type="text" required="required" minlength="3" maxlength="30" pattern="[a-zA-Z][a-zA-Z0-9_\-]{2,30}"
                class="form-control" placeholder="Eksempel: lakselus" onchange="$('#name').html(this.value);" autocomplete="off" autofocus="true" 
                title="Må begynne med en bokstav og ikke inneholde mellomrom eller spesialtegn ('-' er tillatt)" />
            <div>
                <span class="text-danger" asp-validation-for="ServiceConfiguration.Code"></span>
            </div>

            @if (ViewBag.serviceNameAlreadyExists == true)
            {
                <p class="help-block errormsg">Angitt navn finnes allerede</p>
            }    
            <small class="text-muted">Navnet vil også benyttes for tjenestens Git-repository, i menyen og i URL'er. Navnet som brukerne ser konfigureres senere.</small>
        </div>
      @if (!Model.MissingAppToken)
      {
        <input class="btn btn-primary" type="submit" value="Lag ny tjeneste">
      }
      <a href="/Home/Apptoken">Du må registrere App token før du kan lage tjenester</a>
    </fieldset>
</form>