.handle {
  --point-size: 3px;
  border-width: 0;
  width: var(--drag-handle-inner-width, var(--drag-handle-width, 25px));
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
  height: 100%;
}

.points {
  display: grid;
  grid-template: var(--point-size) / var(--point-size) var(--point-size);
  gap: var(--point-size);
  margin: auto;
}

.points span {
  background: #00000040;
  width: var(--point-size);
  height: var(--point-size);
  border-radius: 50%;
}
