.wrapper {
  align-items: stretch;
  display: flex;
}

.formComponentWithHandle {
  align-items: stretch;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.editMode .formComponentWithHandle,
.previewMode .formComponentWithHandle {
  border: 1px dashed transparent;
}

.editMode .formComponentWithHandle {
  border-color: #008fd6;
  box-shadow: 0 0 4px #1eadf740;
  border-radius: 5px;
}

.dragHandle {
  background-color: #00000010;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  width: var(--drag-handle-width);
}

.dragHandle,
.buttons {
  visibility: hidden;
}

.editMode .dragHandle,
.editMode .buttons,
.wrapper:hover .dragHandle,
.wrapper:hover .buttons {
  visibility: visible;
}

.buttons:has(button[aria-expanded='true']) {
  visibility: visible;
}

.editMode .dragHandle {
  --drag-handle-border-left-width: 6px;
  --drag-handle-inner-width: calc(var(--drag-handle-width) - var(--drag-handle-border-left-width));
  border-left: var(--drag-handle-border-left-width) solid #008fd6;
  box-sizing: border-box;
}

.formComponentWithHandle:has(.dragHandle:hover) {
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
}

.formComponent {
  background-color: #fff;
  border: 1px solid #6a6a6a;
  color: #022f51;
  flex: 1;
  padding: 1rem;
  cursor: pointer;
}

.editMode .formComponent,
.previewMode .formComponent {
  border: 0;
}

.previewMode:not(.editMode):hover .formComponent {
  background-color: #00000010;
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-left: var(--buttons-distance);
  gap: var(--buttons-distance);
}

.formComponentTitle {
  margin-top: 0.6rem;
  color: #022f51;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.formComponentTitle .icon {
  font-size: 2rem;
  display: inline-flex;
}
