/*
  The use of !important in this file is to override old design system global css,
  Remove when the old global css is gone
*/

.link {
  composes: focusable from 'src/styles/utils.module.css';
  color: var(--semantic-surface-action-default) !important;
  border: none !important; /* Override old design-system global css, remove when possible */
  border-radius: var(--interactive_components-border_radius-normal);
  padding: 4px;
}

.link:hover {
  color: var(--semantic-surface-action-hover) !important;
}

.link:active {
  color: var(--semantic-surface-action-active) !important;
}

/* Override old design-system global css, remove when possible */
.link::after {
  display: unset !important;
  width: unset !important;
  background-image: unset !important;
  background-repeat: unset !important;
  background-size: unset !important;
  vertical-align: unset !important;
  margin-top: unset !important;
  margin-left: unset !important;
  content: unset !important;
  white-space: unset !important;
  overflow: unset !important;
  text-indent: unset !important;
}

.link_text {
  border-bottom: 2px solid;
}
