.editLinkCell {
  display: flex;
  justify-content: flex-end;
}

.editLink {
  color: var(--fds-semantic-text-action-default);
  font-size: var(--fds-sizing-7);
}

.tagContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--fds-spacing-1);
}
