.editLinkCell {
  display: flex;
  justify-content: flex-end;
}

.editLink {
  color: #165db8;
  font-size: 1.5em;
}

.tagContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--fds-spacing-1);
}
