.profileWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--fds-semantic-border-divider-default);
  padding-bottom: var(--fds-spacing-2);
}

.profileText {
  margin-top: var(--fds-spacing-1);
  white-space: pre-line;
  text-align: center;
}

.dropDownMenuGroup:not(:last-child) {
  border-bottom: 1px solid var(--fds-semantic-border-divider-default);
  padding-bottom: var(--fds-spacing-2);
}

.dropDownMenuGroup:not(:first-child) {
  padding-top: var(--fds-spacing-2);
}
