name: Deploy Kubernetes Wrapper
on:

  workflow_dispatch:
    inputs:
      environments:
        description: 'Environments to deploy to. Multiple environments can be specified by separating them with a comma.'
        required: false
        default: 'dev'
      override-tag:
        type: boolean
        description: If true, workflow will not be stopped if tag already exists
        default: false

  schedule:
    - cron: '0 8 * * 1' # 8 AM UTC every Monday

permissions:
      id-token: write
      contents: read

jobs:
  get-short-sha:
    uses: ./.github/workflows/template-short-sha.yaml
    with:
      checkout-repository: 'Altinn/app-kubernetes-wrapper'

  determine-tag-exists:
    needs: get-short-sha
    environment: dev
    runs-on: ubuntu-latest
    outputs:
      tag-exists: ${{ steps.determine-tag-exists.outputs.tag-exists }}
    env:
      repository-name: altinn-kuberneteswrapper
      registry-name: altinntjenestercontainerregistry
    steps:
      - name: 'Azure login'
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID_FC }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID_FC }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID_FC }}

      - name: Determine tag exists
        id: determine-tag-exists
        uses: azure/CLI@9f7ce6f37c31b777ec6c6b6d1dfe7db79f497956 # v2
        with:
          azcliversion: latest
          inlineScript: |
            SHORT_SHA=${{ needs.get-short-sha.outputs.short-sha }}
            exists_tag=$(az acr repository show-tags --name ${{ env.registry-name }} --repository ${{ env.repository-name }} --query "[?contains(@, '$SHORT_SHA')]" --output tsv)
            if [ -z "$exists_tag" ]; then
              echo "tag-exists=false" >> $GITHUB_OUTPUT
            else
              echo "tag-exists=true" >> $GITHUB_OUTPUT
            fi

  construct-environments-array:
    needs: [get-short-sha, determine-tag-exists]
    if: ${{ needs.determine-tag-exists.outputs.tag-exists == 'false' || github.event.inputs.override-tag }}
    uses: ./.github/workflows/template-construct-environments.yaml
    with:
      environments: ${{ github.event.inputs.environments || 'dev,staging,prod' }}

  docker-build-push:
    needs: [get-short-sha, determine-tag-exists, construct-environments-array]
    uses: ./.github/workflows/template-docker-push.yaml
    with:
      tags: ${{ needs.get-short-sha.outputs.short-sha }},latest
      registry-name: altinntjenestercontainerregistry.azurecr.io
      repository-name: altinn-kuberneteswrapper
      environment: dev # dev environment has push access and doesn't require review
      checkout-repository: 'Altinn/app-kubernetes-wrapper'
      context: src/KubernetesWrapper
      dockerfile: src/KubernetesWrapper/Dockerfile
    secrets:
      client-id: ${{ secrets.AZURE_CLIENT_ID_FC }}
      tenant-id: ${{ secrets.AZURE_TENANT_ID_FC }}
      subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID_FC }}

  helm-push:
    needs: [get-short-sha, determine-tag-exists, construct-environments-array]
    uses: ./.github/workflows/template-helm-push.yaml
    with:
      tag: 0.1.0+${{ needs.get-short-sha.outputs.short-sha }} # Helm version needs to be valid sematic version
      chart-name: kuberneteswrapper
      registry-name: altinntjenestercontainerregistry.azurecr.io
      environment: dev
    secrets:
      client-id: ${{ secrets.AZURE_CLIENT_ID_FC }}
      tenant-id: ${{ secrets.AZURE_TENANT_ID_FC }}
      subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID_FC }}

  flux-config-push:
    needs: [get-short-sha, construct-environments-array, docker-build-push, helm-push]
    strategy:
      matrix:
        environment: ${{ fromJSON(needs.construct-environments-array.outputs.environmentsjson) }}
    uses: ./.github/workflows/template-flux-config-push.yaml
    with:
      tag: ${{ needs.get-short-sha.outputs.short-sha }}
      registry-name: altinntjenestercontainerregistry.azurecr.io
      environment: ${{ matrix.environment }}
      config-chart-name: kuberneteswrapper-config
      artifact-name: kuberneteswrapper
      helm-set-arguments: environmentName=${{ matrix.environment }},chartVersion=0.1.0+${{ needs.get-short-sha.outputs.short-sha }},imageTag=${{ needs.get-short-sha.outputs.short-sha }}
    secrets:
      client-id: ${{ secrets.AZURE_CLIENT_ID_FC }}
      tenant-id: ${{ secrets.AZURE_TENANT_ID_FC }}
      subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID_FC }}

