name: AI - deploy mcp server

on:
  push:
    branches:
      - main
    paths:
      - src/AI/mcp/**
      - .github/workflows/deploy-studio-mcp-server.yaml
  workflow_dispatch:
    inputs:
      environments:
        description: 'Environments to deploy to. Multiple environments can be specified by separating them with a comma.'
        required: false
        default: 'dev'

permissions:
  id-token: write
  contents: read

jobs:

  get-short-sha:
    uses: ./.github/workflows/template-short-sha.yaml

  construct-environments-array:
    uses: ./.github/workflows/template-construct-environments.yaml
    with:
      environments: ${{ github.event.inputs.environments || 'dev,staging,prod' }}

  push-artifact:
    name: Push mcp server as OCI artifact
    needs: get-short-sha
    runs-on: ubuntu-latest
    environment: dev
    env:
      REGISTRY_NAME: altinntjenestercontainerregistry
      IMAGE_REPO: altinntjenestercontainerregistry.azurecr.io/altinn-mcp-server:${{ needs.get-short-sha.outputs.short-sha }}
      CONFIG_REPO: altinntjenestercontainerregistry.azurecr.io/configs/altinn-mcp-server-repo:${{ needs.get-short-sha.outputs.short-sha }}
    outputs:
      CONFIG_REPO: altinntjenestercontainerregistry.azurecr.io/configs/altinn-mcp-server-repo:${{ needs.get-short-sha.outputs.short-sha }}
    defaults:
      run:
        working-directory: src/AI/mcp
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: az login
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID_FC }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID_FC }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID_FC }}

      - name: az acr login
        run: az acr login --name ${{ env.REGISTRY_NAME }}

      - name: flux install
        uses: fluxcd/flux2/action@6bf37f6a560fd84982d67f853162e4b3c2235edb # v2.6.4

      - name: docker build
        run: docker build -t ${{ env.IMAGE_REPO }} -f dockerfile .

      # - name: scan image
      #   uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
      #   with:
      #     image-ref: '${{ env.IMAGE_REPO }}'
      #     format: 'table'
      #     exit-code: '1'
      #     ignore-unfixed: true
      #     vuln-type: 'os,library'
      #     severity: 'CRITICAL,HIGH'

      - name: push image
        run: docker push ${{ env.IMAGE_REPO }}

      - name: patch base with image tag
        working-directory: src/AI/mcp/infra/kustomize
        run: |
          export IMAGE="${{ env.IMAGE_REPO }}"
          export IMAGE_TAG="${{ needs.get-short-sha.outputs.short-sha }}"
          yq -i '.metadata.annotations["altinn.studio/image"] = env(IMAGE)' deployment.yaml
          yq -i '.metadata.annotations["altinn.studio/image-tag"] = env(IMAGE_TAG)' deployment.yaml

      - name: push artifact
        working-directory: src/AI/mcp/infra/kustomize
        run: |
          flux push artifact oci://${{ env.CONFIG_REPO }} \
            --provider=azure \
            --reproducible \
            --path="." \
            --source="$(git config --get remote.origin.url)" \
            --revision="$(git branch --show-current)/$(git rev-parse HEAD)"

  tag:
    name: Tag artifact
    needs: [push-artifact, construct-environments-array]
    runs-on: ubuntu-latest
    environment: ${{ matrix.environment }}
    env:
      REGISTRY_NAME: altinntjenestercontainerregistry
    strategy:
      matrix:
        environment: ${{ fromJSON(needs.construct-environments-array.outputs.environmentsjson) }}
    steps:
      - name: az login
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID_FC }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID_FC }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID_FC }}

      - name: az acr login
        run: az acr login --name ${{ env.REGISTRY_NAME }}

      - name: flux install
        uses: fluxcd/flux2/action@6bf37f6a560fd84982d67f853162e4b3c2235edb # v2.6.4

      - name: tag artifact
        run: |
          flux tag artifact oci://${{ needs.push-artifact.outputs.CONFIG_REPO }} \
            --tag ${{ matrix.environment }}

