name: Designer Frontend - Configuration coverage stats

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    paths:
    - 'src/Designer/frontend/app-development/**'
    - 'src/Designer/frontend/packages/ux-editor/**'
    - 'src/Designer/frontend/scripts/configurationStats/**'
    - '.github/workflows/designer-frontend-config-coverage.yml'

jobs:
  stats:
    name: 'Generate stats on configuration coverage'
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: 'Checking Out Code'
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0

      - name: 'Installing Dependencies'
        run: cd src/Designer/frontend/scripts && yarn --immutable

      - name: 'Running stats generation'
        run: cd src/Designer/frontend/scripts && yarn run generate-config-coverage-stats
