name: Frontend Tests

on:
  push:
    paths:
      - 'frontend/**'
      - '!frontend/testing/cypress/**'
      - 'testdata/**'
      - '.github/workflows/frontend-unit-tests.yml'
      - 'package.json'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  CYPRESS_INSTALL_BINARY: 0

jobs:
  codeql:
    name: 'CodeQL'
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: 'Checking Out Code'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 'Initialize CodeQL'
        uses: github/codeql-action/init@v2
        with:
          languages: javascript
          queries: +security-and-quality
          config-file: .github/codeql/codeql-config.yml

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
        with:
          category: '/language:javascript'

  typecheck:
    name: 'Typechecking and linting'
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: 'Checking Out Code'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 'Installing Dependencies'
        uses: ./.github/actions/yarn-install

      - name: 'Doing the typecheck'
        run: yarn typecheck

      - name: 'Running Eslint'
        run: yarn lint

  test:
    name: 'Testing'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checking Out Code'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 'Installing Dependencies'
        uses: ./.github/actions/yarn-install

      - name: 'Running Unit Tests'
        run: yarn test:ci

      - name: 'Upload coverage reports to Codecov'
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          directory: frontend/coverage
          fail_ci_if_error: true

  build:
    name: 'Building'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checking Out Code'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 'Installing Dependencies'
        uses: ./.github/actions/yarn-install

      - name: 'Building'
        run: yarn build
