name: MCP - Test

on:
  pull_request:
    paths:
      - 'src/AI/mcp/**'
  push:
    branches:
      - 'feat/mcp-unit-tests-workflow'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

    - name: Set up Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
      with:
        python-version: '3.12'

    - name: Install uv
      run: pip install uv

    - name: Install dependencies
      working-directory: src/AI/mcp
      run: uv pip install --system .[dev]

    - name: Run MCP unit tests
      working-directory: src/AI/mcp
      run: python -m pytest
