name: Repositories Scan

on:
  schedule:
  - cron: '0 8 * * 1,4'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
    - name: Build the Docker image
      run: docker build ./gitea --tag altinn-repos:${{github.sha}}

    - uses: Azure/container-scan@f9af925b897d8af5f7e0026b8bca9346261abc93 # v0
      env:
        # See https://github.com/goodwithtech/dockle/issues/188
        DOCKLE_HOST: "unix:///var/run/docker.sock"
      with:
        image-name: altinn-repos:${{github.sha}}
