name: pdf3 - Build

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    paths:
      - 'src/Runtime/pdf3/**'
      - 'src/Runtime/devenv/**'
      - '.github/workflows/runtime-pdf3-build.yml'
  workflow_dispatch:

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: src/Runtime/pdf3

    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: src/Runtime/pdf3/go.mod
          cache-dependency-path: src/Runtime/pdf3/go.sum

      - name: Run fmt
        run: make fmt

      - name: Run linters
        run: make lint

      - name: Run unit tests
        run: make test

      - name: Run fixture
        run: make start-minimal

      - name: Run e2e tests
        run: make test-e2e

      - name: Upload test logs
        if: failure()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: runtime-pdf3-test-logs
          path: src/Runtime/pdf3/test/logs/
          retention-days: 7
