.settingsModal[open] {
  --settings-modal-width: min(80vw, 150rem);

  height: 80vh;
  max-width: unset;
  width: var(--settings-modal-width);
}

.modalContent {
  display: flex;
  flex: 1;
}

.leftNavWrapper {
  overflow-y: auto;
  width: 250px;
}

.contentWrapper {
  flex: 1;
  overflow-y: auto;
  padding: var(--studio-modal-spacing);
}

.icon {
  font-size: 2rem;
}
