.root {
  display: flex;
  flex-direction: column;
  flex: var(--preview-width-fraction);
}

.toolbar {
  display: flex;
}

.toolbarCollapsed {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.iframeContainer {
  display: flex;
  justify-content: center;
  flex: 1;
  background-color: var(--fds-semantic-surface-neutral-dark);
}

.iframe {
  border: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.previewArea {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.alert {
  margin: var(--fds-spacing-4);
}
