.buttonContainer {
  display: flex;
  gap: var(--fds-spacing-3);
}

.alertContainer {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-3);
}

.paymentContainer {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-6);
}
